<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>      
      <v-card>
        <v-card-title>
          <span class="title mr-2">Laporan</span>
          <v-spacer></v-spacer>
          <!-- <v-btn color="warning" :disabled="newUsers.length == 0 || pdfLoading" :loading="pdfLoading" @click="generatePDF">Buat PDF</v-btn> -->
          <v-btn color="primary" :disabled="disableButton" @click="generate" :loading="generatorLoading">Tampilkan Laporan</v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pt-4 pb-0">
          <v-layout row wrap>
            <v-flex xs12 sm6>
              <v-combobox
                v-model="reportType"
                :items="reportTypes"
                :error-messages="errors.collect('type')"
                v-validate="'required'"
                data-vv-name="type"
                required
                prepend-icon="assessment"
                box
                label="Jenis Laporan"
              ></v-combobox>
            </v-flex>
            <v-flex xs12 sm6>
              <v-combobox
                v-model="year"
                :items="yearlist"
                :error-messages="errors.collect('year')"
                v-validate="'required'"
                data-vv-name="year"
                required
                prepend-icon="event"
                box
                label="Tahun"
              ></v-combobox>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- RESULT -->
    <v-flex xs12 v-if="result.length > 0" class="mt-2">
      <v-card color="grey lighten-2">
        <v-card-title>
          <span class="title mr-2">Laporan {{ reportType }} per Tahun {{ year }}</span>
          <v-spacer></v-spacer>
          <v-btn color="warning" @click="download" :loading="downloadLoading">Unduh Laporan<v-icon right>cloud_download</v-icon></v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <data-table
          :headers="headers"
          :items="result"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex'
import DataTable from '../../DataTable'
let jsPDF = require('jspdf');
require('jspdf-autotable');

export default {
  $_veeValidate: {
    validator: 'new'
  },

  components: {
    DataTable
  },

  data: () => ({
    dictionary: {
      custom: {
        type: {
          required: 'Silakan pilih jenis laporan.',
        },
        year: {
          required: 'Silakan tentukan tahun laporan.',
        },
      }
    },
    breadrumbItems: [
      {
        text: 'Dashboard',
        disabled: false,
        href: 'dashboard'
      },
      {
        text: 'Laporan',
        disabled: true
      },
    ],
    headers: [
      { text: 'Bulan', value: 'month', align: 'right' },
      { text: 'Jumlah', value: 'total', align: 'right' },
    ],  
    reportType: null,
    reportTypes: [
      'Jumlah Peserta Terdaftar',
      'Jumlah Peserta Diterima'
    ],
    year: null,
    generatorLoading: false,
    downloadLoading: false,
    result: [],
  }),

  computed: {
    yearlist() {
      let years = []
      let min = new Date('2000').getFullYear()
      let max = new Date().getFullYear()

      for (let i = max; i >= min; i--) {
        years.push(i)
      }

      return years
    },

    dateRange() {
      let date = {
        start_date: this.year.toString().concat('-').concat('01-01').concat(' 00:00:00'),
        end_date: this.year.toString().concat('-').concat('12-31').concat(' 23:59:59')
      }

      return date
    },

    disableButton() {
      return this.reportType && this.year ? false : true
    },

    getReportTypeKey() {
      return this.reportTypes.findIndex(e => e === this.reportType)
    }
  },

  methods: {
    ...mapActions({
      generateRegisteredUsersReport: 'report/getRegisteredUsersReport',
      generatePassedUsersReport: 'report/getPassedUsersReport'
    }),

    registeredUsersReportHandler() {
      this.generateRegisteredUsersReport(this.dateRange)
        .then(res => {
          this.generatorLoading = false

          for (let i = 1; i <= 12; i++) {
            if (res.some(e => e.month == i)) {
              this.result.push(res[res.findIndex(e => e.month == i)])
            } else {
              this.result.push({ month: i, total: 0 })
            }
          }
        })
        .catch(() => {
          // console.log(err)
        })
    },

    passedUsersReportHandler() {
      this.generatePassedUsersReport(this.dateRange)
        .then(res => {
          this.generatorLoading = false

          for (let i = 1; i <= 12; i++) {
            if (res.some(e => e.month == i)) {
              this.result.push(res[res.findIndex(e => e.month == i)])
            } else {
              this.result.push({ month: i, total: 0 })
            }
          }
        })
        .catch(() => {
          // console.log(err)
        })
    },

    generate() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            this.result = []
            this.generatorLoading = true

            this.getReportTypeKey == 0
            ? this.registeredUsersReportHandler()
            : this.getReportTypeKey == 1
            ? this.passedUsersReportHandler()
            : null
          }
        })
    },

    download() {
      this.downloadLoading = true
      let headerText = this.reportType.concat(' per Tahun ').concat(this.year)
      var columns = []
      var rows = []

      this.headers.forEach(e => {
        columns.push(e.text)
      })

      this.result.forEach(e => {
        rows.push([e.month, e.total])
      })
      
      var doc = new jsPDF('p', 'pt');

      doc.autoTable(columns, rows, {
        columnStyles: {
          id: {fillColor: [255, 255, 200]}
        },
        margin: {top: 60},
        didDrawPage: function() {
          doc.text(headerText, 40, 35);
        }
      });

      doc.save('table.pdf');

      this.downloadLoading = false
    }
  },

  watch: {
    reportType(val) {
     if (val)
       this.result = []
    },

    year(val) {
      if (val)
        this.result = []
    }
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },
}
</script>

<style>

</style>