<template>
  <v-dialog v-model="dialog" max-width="600px" scrollable>
    <v-card>
      <v-card-title>
        <span class="headline">Detail Peserta</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex sm12>
              <v-text-field
                label="Nama Lengkap"
                :value="name"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-text-field
                label="Jenjang Studi"
                :value="level"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-text-field
                label="Jenis Peserta"
                :value="type"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-text-field
                label="Tahun Masuk"
                :value="entryYear"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-text-field
                label="No. Peserta"
                :value="loginId"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-text-field
                label="No. Peserta Lama"
                :value="oldRegId"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-text-field
                label="Status Peserta"
                :value="status"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm10>
              <v-text-field
                label="Tanggal Ujian"
                :value="examDate"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm2>
              <v-text-field
                label="Sesi"
                :value="examSession"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm2>
              <v-text-field
                label="Khusus"
                :value="status_khusus"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm12>
              <v-card>
                <v-card-title class="title">
                  Pilihan Program Studi
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 v-if="programs.length <= 0">
                        <span class="subheading">Peserta belum memilih program studi.</span>
                      </v-flex>
                      <v-flex xs12 v-for="(program, index) in programs" :key="index">
                        <v-text-field
                          :label="'Pilihan '.concat(index + 1) "
                          :value="program.name"
                          readonly
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Tutup</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    dialog: false,
    loginId: null,
    oldRegId: null,
    level: null,
    type: null,
    status: null,
    status_khusus: null,
    entryYear: null,
    examDate: null,
    examSession: null,
    name: null,
    programs: []
  }),

  computed: {
    ...mapGetters({
      participantDetail: 'participant/getDetail',
    }),
  },

  methods: {
    close() {
      this.dialog = false
      this.loginId = null
      this.oldRegId = null
      this.level = null
      this.type = null
      this.status = null
      this.status_khusus = null
      this.entryYear = null
      this.name = null
      this.examDate = null
      this.examSession = null
      this.programs = []
      this.$emit('closeDetailDialog')
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },

    participantDetail() {
      if (this.participantDetail.id != null) {
        this.dialog = true
        this.loginId = this.participantDetail.user.username
        this.oldRegId = !this.participantDetail.old_reg_id ? '0' : this.participantDetail.old_reg_id
        this.level = this.participantDetail.level == 1 ? 'S1' : 'S2'
        this.entryYear = this.participantDetail.year_of_entry
        this.type = this.participantDetail.type == 1 ? 'Reguler' : 'OTS'
        this.status = this.participantDetail.status == 1 ? 'Aktif' : 'Tidak Aktif'
        this.status_khusus = this.participantDetail.status_khusus == 1 ? 'Ya' : 'Tidak'
        this.name = this.participantDetail.name
        this.programs = this.participantDetail.study_programs
        this.examDate = this.participantDetail.exam_date
        this.examSession = this.participantDetail.exam_session
      }
    },
  },
}
</script>

<style>

</style>