<template>
  <div>
    <v-dialog v-model="dialog" max-width="600px" persistent>
      <success-dialog
        :dialog="successDialog"
        :success="success"
        model="Peserta"
        :action="action"
        v-on:closeSuccessDialog="closeSuccessDialog"  
      ></success-dialog>
      <v-card>
        <v-card-title>
          <span class="headline">Edit Peserta</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  label="Nama Lengkap"
                  box
                  v-model="participantActive.name"
                  :error-messages="errors.collect('name')"
                  v-validate="'required|max:191'"
                  data-vv-name="name"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="No. Peserta"
                  box
                  v-model="username"
                  :error-messages="errors.collect('username')"
                  v-validate="'required'"
                  data-vv-name="username"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm10>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="participantActive.exam_date"
                      label="Tanggal Ujian"
                      prepend-icon="event"
                      readonly
                      :error-messages="errors.collect('date')"
                      v-validate="'required'"
                      data-vv-name="date"
                      required
                      box
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker :min="getToday" v-model="participantActive.exam_date" @input="menu = false" no-title></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm2>
                <v-combobox
                  v-model="participantActive.exam_session"
                  :items="[1, 2]"
                  :error-messages="errors.collect('session')"
                  v-validate="'required'"
                  data-vv-name="session"
                  required
                  box
                  label="Sesi"
                ></v-combobox>
              </v-flex>
              <v-flex xs12 sm6>
                <v-switch 
                  label="Status Peserta" 
                  v-model="participantActive.status"
                ></v-switch>
              </v-flex>
              <v-flex xs12 sm6 align-self-center>
                <span class="caption">Jenjang Studi</span>
                <v-radio-group 
                  v-model="level" 
                  row
                  class="mt-0"
                  :error-messages="errors.collect('level')" 
                  v-validate="'required'" 
                  data-vv-name="level" 
                  required
                >
                  <v-radio label="S1" color="blue darken-1" :value="1"></v-radio>
                  <v-radio label="S2" color="blue darken-1" :value="2"></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex xs12 v-for="item in [0,1,2]" :key="item">
                <v-autocomplete v-if="participantActive.study_program_id !== undefined && level === 1"
                  :items="allProgramLevel1" 
                  item-value="id" 
                  item-text="name" 
                  :label="'Program Studi '+(item+1)"
                  :loading="progress2"
                  box
                  v-model.number="participantActive.study_program_id[item]" 
                  required 
                  clearable
                ></v-autocomplete>
                <v-autocomplete v-else-if="participantActive.study_program_id !== undefined && level === 2 && item == 0"
                  :items="allProgramLevel2" 
                  item-value="id" 
                  item-text="name" 
                  label="Program Studi"
                  :loading="progress2"
                  box                
                  v-model.number="participantActive.study_program_id[item]" 
                  required 
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 align-self-center>
                <span class="caption">Khusus</span>
                <v-radio-group 
                  v-model="participantActive.status_khusus" 
                  row
                  class="mt-0"
                  :error-messages="errors.collect('status_khusus')" 
                  v-validate="'required'" 
                  data-vv-name="status_khusus" 
                  required
                >
                  <v-radio label="Ya" color="blue darken-1" :value="1"></v-radio>
                  <v-radio label="Tidak" color="blue darken-1" :value="0"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <span class="red--text font-weight-bold ml-3" v-show="alert">{{ alertMessage }}</span>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
          <v-btn color="blue darken-3" flat @click.native="CheckSave">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogSimpan" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Apakah Anda Yakin?</v-card-title>
        <v-card-text> {{dialogSimpanDetail}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="" text @click="dialogSimpan = false">Batal</v-btn>
          <v-btn color="green" text @click="save">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions } from 'vuex'
  import SuccessDialog from '../SuccessDialog'

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    components: {
      SuccessDialog,
    },

    data: () => ({
      level: null,
      allPrograms: [],
      allProgramLevel1: [],
      allProgramLevel2: [],
      study_program_id: null,
      study_program_id_temp: null,
      progress2: false,
      dialogSimpan: false,
      dialogSimpanDetail: '',
      dictionary: {
        custom: {
          category: {
            required: 'Nama kategori tidak boleh kosong.',
            max: 'Nama kategori tidak boleh lebih dari 191 karakter.',
          },
          username: {
            required: 'No. Peserta tidak boleh kosong.',
          },
          level: {
            required: 'Silakan pilih jenjang studi peserta.',
          },
          status_khusus: {
            required: 'Silakan pilih status khusus peserta.',
          },
          session: {
            required: 'Silakan pilih sesi ujian peserta.',
          },
        }
      },
      dialog: false,
      menu: false,
      today: new Date(),
      username: null,
      successDialog: false,
      success: false,
      action: '',
      alert: false,
      alertMessage: ''
    }),

    computed: {
      ...mapGetters({
        participantActive: 'participant/getActive',
        programData: 'studyProgram/getData'
      }),

      newUserData() {
        let data = {
          id: this.participantActive.user_id,
          username: this.username
        }

        return data
      },

      getToday() {
        let dd = String(this.today.getDate()).padStart(2, '0')
        let mm = String(this.today.getMonth() + 1).padStart(2, '0')
        let yyyy = this.today.getFullYear()

        let today = yyyy + '-' + mm + '-' + dd

        return today
      },
    },

    methods: {
      ...mapActions({
        updateParticipant: 'participant/update',
        updateUser: 'user/update',
        fetchPrograms: 'studyProgram/fetchAll',

      }),
      fetchProgramsHandler() {
        this.progress2 = true
        this.fetchPrograms()
          .then(() => {
            this.progress2 = false
            this.allProgramLevel1 = this.programData.filter(function(item){
              return item.level === 1
            })
            this.allProgramLevel2 = this.programData.filter(function(item){
              return item.level === 2
            })
          })
      },
      close() {
        this.$validator.reset()
        this.dialog = false
        this.menu = false
        this.username = null
        this.alert = false
        this.alertMessage = ''
        this.$emit('closeEditDialog')
      },

      CheckSave(){
        if(this.study_program_id_temp === null || this.study_program_id_temp === undefined) this.study_program_id_temp = []
        let index = 0
        for (let i = 0; i < this.study_program_id_temp.length; i++) {
          const element = this.study_program_id_temp[i];
          if(element !== this.participantActive.study_program_id[i]) {
            index  = 1
            this.dialogSimpanDetail = 'Anda akan mengganti program study mahasiswa. Apakah anda yakin menyimpan?'
          }
          
        }

        if(this.participantActive.exam_detail.total_score !== null) {
          if (index === 1) {
            index = 2 
            this.dialogSimpanDetail = 'Anda akan mengganti program study mahasiswa dan mahasiswa yang anda ganti sudah memiliki total score. Apakah anda yakin menyimpan?'
          }
          else {
            index = 0
            this.dialogSimpanDetail = 'Mahasiswa yang anda ganti sudah memiliki total score. Apakah anda yakin menyimpan?'
            }
          
          
        }

        if(index > 1) {
          this.dialogSimpan = true
        } else {
          this.dialogSimpan = false
          this.save()
        }
      },

      save() {
        this.dialogSimpan = false
        this.$validator.validateAll()
          .then(res => {
            if (res) {
              this.successDialog = true

              this.updateUser(this.newUserData)
                .then(() => {
                  this.participantActive.study_program_id = this.participantActive.study_program_id.filter(function(element){
                    return element !== -1
                  })
                  this.updateParticipant(this.participantActive)
                  this.success = true
                  this.action = 'diubah'
                  this.close()
                })
                .catch(err => {
                  console.log(err)
                })
            }
          });
      },

      closeSuccessDialog() {
        this.successDialog = false
        this.success = false
      },
    },

    watch: {
      participantActive() {
        if (this.participantActive.id != null) {          
          this.dialog = true
          this.username = this.participantActive.user.username
          this.level = this.participantActive.level
          try{
            this.participantActive.study_program_id = []
            for (let index = 0; index < 3; index++) {
              const element = this.participantActive.study_programs[index];
              
              if (element === undefined) this.participantActive.study_program_id.push(-1)  
              else this.participantActive.study_program_id.push(element.id)
            }
            this.study_program_id_temp=[]
            this.study_program_id_temp=[...this.participantActive.study_program_id]
          }catch(e){
            this.participantActive.study_program_id = null
          }
        }
      },
      level(){
        this.participantActive.level = this.level
        
        this.fetchProgramsHandler()
      }
    },

    mounted() {      
      this.$validator.localize('en', this.dictionary)
    }
  }
</script>