<template>
  <v-dialog v-model="dialog" max-width="600px" persistent scrollable>
    <v-btn color="primary" slot="activator">Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      :error="error"
      :errorMessage="errorMessage"
      model="Peserta"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <v-card v-if="!participantLoading">
      <v-card-title>
        <span class="headline">Tambah Peserta</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-text-field 
                type="number" 
                box label="No. Peserta Awal" 
                v-model="startId"
                :error-messages="errors.collect('startId')"
                v-validate="'required'"
                data-vv-name="startId"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field 
                type="number" 
                box label="No. Peserta Akhir" 
                v-model="endId"
                :error-messages="errors.collect('endId')"
                v-validate="'required'"
                data-vv-name="endId"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="primary" flat @click="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
    <v-card v-else>
      <v-card-text class="text-xs-center">
        <p class="subheading">Menyiapkan data peserta KSI</p>
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions } from 'vuex'
import SuccessDialog from '../SuccessDialog'

export default {
  $_veeValidate: {
    validator: 'new'
  },

  components: {
    SuccessDialog
  },

  data: () => ({
    dictionary: {
      custom: {
        startId: {
          required: 'Silakan isi nomor peserta awal.',
        },
        endId: {
          required: 'Silakan isi nomor peserta akhir.',
        },
      }
    },
    dialog: false,
    participantLoading: true,
    startId: null,
    endId: null,
    readyToBeStored: [],

    successDialog: false,
    success: false,
    error: false,
    errorMessage: '',
    action: '',
  }),

  computed: {
    ...mapGetters({
      userData: 'user/getData',
      programData: 'studyProgram/getData',
      participantData: 'participant/getData',
      KSIData: 'participant/getKSIData'
    }),
  },

  methods: {
    ...mapActions({
      storeParticipants: 'participant/store',
      fetchParticipants: 'participant/fetchAll',
      fetchUsers: 'user/fetchAll',
      fetchFromKSI: 'participant/fetchFromKSI',
      storeUser: 'user/store',
      storeParticipant: 'participant/storeOne',
      addStudyPrograms: 'participant/addStudyPrograms'
    }),

    fetchFromKSIHandler() {
      this.fetchFromKSI()
        .then(() => {
          this.participantLoading = false
        })
        .catch(err => {
          console.log(err)
        })
    },

    async fillAddedParticipants() {
      this.KSIData.forEach(participant => {
        if (!this.participantData.some(e => e.username === participant.kd_calon)) {
          if (participant.kd_calon >= this.startId && participant.kd_calon <= this.endId) {
            this.readyToBeStored.push(participant)
          }
        }
      })
    },

    close() {
      this.$validator.reset()
      this.dialog = false
      this.startId = null
      this.endId = null
      this.readyToBeStored = []
      this.$emit('closeGenerator')
    },

    save() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            this.successDialog = true

            this.fillAddedParticipants()
              .then(() => {
                // console.log(this.readyToBeStored)
                let rawData = this.readyToBeStored.slice()
                let i = 0

                if (rawData.length > 0 && this.programData.length > 0 && rawData.length <= 30) {
                  rawData.forEach(data => {
                    let user = {
                      username: data.kd_calon,
                      password: Math.random().toString(36).substring(2, 7) + Math.random().toString(36).substring(2, 7),
                      role_id: 2
                    }

                    // let date = new Date(data.tgl_test.substr(0, 9) + ' ' + data.tgl_test.substr(11, 18))
                    let date = new Date(data.tgl_test)
                    let yyyy = date.getFullYear()
                    let dd = String(date.getDate()).padStart(2, '0')
                    let mm = String(date.getMonth() + 1).padStart(2, '0')

                    let participant = {
                      name: data.nm_calon,
                      reg_id: data.kd_calon,
                      level: data.jenjang_studi == 'S1' ? 1 : 2,
                      exam_date: yyyy + '-' + mm + '-' + dd,
                      exam_session: data.sesi ? data.sesi : 0
                    }

                    let programChoice = [null, null, null]

                    if (this.programData.length > 0) {
                      programChoice[0] = this.programData[this.programData.findIndex(e => e.program_code === data.pilihan_1)].id
                      programChoice[1] = data.pilihan_2 != "00" ? this.programData[this.programData.findIndex(e => e.program_code === data.pilihan_2)].id : null
                      programChoice[2] = data.pilihan_3 != "00" ? this.programData[this.programData.findIndex(e => e.program_code === data.pilihan_3)].id : null
                    } 

                    this.storeUser(user)
                      .then(res => {
                        participant.user_id = res.id

                        this.storeParticipant(participant)
                          .then(res => {
                            let choice = []

                            for (let i = 0; i < programChoice.length; i++) {
                              if (programChoice[i])
                                choice.push(programChoice[i])
                            }

                            let newPrograms = {
                              id: res.id,
                              programs: choice
                            }

                            this.addStudyPrograms(newPrograms)
                              .catch(err => {
                                this.error = true
                                this.errorMessage = 'Gagal menyimpan data peserta'+ ' Detail: ' + err.data
                                console.log(err)
                              })
                          })
                          .then(() => {
                            i += 1

                            if (i == rawData.length) {
                              this.fetchParticipants()
                                .then(() => {
                                  this.success = true
                                  this.action = 'ditambah'
                                  this.close()
                                })
                            }
                          })
                          .catch(err => {
                            this.error = true
                            this.errorMessage = 'Gagal menyimpan data peserta' + ' Detail: ' + err.data 
                            console.log(err)
                          })
                      })
                      .catch(err => {
                        this.error = true
                        this.errorMessage = 'Gagal menyimpan data peserta' + ' Detail: ' + err.data 
                        console.log(err)
                      })
                  })
                } else {
                  this.error = true
                  this.errorMessage = 'Data dengan nomor peserta tersebut kemungkinan belum terdaftar di KSI atau telah ditambahkan.'  

                  if (rawData.length > 30)
                    this.errorMessage = 'Maksimal mengambil data peserta sebanyak 30 orang dalam 1 menit agar tidak mengurangi peforma sistem.'

                  if (this.programData.length == 0)
                    this.errorMessage = 'Tidak dapat menyimpan prodi peserta karena belum ada data prodi di basis data.'

                  this.close()
                }
              })
          } 
        })
    },

    closeSuccessDialog() {
      this.successDialog = false
      this.success = false
      this.error = false
      this.errorMessage = ''
    },
  },

  watch: {
    dialog() {
      if (this.dialog) {
        this.fetchFromKSIHandler()
      } 
    }
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },
}
</script>

<style>

</style>