<template>
  <v-dialog v-model="dialog" max-width="600px" persistent scrollable>
    <v-btn color="primary" slot="activator">Tambah Baru OTS</v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Tambah Peserta</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm10>
              <v-slider
                v-model="userTotal"
                label="Jumlah Peserta"
                min="1"
                max="30"
                thumb-label
              ></v-slider>
            </v-flex>
            <v-flex xs12 sm2>
              <v-text-field type="number" solo v-model="userTotal"></v-text-field>
            </v-flex>
            <v-flex xs12 sm8 align-self-center>
              <v-radio-group 
                v-model="level" 
                label="Jenjang Studi"
                row
                class="mt-0"
                :error-messages="errors.collect('level')" 
                v-validate="'required'" 
                data-vv-name="level" 
                required
              >
                <v-radio label="S1" color="blue darken-1" :value="1"></v-radio>
                <v-radio label="S2" color="blue darken-1" :value="2"></v-radio>
              </v-radio-group>
            </v-flex>
             <v-flex xs12 v-if="level === 2">
              <v-autocomplete
                :items="allPrograms" 
                item-value="id" 
                item-text="name" 
                label="Program Studi"
                :disabled="level == null"
                :loading="progress2"
                box
                v-model.number="study_program_id" 
                required 
              ></v-autocomplete>
            </v-flex>
             <v-flex xs12 sm8 align-self-center>
              <v-radio-group 
                v-model="status_khusus" 
                label="Status Khusus"
                row
                class="mt-0"
                :error-messages="errors.collect('status_khusus')" 
                v-validate="'required'" 
                data-vv-name="status_khusus" 
                required
              >
                <v-radio label="Ya" color="blue darken-1" :value="1"></v-radio>
                <v-radio label="Tidak" color="blue darken-1" :value="0"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex xs12 sm10>
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="examDate"
                    label="Tanggal Ujian"
                    prepend-icon="event"
                    readonly
                    :error-messages="errors.collect('date')"
                    v-validate="'required'"
                    data-vv-name="date"
                    required
                    box
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker :min="getToday" v-model="examDate" @input="menu = false" no-title></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm2>
              <v-combobox
                v-model="examSession"
                :items="[1, 2]"
                :error-messages="errors.collect('session')"
                v-validate="'required'"
                data-vv-name="session"
                required
                box
                label="Sesi"
              ></v-combobox>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <!-- <span class="red--text font-weight-bold ml-3" v-show="alert">{{ alertMessage }}</span> -->
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="yellow darken-3" flat @click="save" :loading="pdfLoading" :disabled="pdfLoading">Simpan dan Buat PDF</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions } from 'vuex'
import jsPDF from 'jspdf'

import autotable from 'jspdf-autotable'
import html2canvas from 'html2canvas'

export default {
  $_veeValidate: {
    validator: 'new'
  },

  data: () => ({
    progress2: false,
    dictionary: {
      custom: {
        level: {
          required: 'Silakan pilih jenjang studi peserta.',
        },
        status_khusus: {
          required: 'Silakan pilih status khusus peserta.',
        },
        date: {
          required: 'Silakan tentukan tanggal ujian peserta.',
        },
        session: {
          required: 'Silakan pilih sesi ujian peserta.',
        },
      }
    },
    allPrograms: [],
    study_program_id: null,
    dialog: false,
    userTotal: 1,
    usersInDB: 0,
    today: new Date(),
    generatedId: null,
    generatedPassword: null,
    level: null,
    status_khusus: null,
    menu: false,
    examDate: null,
    examSession: null,
    newUsers: [],
    pdfLoading: false,
    alertMessage: '',
    alert: false,
  }),

  computed: {
    ...mapGetters({
      userData: 'user/getData',
      programData: 'studyProgram/getData'
    }),

    getToday() {
      let dd = String(this.today.getDate()).padStart(2, '0')
      let mm = String(this.today.getMonth() + 1).padStart(2, '0')
      let yyyy = this.today.getFullYear()

      let today = yyyy + '-' + mm + '-' + dd

      return today
    },

    newUserData() {
      const data = {
        username: this.generatedId,
        password: this.generatedPassword,
        role_id: 2
      }

      return data
    },

    newParticipants() {
      const data = {
        type: 2,
        level: this.level,
        exam_date: this.examDate,
        exam_session: this.examSession,
        status_khusus: this.status_khusus,
        users: this.newUsers,
        study_program_id: this.study_program_id
      }

      return data
    },

    // isExamDateValid() {
    //   let dateRange = new Date(this.examDate) - this.today

    //   return dateRange < 0 ? false : true
    // }

    // getYears() {
    //   for (let i = 0; i < 5; i++) {
    //     this.todays.push(this.today.getFullYear() + i)
    //   } 

    //   return this.todays
    // }
  },

  methods: {
    ...mapActions({
      storeParticipants: 'participant/store',
      fetchParticipants: 'participant/fetchAll',
      fetchUsers: 'user/fetchAll',
      fetchPrograms: 'studyProgram/fetchAllByLevel',

    }),
    fetchProgramsHandler() {
      this.progress2 = true
      this.fetchPrograms(this.level)
        .then(() => {
          this.progress2 = false
          this.allPrograms = this.programData
        })
    },
    close() {
      this.$validator.reset()
      this.dialog = false
      this.userTotal = 1
      this.usersInDB = 0
      this.level = null
      this.status_khusus = null
      this.examDate = null
      this.examSession = null
      this.generatedId = null
      this.generatedPassword = null
      this.newUsers = []
      this.pdfLoading = false
      this.alertMessage = ''
      this.alert = false
      this.$emit('closeGenerator')
    },

    save() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            // if (this.isExamDateValid) {
            //   this.fillUsersArray()
            //     .then(() => {
            //       this.storeParticipantsHandler()
            //     })
            // } else {
            //   this.alert = true
            //   this.alertMessage = 'Tanggal ujian pastikan hanya pada tanggal setelah hari ini.'
            // }
            this.fillUsersArray()
              .then(() => {
                this.storeParticipantsHandler()
              })
          } 
        })
    },

    async fillUsersArray() {
      this.pdfLoading = true

      for (let i = 0; i < this.userTotal; i++) {
        this.usersInDB += 1
        this.generatedId = this.today.getFullYear().toString().substring(2, 4).concat('999').concat(this.usersInDB)
        var isExists = this.userData.filter((row)=>{
          return row.username == this.generatedId
        })
        if(isExists.length > 0){
          this.userTotal+=1
        }else{
          this.generatedPassword = Math.random().toString(36).substring(2, 7) + Math.random().toString(36).substring(2, 7)
          this.newUsers.push(this.newUserData)
        }
      }
    },
    
    storeParticipantsHandler() {
      this.storeParticipants(this.newParticipants)
        .then(() => {
          this.generatePDFH()
        })
        .finally(() => {
          this.fetchParticipants()
        })
    },

    formatDate(date) {
        let monthNames = [
          "Januari", "Februari", "Maret",
          "April", "Mei", "Juni", "Juli",
          "Agustus", "September", "Oltober",
          "November", "December"
        ];

        let day = date.getDate();
        let monthIndex = date.getMonth();
        let year = date.getFullYear();

        return day + ' ' + monthNames[monthIndex] + ' ' + year;
      },

    async DocsArrayUser() {
      let arrayUser = []
      for (const item of this.newUsers) {
        arrayUser.push([['No. Pendaftaran: ', item.username], ['Kata Sandi: ', item.password]])
      }

      return arrayUser
    },

    generatePDFH() {
        let doc = new jsPDF()
        this.spacing = 10
        this.resetNewUsers = false
        this.pdfLoading = true
        const limit = 20

        window.html2canvas = html2canvas        

        this.DocsArrayUser().then((arrayUser) => {                    
          arrayUser.sort((a,b) => {
            if (a[0][1] < b[0][1]) return -1
            else if (a[0][1] > b[0][1]) return 1
            else return 0
          })

          const userL = arrayUser.length
          const theme = {
            tableLineColor: [0, 0, 0],
            styles: {
              lineColor: [0, 0, 0],
              lineWidth: 0.5,
            },
            headStyles: {
              fillColor: [255, 255, 255],
              textColor: [0,0,0],
              fontSize: 13,
              fontStyle: 'bold',
              3: { fillColor: [33, 33, 33], textColor: 255, fontStyle: 'bold' },
            },
            bodyStyles: {
              fontSize: 13,
              textColor: [0,0,0],
              fontStyle: 'bold',
            },
            alternateRowStyles: {
              fillColor: [255, 255, 255],
            },
            columnStyles: {
              3: { fillColor: [33, 33, 33], textColor: 255, fontStyle: 'bold' },
              2: {fontStyle: 'normal'},
              6: {fontStyle: 'normal'}
            }
          }

          let sliced_index = 0
          while(arrayUser.length > 0) {
            let sliced_array = []
            let newArrayUser = []
            let drawColumn2 = true
            let drawColumn1 = true
            
            if (arrayUser.length > limit) sliced_array =[...arrayUser.splice(0,limit)]
            else sliced_array =[...arrayUser.splice(0,arrayUser.length)]

            for (let index = 0; index < (limit/2); index++) { 
              let elementOne = sliced_array[index]
              let elementTwo = sliced_array[index+(limit/2)]
              if (sliced_array[index] == undefined && sliced_array[index] == null) {                
                elementOne = [
                  ['No Pendaftaran', '                       '],
                  ['Kata Sandi', '                       ']
                ]
                drawColumn1 = false
                break;
              }
              if (sliced_array[index+(limit/2)] == undefined && sliced_array[index+(limit/2)] == null) {
                elementTwo = [
                  ['No Pendaftaran', '                       '],
                  ['Kata Sandi', '                       ']
                ]
                if (index === 0 && !drawColumn1) {
                  drawColumn2 = false
                  continue
                } else if (index === 0 && drawColumn1) {
                  drawColumn2 = false
                }                
              }
              
              elementOne.push((sliced_index*limit) + index + 1)
              if (drawColumn2) elementTwo.push((sliced_index*limit) + index + (limit/2)+1)
              else elementTwo.push(' ')
              
              let number1 = {
                rowSpan: 2,
                content: elementOne[2],
                styles: { valign: 'middle', halign: 'center' },
              }
              let number2 = {
                rowSpan: 2,
                content: elementTwo[2],
                styles: { valign: 'middle', halign: 'center' },
              }

              let oneUser = [...elementOne[0]]
              let onePassword = [...elementOne[1]]
              let anotherUser = [...elementTwo[0]]
              let anotherPassword = [...elementTwo[1]]

              newArrayUser.push([number1, ...oneUser, '', number2,...anotherUser])
              newArrayUser.push([ ...onePassword, '',...anotherPassword])
            }

            this.spacing = 30
            if (sliced_index > 0) {              
              doc.addPage()
            }
            doc.setFontSize(12)
            doc.setFontStyle('bold')
            
            doc.text('Data Peserta Ujian ANTARA - OTS', 14, this.spacing += 7)
            doc.setFontStyle('normal')
            doc.text('Total Bawa Akun :', 14, this.spacing += 7)
            doc.text('Tanggal : '.concat(this.formatDate(new Date(this.examDate))), 14, this.spacing += 7)
            doc.text('Sekolah :', 14, this.spacing += 7)
            doc.setFontStyle('bold')

            let headers = [
              ['No', {
                  colSpan: 2,
                  content: 'Akun',
                  styles: { valign: 'middle', halign: 'center' },
                }, {
                  content: '',
                  styles: { fillColor: [33,33,33] },
                }, 'No', {
                  colSpan: 2,
                  content: 'Akun',
                  styles: { valign: 'middle', halign: 'center' },
                }
              ]
            ]

            doc.autoTable({
              startY: this.spacing + 15,
              head: headers,
              body: newArrayUser,    
              ...theme        
            })
            doc.text('Sisa Akun : ', 14, doc.autoTable.previous.finalY + 20)

            sliced_index += 1
          }                                
          
          let date = new Date(this.examDate)
          let day = date.getDate();
          let monthIndex = date.getMonth();
          let year = date.getFullYear();

          doc.save('Data-Peserta-ots_-_'.concat(day + '-' + monthIndex + '-' + year).concat('.pdf'))
          this.resetNewUsers = true
          this.pdfLoading = false
          doc = null
          this.close()
        })
              
      },

    generatePDF() {
      var doc = new jsPDF()
      var fullDate = this.today.getDate().toString().concat('-')
                      .concat((this.today.getMonth() + 1).toString()).concat('-')
                      .concat(this.today.getFullYear().toString())

      let spacing = 0
      let index = 0
      let notFirstPage = false

      doc.setFontSize(20)
      doc.setFontStyle('bold')
      doc.text('Data Peserta Ujian Antara Program '.concat(this.level == 1 ? 'S1' : 'S2'), 20, spacing += 25)
      doc.text('per Tanggal '.concat(fullDate), 20, spacing += 15)
      doc.text('-----------------------------', 20, (spacing += 25))
      
      this.newUsers.forEach(newUser => { 
        index += 1
        doc.setFontSize(10)  
        doc.setFontStyle('normal')
        doc.text('No. Pendaftaran: '.concat(newUser.username), 20, (spacing += 10))
        doc.text('Kata sandi: '.concat(newUser.password), 20, (spacing += 5))
        // doc.text('Jadwal: '.concat(this.examDate).concat(', Pukul: ').concat(this.examTime), 20, (spacing += 10))
        doc.text('-----------------------------', 20, (spacing += 10))    

        if (index % 8 == 0 && !notFirstPage) {
          doc.addPage('a4', 'p')
          spacing = 0
          notFirstPage = true
          index = 0
        } else if (index % 11 == 0) {
          doc.addPage('a4', 'p')
          spacing = 0
        }
      })

      doc.save('Data-Peserta-Antara_-_'.concat(fullDate).concat('.pdf'))

      this.pdfLoading = false
      this.close()
    }
  },

  watch: {
    dialog() {
      if (this.dialog) {
        this.fetchUsers()
          .then(() => {
            this.usersInDB = this.userData.length
          })
      }
    },
    level() {
      if (this.level) {
        this.fetchProgramsHandler()
      }
    }
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },
}
</script>

<style>

</style>