<template>
  <v-layout row wrap >
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>      
      <v-card ref="datapdf">
        <v-card-title>
          <span class="title mr-2">Peserta</span>
          <participant-form v-on:closeEditDialog="closeEditDialog"></participant-form>
          <participant-detail v-on:closeDetailDialog="closeDetailDialog"></participant-detail>
          <generator></generator>
          <GeneratorOTS></GeneratorOTS>
          <v-btn color="warning" :disabled="newUsers.length == 0 || pdfLoading" :loading="pdfLoading" @click="generatePDFH">Buat PDF</v-btn>
          <v-spacer></v-spacer>
          <!-- <v-autocomplete 
            label="Filter Tahun Ajaran" 
            single-line
            hide-details
            class="mr-4"
          ></v-autocomplete> -->
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
            clearable
          ></v-text-field>
        </v-card-title>
        <data-table        
          :search="search"
          :headers="headers"
          :progress="progress"
          :enableSelect="true"
          :resetSelected="resetNewUsers"
          :detail="true"
          :edit="true"
          :items="participants"
          v-on:showDetailDialog="showDetailDialog"
          v-on:showEditDialog="showEditDialog"
          v-on:setSelected="setSelected"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>  
</template>

<script>
/* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import jsPDF from 'jspdf'
  import autotable from 'jspdf-autotable'
  import html2canvas from 'html2canvas'

	import DataTable from '../../DataTable'
  import ParticipantForm from './Form'
  import ParticipantDetail from './Detail'
  import Generator from './Generator'
  import GeneratorOTS from './GeneratorOTS'

	export default {
    name: 'Participant',

    components: {
      DataTable,
      ParticipantForm,
      ParticipantDetail,
      Generator,
      GeneratorOTS
    },

    data: () => ({
      breadrumbItems: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'dashboard'
        },
        {
          text: 'Peserta',
          disabled: true
        },
      ],
      headers: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'Nama Lengkap', value: 'name' },
        { text: 'No. Peserta', value: 'username' },
        { text: 'Jenjang', value: 'level' },
        { text: 'Status', value: 'status' },
        { text: 'Jenis Peserta', value: 'type' },
        { text: 'Khusus', value: 'status_khusus' },
        // { text: 'Tahun Masuk', value: 'year_of_entry' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],      
      search: '',
      newUsers: [],
      readyToBeStored: [],
      date: new Date(),
      // doc: new jsPDF(),
      spacing: 0,
      docIndex: 0,
      docFirstPage: true,
      pdfLoading: false,
      resetNewUsers: false,
      generatedPassword: null,
      progress: true,
      participants: []
    }),

    computed: {
      ...mapGetters({
        participantData: 'participant/getData',
        participantActive: 'participant/getActive',
        participantDetail: 'participant/getDetail',
        userActive: 'user/getActive',
        userData: 'user/getData',
        KSIData: 'participant/getKSIData',
        programData: 'studyProgram/getData'
      }),

      fullDate() {
        return this.date.getDate().toString().concat('-')
                .concat((this.date.getMonth() + 1).toString()).concat('-')
                .concat(this.date.getFullYear().toString())
      },
    },

    methods: {
      ...mapActions({
        fetchParticipants: 'participant/fetchAll', 
        fetchOneParticipant: 'participant/fetchOne',
        destroyParticipant: 'participant/destroy',  
        updateUser: 'user/update',
        fetchFromKSI: 'participant/fetchFromKSI',
        fetchPrograms: 'studyProgram/fetchAll',
        storeUser: 'user/store',
        storeParticipant: 'participant/storeOne',
        addStudyPrograms: 'participant/addStudyPrograms'
      }),

      ...mapMutations({
        setActiveParticipant: 'participant/setActive',
        setDetailParticipant: 'participant/setDetail',
        setActiveUser: 'user/setActive'
      }),

      fetchParticipantsHandler() {
        this.fetchParticipants()
          .then(() => {
            // this.fetchFromKSIHandler()
            this.participants = this.participantData.slice()
            this.progress = false
          })
          .catch(() => {
            // console.log(err)
          });
      },

      // fetchFromKSIHandler() {
      //   this.fetchFromKSI()
      //     .then(() => {
      //       this.KSIData.forEach(participant => {
      //         if (!this.participantData.some(e => e.username === participant.kd_calon)) {
      //           this.readyToBeStored.push(participant)
      //         } 
      //       })
      //     })
      //     .then(() => {
      //       let rawData = this.readyToBeStored.slice(0, 20)
      //       let i = 0

      //       if (rawData.length > 0) {
      //         rawData.forEach(data => {
      //           let user = {
      //             username: data.kd_calon,
      //             password: Math.random().toString(36).substring(2, 7) + Math.random().toString(36).substring(2, 7),
      //             role_id: 2
      //           }

      //           let date = new Date(data.tgl_test)
      //           let yyyy = date.getFullYear()
      //           let dd = String(date.getDate()).padStart(2, '0')
      //           let mm = String(date.getMonth() + 1).padStart(2, '0')

      //           let participant = {
      //             name: data.nm_calon,
      //             reg_id: data.kd_calon,
      //             level: data.jenjang_studi == 'S1' ? 1 : 2,
      //             exam_date: yyyy + '-' + mm + '-' + dd,
      //             exam_session: data.sesi ? data.sesi : 0
      //           }

      //           let programChoice = [null, null, null]

      //           if (this.programData.length > 0) {
      //             programChoice[0] = this.programData[this.programData.findIndex(e => e.program_code === data.pilihan_1)].id
      //             programChoice[1] = data.pilihan_2 != "00" ? this.programData[this.programData.findIndex(e => e.program_code === data.pilihan_2)].id : null
      //             programChoice[2] = data.pilihan_3 != "00" ? this.programData[this.programData.findIndex(e => e.program_code === data.pilihan_3)].id : null
      //           } else {
      //             this.progress = false
      //           }

      //           this.storeUser(user)
      //             .then(res => {
      //               participant.user_id = res.id

      //               this.storeParticipant(participant)
      //                 .then(res => {
      //                   let choice = []

      //                   for (let i = 0; i < programChoice.length; i++) {
      //                     if (programChoice[i])
      //                       choice.push(programChoice[i])
      //                   }

      //                   let newPrograms = {
      //                     id: res.id,
      //                     programs: choice
      //                   }

      //                   this.addStudyPrograms(newPrograms)
      //                 })
      //                 .then(() => {
      //                   i += 1

      //                   if (i == rawData.length) {
      //                     this.fetchParticipants()
      //                       .then(() => {
      //                         this.participants = this.participantData.slice()
      //                         this.progress = false
      //                       })
      //                   }
      //                 })
      //             })
      //         })
      //       } else {
      //         this.fetchParticipants()
      //           .then(() => {
      //             this.participants = this.participantData.slice()
      //             this.progress = false
      //           })
      //       }
      //     })
      // },
      
      formatDate(date) {
        let monthNames = [
          "Januari", "Februari", "Maret",
          "April", "Mei", "Juni", "Juli",
          "Agustus", "September", "Oltober",
          "November", "December"
        ];

        let day = date.getDate();
        let monthIndex = date.getMonth();
        let year = date.getFullYear();

        return day + ' ' + monthNames[monthIndex] + ' ' + year;
      },

      showDetailDialog(item) {
        this.fetchOneParticipant(item.id)
          .then((res) => {
            this.setDetailParticipant(res)
          })
      },

      showEditDialog(item) {
        this.fetchOneParticipant(item.id)
          .then((res) => {
            this.setActiveParticipant(res)
          })
      },

      closeEditDialog() {
        this.setActiveParticipant({})
      },

      closeDetailDialog() {
        this.setDetailParticipant({})
      },

      setSelected(items) {
        this.newUsers = items
      },

      resetUserPassword() {
        this.generatedPassword = Math.random().toString(36).substring(2, 7) + Math.random().toString(36).substring(2, 7)
        this.userActive.password = this.generatedPassword
        this.updateUser(this.userActive)
      },

      // async setDocs() {
      //   this.doc.setFontSize(20)
      //   this.doc.setFontStyle('bold')
      //   this.doc.text('Data Peserta Ujian Antara', 20, this.spacing += 25)
      //   this.doc.text('per Tanggal '.concat(this.fullDate), 20, this.spacing += 15)
      //   this.doc.text('-----------------------------', 20, (this.spacing += 25))
      // },

      DocsCenteredText(doc ,text, y) {
        let textWidth = doc.getStringUnitWidth(text) * doc.internal.getFontSize() / doc.internal.scaleFactor;
        let textOffset = (doc.internal.pageSize.width - textWidth) / 2;
        doc.text(textOffset, y, text);
      },

      async DocsArrayUser() {
        let arrayUser = []
        for (const item of this.newUsers) {
          await this.fetchOneParticipant(item.id)
          .then((res) => {
            this.participantActive.exam_date = res.exam_date
            this.participantActive.exam_session = res.exam_session
            this.userActive.id = res.user_id
          })
          .then(() => {
            this.resetUserPassword()
          })
          .then(() => {                  
            arrayUser.push([['No. Pendaftaran: ', item.username], ['Kata Sandi: ', this.generatedPassword]])
          })
        }

        return arrayUser
      },

      generatePDFH() {
        let doc = new jsPDF()
        this.spacing = 10
        this.resetNewUsers = false
        this.pdfLoading = true
        const limit = 20

        window.html2canvas = html2canvas        

        this.DocsArrayUser().then((arrayUser) => {                    
          arrayUser.sort((a,b) => {
            if (a[0][1] < b[0][1]) return -1
            else if (a[0][1] > b[0][1]) return 1
            else return 0
          })

          const userL = arrayUser.length
          const theme = {
            tableLineColor: [0, 0, 0],
            styles: {
              lineColor: [0, 0, 0],
              lineWidth: 0.5,
            },
            headStyles: {
              fillColor: [255, 255, 255],
              textColor: [0,0,0],
              fontSize: 13,
              fontStyle: 'bold',
              3: { fillColor: [33, 33, 33], textColor: 255, fontStyle: 'bold' },
            },
            bodyStyles: {
              fontSize: 13,
              textColor: [0,0,0],
              fontStyle: 'bold',
            },
            alternateRowStyles: {
              fillColor: [255, 255, 255],
            },
            columnStyles: {
              3: { fillColor: [33, 33, 33], textColor: 255, fontStyle: 'bold' },
              2: {fontStyle: 'normal'},
              6: {fontStyle: 'normal'}
            }
          }

          let sliced_index = 0
          while(arrayUser.length > 0) {
            let sliced_array = []
            let newArrayUser = []
            let drawColumn2 = true
            let drawColumn1 = true
            
            if (arrayUser.length > limit) sliced_array =[...arrayUser.splice(0,limit)]
            else sliced_array =[...arrayUser.splice(0,arrayUser.length)]

            for (let index = 0; index < (limit/2); index++) { 
              let elementOne = sliced_array[index]
              let elementTwo = sliced_array[index+(limit/2)]
              if (sliced_array[index] == undefined && sliced_array[index] == null) {                
                elementOne = [
                  ['No Pendaftaran', '                       '],
                  ['Kata Sandi', '                       ']
                ]
                drawColumn1 = false
                break;
              }
              if (sliced_array[index+(limit/2)] == undefined && sliced_array[index+(limit/2)] == null) {
                elementTwo = [
                  ['No Pendaftaran', '                       '],
                  ['Kata Sandi', '                       ']
                ]
                if (index === 0 && !drawColumn1) {
                  drawColumn2 = false
                  continue
                } else if (index === 0 && drawColumn1) {
                  drawColumn2 = false
                }                
              }
              
              elementOne.push((sliced_index*limit) + index + 1)
              if (drawColumn2) elementTwo.push((sliced_index*limit) + index + (limit/2)+1)
              else elementTwo.push(' ')
              
              let number1 = {
                rowSpan: 2,
                content: elementOne[2],
                styles: { valign: 'middle', halign: 'center' },
              }
              let number2 = {
                rowSpan: 2,
                content: elementTwo[2],
                styles: { valign: 'middle', halign: 'center' },
              }

              let oneUser = [...elementOne[0]]
              let onePassword = [...elementOne[1]]
              let anotherUser = [...elementTwo[0]]
              let anotherPassword = [...elementTwo[1]]

              newArrayUser.push([number1, ...oneUser, '', number2,...anotherUser])
              newArrayUser.push([ ...onePassword, '',...anotherPassword])
            }

            this.spacing = 30
            if (sliced_index > 0) {              
              doc.addPage()
            }
            doc.setFontSize(12)
            doc.setFontStyle('bold')
            
            doc.text('Data Peserta Ujian Antara', 14, this.spacing += 7)
            doc.setFontStyle('normal')
            doc.text('Total Bawa Akun :', 14, this.spacing += 7)
            doc.text('Tanggal : '.concat(this.formatDate(new Date())), 14, this.spacing += 7)
            doc.text('Sekolah :', 14, this.spacing += 7)
            doc.setFontStyle('bold')

            let headers = [
              ['No', {
                  colSpan: 2,
                  content: 'Akun',
                  styles: { valign: 'middle', halign: 'center' },
                }, {
                  content: '',
                  styles: { fillColor: [33,33,33] },
                }, 'No', {
                  colSpan: 2,
                  content: 'Akun',
                  styles: { valign: 'middle', halign: 'center' },
                }
              ]
            ]

            doc.autoTable({
              startY: this.spacing + 15,
              head: headers,
              body: newArrayUser,    
              ...theme        
            })
            doc.text('Sisa Akun : ', 14, doc.autoTable.previous.finalY + 20)

            sliced_index += 1
          }                                
          
          
          doc.save('Data-Peserta-Antara_-_'.concat(this.fullDate).concat('.pdf'))
          this.resetNewUsers = true
          this.pdfLoading = false
          doc = null
        })
              
      },

      // generatePDF() {
      //   this.resetNewUsers = false
      //   this.pdfLoading = true
      //   let justIndex = 0

      //   this.setDocs()
      //     .then(() => {
      //       this.newUsers.forEach(newUser => { 
      //         this.fetchOneParticipant(newUser.id)
      //           .then((res) => {
      //             this.participantActive.exam_date = res.exam_date
      //             this.participantActive.exam_session = res.exam_session
      //             this.userActive.id = res.user_id
      //           })
      //           .then(() => {
      //             this.resetUserPassword()
      //           })
      //           .then(() => {
      //             justIndex += 1
      //             this.docIndex += 1
      //             this.doc.setFontSize(10)  
      //             this.doc.setFontStyle('normal')
      //             this.doc.text('No. Pendaftaran: '.concat(newUser.username), 20, (this.spacing += 10))
      //             this.doc.text('Kata sandi: '.concat(this.generatedPassword), 20, (this.spacing += 5))
      //             this.doc.text('-----------------------------', 20, (this.spacing += 10))

      //             if (this.docIndex % 8 == 0 && this.docFirstPage) {
      //               this.doc.addPage('a4', 'p')
      //               this.spacing = 0
      //               this.docIndex = 0
      //               this.docFirstPage = false
      //             } else if (this.docIndex % 11 == 0) {
      //               this.doc.addPage('a4', 'p')
      //               this.spacing = 0
      //             }

      //             if (this.newUsers.length - justIndex == 0) {
      //               this.doc.save('Data-Peserta-Antara_-_'.concat(this.fullDate).concat('.pdf'))
      //               this.docIndex = 0
      //               this.spacing = 0
      //               this.doc = new jsPDF()
      //               this.resetNewUsers = true
      //               this.pdfLoading = false
      //             }
      //           })
      //       })
      //     })
      // },
    },

    watch: {
      participantData(val) {
        if (val) {
          // this.fetchFromKSIHandler()
          this.participants = this.participantData.slice()
        }
      }
    },

    mounted() {
      this.fetchPrograms()
        .then(() => {
          this.fetchParticipantsHandler()
        })
    }
  }
</script>

<style>

</style>