<template>
  <v-dialog v-model="dialog" max-width="900px" persistent scrollable>
    <v-btn color="primary" slot="activator">Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      :error="error"
      :errorMessage="errorMessage"
      model="Wacana"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <preview-dialog
      :model="'Wacana'"
      :isDiscourse="true"
      :dialog="previewDialog"
      :title="discourseActive.title"
      :body="discourseActive.body"
      :image="discourseImageUrl"
      v-on:closePreviewDialog="previewDialog = false"
    ></preview-dialog>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-sm class="pt-0">
          <v-layout wrap>
            <v-flex sm12>
              <v-text-field
                label="Judul"
                box
                clearable
                v-model="discourseActive.title"
                :counter="25"
                :error-messages="errors.collect('title')"
                v-validate="'required|max:25'"
                data-vv-name="title"
                required
              ></v-text-field>
            </v-flex>
            <v-flex sm12>
              <v-textarea
                label="Teks Wacana"
                v-model="discourseActive.body"
                rows="5"
                box
                clearable
                :error-messages="errors.collect('body')"
                v-validate="'required'"
                data-vv-name="body"
                required
              ></v-textarea>
            </v-flex>
            <v-flex xs12>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field 
                    label="Gambar Wacana" 
                    @click='pickDiscourseImage' 
                    v-model='discourseImageName' 
                    box
                    prepend-inner-icon='attach_file'
                    :append-icon="this.discourseImageUrl ? 'close' : ''"
                    @click:append="removeDiscourseImage"
                  ></v-text-field>
                  <input
                    type="file"
                    style="display: none"
                    ref="discourseImage"
                    accept="image/png,image/jpg,image/jpeg"
                    @change="onDiscourseImagePicked"
                  >
                </v-flex>
                <v-flex xs12 sm6 offset-xs3>
                  <v-img contain max-height="150" :src="discourseImageUrl" v-if="discourseImageUrl"/>
                  <div v-else></div>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="amber darken-3" flat @click.native="previewDialog = true">Pratinjau</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions, mapMutations } from 'vuex'
import SuccessDialog from '../SuccessDialog'
import PreviewDialog from '../PreviewDialog'

export default {
  $_veeValidate: {
    validator: 'new'
  },

  components: {
    SuccessDialog,
    PreviewDialog
  },

  data: () => ({
    dictionary: {
      custom: {
        title: {
          required: 'Judul wacana tidak boleh kosong.',
          max: 'Judul wacana tidak boleh lebih dari 25 karakter.',
        },
        body: {
          required: 'Teks wacana tidak boleh kosong',
        },
      }
    },

    discourseImageName: null,
    discourseImageUrl: null,
    discourseImageFile: null,

    dialog: false,
    previewDialog: false,
    successDialog: false,
    success: false,
    error: false,
    errorMessage: '',
    action: ''
  }),

  computed: {
    ...mapGetters({
      discourseActive: 'questionDiscourse/getActive',
      imageActive: 'image/getActive'
    }),

    formTitle() {
      return this.discourseActive.id == null ? 'Tambah Wacana' : 'Edit Wacana'
    }
  },

  methods: {
    ...mapActions({
      storeDiscourse: 'questionDiscourse/store',
      updateDiscourse: 'questionDiscourse/update',
      storeImage: 'image/store',
      destroyImage: 'image/destroy'
    }),

    ...mapMutations({
      setActiveImage: 'image/setActive'
    }),

    //Image management
    pickDiscourseImage () {
      this.$refs.discourseImage.click ()
    },
		
		onDiscourseImagePicked (e) {
      const files = e.target.files
      
			if(files[0] !== undefined) {
        this.discourseImageName = files[0].name
        
				if(this.discourseImageName.lastIndexOf('.') <= 0) {
					return
        }
        
        const fr = new FileReader ()
        
        fr.readAsDataURL(files[0])
        
				fr.addEventListener('load', () => {
					this.discourseImageUrl = fr.result
					this.discourseImageFile = files[0] // this is an image file that can be sent to server...
				})
			} else {
				this.removeDiscourseImage()
      }
    },

    removeDiscourseImage() {
      this.discourseImageName = null
      this.discourseImageFile = null
      this.discourseImageUrl = null
    },

    close() {
      this.$validator.reset()
      this.removeDiscourseImage()
      this.setActiveImage({})
      this.dialog = false
      this.$emit('closeEditDialog')
    },

    save() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            if (this.discourseActive.id != null) {
              // Update
              if (this.discourseImageName == null) {
                if (this.discourseActive.image_id != null) {
                  this.destroyImage(this.discourseActive.image_id)
                    .then(res => {
                      this.discourseActive.image_id = null
                      this.updateDiscourseHandler()
                      this.close()
                    })
                    .catch(err => {
                      console.log(err)
                    })
                } else {
                  this.updateDiscourseHandler()
                  this.close()
                } 
              } else {
                const formData = new FormData();

                formData.append('file_name', this.$refs.discourseImage.files[0])
      
                this.storeImage(formData)
                  .then(res => {
                    this.setActiveImage(res)
                    this.discourseActive.image_id = this.imageActive.id
                    this.updateDiscourseHandler()
                    this.close()
                  })
                  .catch(err => {
                    console.log(err)
                  })
              }
            } else {
              // New
              if (this.discourseImageName != null) {
                const formData = new FormData();

                formData.append('file_name', this.$refs.discourseImage.files[0])
      
                this.storeImage(formData)
                  .then(res => {
                    this.setActiveImage(res)
                    this.discourseActive.image_id = this.imageActive.id
                    this.storeDiscourseHandler()
                    this.close()
                  })
                  .catch(err => {
                    console.log(err)
                  })
              } else {
                this.storeDiscourseHandler()
                this.close()
              }
            }
          }
        });
    },

    updateDiscourseHandler() {
      this.successDialog = true
      this.updateDiscourse(this.discourseActive)
        .then(res => {
          this.success = true
          this.action = 'diubah'
        })
        .catch(err => {
          // console.log(err)
          this.error = true
          this.errorMessage = 'Ubah wacana gagal. Silakan coba kembali.'
        })
    },

    storeDiscourseHandler() {
      this.successDialog = true
      this.storeDiscourse(this.discourseActive)
        .then(res => {
          this.success = true
          this.action = 'ditambah'
        })
        .catch(err => {
          // console.log(err)
          this.error = true
          this.errorMessage = 'Tambah wacana gagal. Silakan coba kembali.'
        })
    },

    closeSuccessDialog() {
      this.successDialog = false
      this.success = false
      this.error = false
    },
  },

  watch: {
    discourseActive() {
      if (this.discourseActive.id != null) {
        this.dialog = true

        if (this.discourseActive.image_id != null) {
          this.discourseImageName = this.discourseActive.image.file_name
          this.discourseImageUrl = this.$imageURL.concat(this.discourseImageName)
        }
      }
    }
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },
}
</script>

<style>

</style>
