<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>      
      <v-card>
        <v-card-title>
          <span class="title mr-2">Wacana Soal</span>
          <discourse-form            
            v-on:closeEditDialog="closeEditDialog"  
          ></discourse-form>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
            clearable
          ></v-text-field>
        </v-card-title>
        <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :edit="true"
          :destroy="true"
          :items="discourseData"
          v-on:showEditDialog="showEditDialog"
          v-on:destroyHandler="destroyDiscourseHandler"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions, mapMutations } from 'vuex';

import DataTable from '../../DataTable';
import DiscourseForm from './Form';

export default {
  name: 'QuestionDiscourse',

  components: {
    DataTable,
    DiscourseForm,
  },

  data: () => ({
    breadrumbItems: [
      {
        text: 'Dashboard',
        disabled: false,
        href: 'dashboard'
      },
      {
        text: 'Wacana Soal',
        disabled: true
      },
    ],
    headers: [
      { text: 'Id', value: 'id', align: 'right' },
      { text: 'Judul', value: 'title' },
      { text: 'Teks Wacana', value: 'body' },
      { text: 'Aksi', value: 'actions', sortable: false },
    ],      
    search: '',
    progress: true
  }),

  computed: {
    ...mapGetters({
      discourseData: 'questionDiscourse/getData',
      discourseActive: 'questionDiscourse/getActive',
    }),
  },

  methods: {
    ...mapActions({
      fetchDiscourses: 'questionDiscourse/fetchAll', 
      destroyDiscourse: 'questionDiscourse/destroy',   
      fetchOneDiscourse: 'questionDiscourse/fetchOne',
    }),

    ...mapMutations({
      setActiveDiscourse: 'questionDiscourse/setActive',
    }),

    fetchDiscoursesHandler() {
      this.fetchDiscourses()
        .then((res) => {
          this.progress = false
        })
        .catch(err => {
          console.log(err);
        });
    },

    showEditDialog(item) {
      this.fetchOneDiscourse(item.id)
        .then((res) => {
          this.setActiveDiscourse(res)
        })
        .catch(err => {
          console.log(err)
        })
    },

    closeEditDialog() {
      this.setActiveDiscourse({})
    },

    destroyDiscourseHandler(id) {
      this.destroyDiscourse(id)
        .catch(err => {
          console.log(err);
        });
    },
  },

  mounted() {
    this.fetchDiscoursesHandler();
  }
}
</script>

<style>

</style>
