<template>
  <v-dialog v-model="dialog" max-width="960" persistent scrollable>
    <v-btn color="primary" slot="activator" @click="clearQuestionsArray">Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      :error="error"
      :errorMessage="errorMessage"
      model="Paket Soal"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <question-detail v-on:closeDetailDialog="closeDetailDialog"></question-detail>
    <v-card>
      <v-card-title fixed>
        <span class="headline">{{ formTitle }}</span>
        <v-spacer></v-spacer>
        <v-alert v-model="warningAlert" type="warning" dismissible outline>
          Pastikan mengosongkan soal yang ditambahkan terlebih dahulu apabila hendak mengganti jenjang.
        </v-alert>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-text-field
                label="Kode Paket"
                box
                v-model="packetActive.packet_code"
                :counter="10"
                :error-messages="errors.collect('packetCode')"
                v-validate="'required|max:10'"
                data-vv-name="packetCode"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm1></v-flex>
            <v-flex xs12 sm5 align-self-center>
              <span class="caption">Jenjang</span>
              <v-radio-group 
                v-model="level" 
                row
                class="mt-0"
                :error-messages="errors.collect('level')" 
                v-validate="'required'" 
                data-vv-name="level" 
                required
              >
                <v-radio label="S1" color="blue darken-1" :value="1"></v-radio>
                <v-radio label="S2" color="blue darken-1" :value="2"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex xs12 v-if="level === 2">
              <v-autocomplete
                :items="allPrograms" 
                item-value="id" 
                item-text="name" 
                label="Program Studi"
                :disabled="level == null"
                :loading="progress2"
                box
                v-model.number="study_program_id" 
                required 
              ></v-autocomplete>
            </v-flex>
            <!-- QUESTIONS -->
            <v-flex sm12>
              <v-tabs
                centered
                color="grey lighten-3"
                slider-color="grey darken-3"
                fixed-tabs
                class="mt-4"
              >
                <v-tab href="#tab-1">Soal di Basis Data</v-tab>
                <v-tab href="#tab-2">Soal yang ditambahkan</v-tab>

                <!-- QUESTION IN DB -->
                <v-tab-item value="tab-1">
                  <v-card color="grey lighten-3">
                    <v-card-title>
                      <span class="title mr-2">Daftar Soal di Basis Data</span>
                      <v-btn color="success" :disabled="selectedQuestionsInDB.length == 0" @click="addMultipleQuestions">Tambah Banyak</v-btn>
                      <v-spacer></v-spacer>
                      <v-text-field
                        append-icon="search"
                        label="Cari/Filter"
                        single-line
                        hide-details
                        v-model="search"
                        clearable
                      ></v-text-field>
                    </v-card-title>
                    <data-table
                      :search="search"
                      :headers="headers"
                      :progress="progress"
                      :detail="true"
                      :select="true"
                      :items="questionsInDB"
                      :enableSelect="true"
                      :resetSelected="resetSelected"
                      class="elevation-1"
                      v-on:showDetailDialog="showDetailDialog"
                      v-on:addToList="addToList"
                      v-on:setSelected="setSelectedInDB"
                    ></data-table>
                  </v-card>
                </v-tab-item>

                <!-- QUESTION ADDED -->
                <v-tab-item value="tab-2">
                  <v-card color="grey lighten-3">
                    <v-card-title>
                      <span class="title mr-2">Soal yang ditambahkan</span>
                      <v-btn color="error" :disabled="selectedAddedQuestions.length == 0" @click="removeMultipleQuestions">Batalkan Banyak</v-btn>
                      <v-spacer></v-spacer>
                      <v-text-field
                        append-icon="search"
                        label="Cari/Filter"
                        single-line
                        hide-details
                        v-model="search2"
                        clearable
                      ></v-text-field>
                    </v-card-title>
                    <data-table
                      :search="search2"
                      :headers="headers"
                      :detail="true"
                      :remove="true"
                      :items="addedQuestions"
                      :enableSelect="true"
                      :resetSelected="resetSelected"
                      class="elevation-1"
                      v-on:showDetailDialog="showDetailDialog"
                      v-on:removeFromList="removeFromList"
                      v-on:setSelected="setSelectedAdded"
                    ></data-table>
                  </v-card>
                </v-tab-item>
              </v-tabs>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <span class="red--text font-weight-bold ml-4" v-show="alert">{{ alertMessage }}</span>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import DataTable from '../../DataTable'
  import QuestionDetail from '../question/Detail'
  import SuccessDialog from '../SuccessDialog'

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    components: {
      DataTable,
      QuestionDetail,
      SuccessDialog,
    },

    data: () => ({
      allPrograms: [],
      progress2: false,
      study_program_id: null,
      dictionary: {
        custom: {
          packetCode: {
            required: 'Kode Paket tidak boleh kosong.',
            max: 'Kode Paket tidak boleh lebih dari 10 karakter.',
          },
          level: {
            required: 'Silakan pilih peruntukan jenjang Paket Soal.',
          },
        }
      },
      headers: [
        { text: 'Id Soal', value: 'id', align: 'right' },
        { text: 'Pertanyaan', value: 'question', },
        { text: 'Kategori', value: 'category' },
        { text: 'Jenjang', value: 'level' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],
      warningAlert: false,
      questionsInDB: [],
      selectedQuestionsInDB: [],
      selectedAddedQuestions: [],
      addedQuestions: [],
      addedQuestionsId: [],
      search: '',
      search2: '',
      selected: [],
      resetSelected: false,
      progress: false,
      alertMessage: '',
      alert: false,
      dialog: false,
      level: null,

      successDialog: false,
      success: false,
      error: false,
      errorMessage: '',
      action: '',
    }),

    computed: {
      ...mapGetters({
        packetActive: 'questionPacket/getActive',
        questionData: 'question/getData',
        questionActive: 'question/getActive',
        programData: 'studyProgram/getData'

      }),

      formTitle() {
        return this.packetActive.id == null ? 'Tambah Paket' : 'Edit Paket'
      },

      newData() {
        let data = {
          packet_code: this.packetActive.packet_code,
          level: this.level,
          study_program_id: this.study_program_id

        }

        if (this.packetActive.id)
          data.id = this.packetActive.id
        
        return data
      }
    },

    methods: {
      ...mapActions({
        fetchPackets: 'questionPacket/fetchAll',
        fetchQuestions: 'question/fetchAllBylevel', 
        fetchOneQuestion: 'question/fetchOne',
        storePacket: 'questionPacket/store',
        addQuestions: 'questionPacket/addQuestions',
        removeQuestions: 'questionPacket/removeQuestions',
        updatePacket: 'questionPacket/update',
        fetchPrograms: 'studyProgram/fetchAllByLevel',

      }),
       fetchProgramsHandler() {
        this.progress2 = true
        this.fetchPrograms(this.level)
          .then(() => {
            this.progress2 = false
            this.allPrograms = this.programData
          })
      },
      ...mapMutations({
        setActiveQuestion: 'question/setActive'
      }),

      closeDetailDialog() {
        this.setActiveQuestion({})
      },

      close() {
        this.$validator.reset()
        this.dialog = false
        this.setActiveQuestion({})
        this.alert = false
        this.alertMessage = ''
        this.search = ''
        this.search2 = ''
        this.resetSelected = true
        this.level = null
        this.fetchQuestionsHandler()
        this.$emit('closeEditDialog')
      },

      fetchQuestionsHandler() {
        this.progress = true 
        
        this.fetchQuestions(this.level)
          .then((res) => {
            this.progress = false
            this.questionsInDB = this.questionData.slice()

            if (this.packetActive.id) {
              this.packetActive.questions.forEach(question => {
                this.addedQuestionsId.push(question.id)
                this.questionsInDB.splice(this.questionsInDB.findIndex(e => e.id == question.id), 1)
              })
            }
          })
          .catch(err => {
            console.log(err)
          });
      },

      showDetailDialog(item) {
        this.fetchOneQuestion(item.id)
          .then(res => {
            this.setActiveQuestion(res)
          })
          .catch(err => {
            console.log(err)
          });
      },

      setSelectedInDB(items) {
        this.alert = false
        this.selectedQuestionsInDB = items
      },

      setSelectedAdded(items) {
        this.selectedAddedQuestions = items
      },

      addMultipleQuestions() {
        this.selectedQuestionsInDB.forEach(question => {
          this.addedQuestions.push(question)
          this.addedQuestionsId.push(question.id)
          this.questionsInDB.splice(this.questionsInDB.findIndex(e => e.id == question.id), 1)
        })
      },

      removeMultipleQuestions() {
        this.selectedAddedQuestions.forEach(question => {
          this.addedQuestions.splice(this.addedQuestions.findIndex(e => e.id == question.id), 1)
          this.addedQuestionsId.splice(this.addedQuestionsId.indexOf(question.id), 1)
          this.questionsInDB.push(question)
        })
      },

      addToList(item) {
        this.addedQuestions.push(item)
        this.addedQuestionsId.push(item.id)
        this.questionsInDB.splice(this.questionsInDB.findIndex(e => e.id == item.id), 1)
      },

      removeFromList(item) {
        this.addedQuestions.splice(this.addedQuestions.findIndex(e => e.id == item.id), 1)
        this.addedQuestionsId.splice(this.addedQuestionsId.indexOf(item.id), 1)
        this.questionsInDB.push(item)
      },

      save() {
        this.$validator.validateAll()
          .then(res => {
            if (res) {
              if (this.addedQuestions.length == 0) {
                this.alert = true
                this.alertMessage =  'Silakan tambah soal ke dalam paket!'
              } else {
                if (this.packetActive.id != null) {
                  // Update
                  this.removeQuestions(this.packetActive.id)
                    .then(() => {
                      this.updatePacketHandler()
                      this.close()
                    })
                } else {
                  // New
                  this.fetchPackets()
                    .then(() => {
                      this.storePacketHandler()
                      this.close()
                    })
                }
              }
            } else {
              this.alert = true
              this.alertMessage = 'Silakan lengkapi kolom yang dibutuhkan!'
            }
          })
      },

      updatePacketHandler() {
        this.successDialog = true
        this.updatePacket(this.newData)
          .then(res => {
            this.addQuestionsHandler(res)
            this.success = true
            this.action = 'diubah'
          })
          .catch(err => {
            this.error = true
            this.errorMessage = 'Kemungkinan terjadi duplikasi pada atribut Kode Paket. Silakan cek kembali.'
          })
          .finally(() => this.fetchPackets())
      },

      storePacketHandler() {
        this.successDialog = true
        this.storePacket(this.newData)
          .then(res => {
            this.addQuestionsHandler(res)
            this.success = true
            this.action = 'ditambah'
          })
          .catch(err => {
            this.error = true
            this.errorMessage = 'Kemungkinan terjadi duplikasi pada atribut Kode Paket. Silakan cek kembali.'
          })
          .finally(() => this.fetchPackets())
      },

      addQuestionsHandler(item) {
        const packetData = {
          id: item.id,
          questions: this.addedQuestionsId
        }

        this.addQuestions(packetData)
      },

      closeSuccessDialog() {
        this.successDialog = false
        this.success = false
        this.error = false
        this.errorMessage = ''
      },

      clearQuestionsArray() {
        this.addedQuestions = []
        this.addedQuestionsId = []
      }
    },

    watch: {
      dialog() {
        if (this.dialog) {
          this.resetSelected = false
          this.warningAlert = false
        }
      },

      level() {
        if (this.level) {
          this.fetchQuestionsHandler()
          this.warningAlert = true
        }
        if(this.level === 2){
          this.fetchProgramsHandler()
        }
      },

      packetActive() {
        if (this.packetActive.id != null) {
          this.dialog = true
          this.level = this.packetActive.level
          this.study_program_id = this.packetActive.study_program_id
          this.clearQuestionsArray()

          if (this.packetActive.questions.length > 0) {
            this.addedQuestions = this.packetActive.questions.slice()
            // for (let i = 0; i < this.packetActive.questions.length; i++) {
            //   this.addedQuestions.push(this.packetActive.questions[i])
            // }
          }
        }
      }
    },

    mounted() {
      this.$validator.localize('en', this.dictionary)
      // this.fetchQuestionsHandler()
    },
  }
</script>