<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>
      <v-card>
        <v-card-title>
          <span class="title mr-2">Paket Soal</span>
          <packet-form v-on:closeEditDialog="closeEditDialog"></packet-form>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :edit="true"
          :destroy="true"
          :expand="true"
          :items="packetData"
          v-on:showEditDialog="showEditDialog"
          v-on:destroyHandler="destroyPacketHandler"
          v-on:generateHandler="generateHandler"
          v-on:downloadHandler="downloadHandler"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions, mapMutations } from "vuex";

import DataTable from "../../DataTable";
import PacketForm from "./Form";

export default {
  name: "QuestionPacket",

  components: {
    DataTable,
    PacketForm
  },

  data: () => ({
    breadrumbItems: [
      {
        text: "Dashboard",
        disabled: false,
        href: "dashboard"
      },
      {
        text: "Paket Soal",
        disabled: true
      }
    ],
    headers: [
      { text: "Id", value: "id", align: "right" },
      { text: "Kode Paket", value: "packet_code" },
      { text: "Jenjang", value: "level" },
      { text: "Program Studi", value: "study_program" },
      { text: "Aksi", value: "actions", sortable: false }
    ],
    search: "",
    progress: true
  }),

  computed: {
    ...mapGetters({
      packetData: "questionPacket/getData",
      packetActive: "questionPacket/getActive"
    })
  },

  methods: {
    ...mapActions({
      fetchPackets: "questionPacket/fetchAll",
      fetchOnePacket: "questionPacket/fetchOne",
      generate: "questionPacket/generate",
      download: "questionPacket/download",
      destroyPacket: "questionPacket/destroy"
    }),

    ...mapMutations({
      setActivePacket: "questionPacket/setActive"
    }),

    fetchPacketsHandler() {
      this.fetchPackets()
        .then(res => {
          this.progress = false;
        })
        .catch(err => {
          console.log(err);
        });
    },

    showEditDialog(item) {
      this.fetchOnePacket(item.id)
        .then(res => {
          this.setActivePacket(res);
        })
        .catch(err => {
          console.log(err);
        });
    },

    closeEditDialog() {
      this.setActivePacket({});
    },

    downloadHandler(id) {
      console.log("download");
      this.download(id).catch(err => {
        console.log(err);
      });
    },

    destroyPacketHandler(id) {
      console.log("delete");
      this.destroyPacket(id).catch(err => {
        console.log(err);
      });
    },

    generateHandler(id) {
      console.log("generate");
      this.generate(id).catch(err => {
        console.log(err);
      });
    }
  },

  mounted() {
    this.fetchPacketsHandler();
  }
};
</script>

<style>
</style>
