<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm6>
      <v-card>
        <v-card-title>
          <span class="headline">Pengaturan Akun</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>                        
              <v-flex xs12>
                <v-text-field
                  v-model="userData.username"
                  label="ID Login"
                  box
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="password"
                  label="Ganti Kata Sandi"
                  type="password"
                  box
                ></v-text-field>
              </v-flex>
              <v-flex x12>
                <v-alert type="success" dismissible v-model="success">Detail akun berhasil diperbarui!</v-alert>
              </v-flex>  
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="save" :disabled="!userData.username">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    password: null,
    success: false,
  }),

  computed: {
    ...mapGetters({
      userData: 'loggedUser/getData'
    }),      

    newData() {
      let data = {
        id: this.userData.id,
        username: this.userData.username,
        password: this.password
      }

      return data
    }
  },

  methods: {
    ...mapActions({
      updateUser: 'loggedUser/update'
    }),

    save() {
      this.updateUser(this.newData) 
        .then(() => {
          this.success = true
          this.password = null
        })
    }  
  },
  
  watch: { 
    userData() {
      if (this.userData.id) {
        this.password = this.userData.password
      }
    }
  },

  mounted() {
    this.success = false
  }
}
</script>