<template>
  <v-list dense>
    <template v-for="item in items">
      <v-layout
        v-if="item.heading"
        :key="item.heading"
        row
        align-center
      >
        <v-flex xs6>
          <v-subheader v-if="item.heading">
            {{ item.heading }}
          </v-subheader>
        </v-flex>
        <v-flex xs6 class="text-xs-center">
          <a href="#!" class="body-2 black--text">EDIT</a>
        </v-flex>
      </v-layout>
      <v-list-group
        v-else-if="item.children"
        v-model="item.model"
        :key="item.text"
        :prepend-icon="item.icon"
        append-icon="keyboard_arrow_down"
      >
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-for="(child, i) in item.children"
          :key="i"
          router
          :to="{ name: child.route }"
        >
          <v-list-tile-action v-if="child.icon">
            <v-icon>{{ child.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ child.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-group>
      <v-list-tile 
        v-else 
        :key="item.text"
        router
        :to="{ name: item.route }"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>
            {{ item.text }}
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
export default {
  data: () => ({
    items: [
      { icon: 'dashboard', text: 'Dashboard', route: 'admin-dashboard', },
      {
        icon: 'folder',
        text: 'Pengelolaan Soal',
        model: true,
        children: [
          { icon: ' ', text: 'Kategori', route: 'question-category.index' },
          { icon: ' ', text: 'Soal', route: 'question.index' },
          { icon: ' ', text: 'Wacana', route: 'discourse.index' },
          { icon: ' ', text: 'Paket Soal', route: 'question-packet.index' }
        ]
      },
      { icon: 'confirmation_number', text: 'Cut-off Program Studi', route: 'program.index' },
      { icon: 'people_alt', text: 'Peserta', route: 'participant.index' },
      {
        icon: 'timer',
        text: 'Ujian',
        model: true,
        children: [
          { icon: ' ', text: 'Jadwal/Pengaturan Waktu', route: 'exam-schedule.index' },
          { icon: ' ', text: 'Detail', route: 'exam-detail.index' },
        ]
      },
      { icon: 'bar_chart', text: 'Laporan', route: 'report.index' },
    ],
  })
}
</script>

<style>

</style>