<template>
  <v-layout row wrap>
    <v-flex md12 sm12 xs12>
      <h1 class="font-weight-regular pb-3">Dashboard</h1>
    </v-flex>
    <!-- <v-flex md6 sm12 xs12 text-xs-center>
      <v-card height="300">
        <v-layout align-center justify-center row fill-height>
          <v-card-title primary-title>
            <div>
              <v-card-text class="title">
                <h1>99</h1>
              </v-card-text>
              <h4 class="headline mb-0">Jumlah Soal di Basis Data</h4>
            </div>
          </v-card-title>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex md6 sm12 xs12 text-xs-center>
      <v-card height="300">
        <v-layout align-center justify-center row fill-height>
          <v-card-title primary-title>
            <div>
              <v-card-text class="title">
                <h1>S1-1</h1>
              </v-card-text>
              <h4 class="headline mb-0">Kode Paket Soal yang Aktif</h4>
            </div>
          </v-card-title>
        </v-layout>
      </v-card>
    </v-flex> -->
  </v-layout>
</template>

<script>
export default {
  name: 'Dashboard',
}
</script>

<style>

</style>
