<template>
  <v-dialog v-model="dialog" max-width="600px" persistent scrollable>
    <v-card>
      <v-card-title>
        <span class="headline">Pratinjau {{ model }}</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-sm class="pt-0">
          <v-layout wrap>
            <v-flex :xs6="isDiscourse" :offset-xs3="isDiscourse">
              <v-card>
                <v-card-text>
                  <p v-if="title" class="title">{{ title }}</p>
                  <span v-html="body" class="text-body"></span>
                  <v-img contain max-height="150" :src="image" v-if="image != null" class="mt-4" />
                  <div v-else></div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Tutup</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    isDiscourse: {
      type: Boolean,
      default: false
    },
    title: String,
    body: String,
    image: String,
    model: String
  },

  methods: {
    close() {
      this.$emit('closePreviewDialog')
    }
  },
}
</script>

<style>

</style>