<template>
  <v-dialog
    v-model="dialog"
    max-width="400"
    persistent
  >
    <v-card v-if="success || error">
      <v-card-title v-if="success">
        <v-icon
          large
          left
          color="green"
        >
          check
        </v-icon>
        <span class="title">Sukses</span>
      </v-card-title>
      <v-card-title v-if="error">
        <v-icon
          large
          left
          color="red"
        >
          close
        </v-icon>
        <span class="title">Terjadi Kesalahan</span>
      </v-card-title>

      <v-card-text>
        <span class="subheading" v-if="success">{{ model }} berhasil {{ action }}.</span>
        <span class="subheading" v-if="error">{{ errorMessage }}</span>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          v-show="closeDialog"
          color="secondary"
          flat="flat"
          @click="close"
        >
          Tutup
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card v-else>
      <v-card-text class="text-xs-center">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable */
export default {
  props: {
    model: String,
    dialog: {
      type: Boolean,
      default: false,
    },
    success: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Boolean,
      default: false,
    },
    errorMessage: String,
    action: String,
    closeDialog: {
      type: Boolean,
      default: true
    },
  },

  methods: {
    close() {
      this.$emit('closeSuccessDialog')
    },
  },
}
</script>

<style>

</style>
