<template>
<!-- DIALOG -->
  <div>
    <v-dialog
      v-model="dialog"
      max-width="500"
      persistent
      scrollable
    >
      <success-dialog
        :dialog="successDialog"
        :success="success"
        model="Pilihan Jawaban"
        :action="action"
        v-on:closeSuccessDialog="closeSuccessDialog"  
      ></success-dialog>
      <v-card>
        <v-card-title>
          <span class="subheading">{{ formTitle }} Pilihan Jawaban #{{ choiceNumber }}</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-layout>
            <v-flex xs12>
              <v-btn small @click="openTextInput">Teks</v-btn>
              <v-btn small @click="openImageInput">Gambar</v-btn>
              <v-textarea
                :label="'Teks Jawaban'"
                class="mt-3"
                auto-grow
                rows="3"
                v-model="choiceText"
                append-outer-icon="remove_circle"
                @click:append-outer="closeTextInput"
                v-show="textInput || choiceText"
                clearable
                box
              >
              </v-textarea>
              <v-text-field 
                label="Gambar Jawaban" 
                @click='pickChoiceImage' 
                v-model='choiceImageName' 
                v-show="imageInput || choiceImageName"
                box
                prepend-inner-icon='attach_file'
                :class="textInput ? 'mt-0' : 'mt-4'"
                :append-icon="this.choiceImageUrl ? 'close' : ''"
                append-outer-icon="remove_circle"
                @click:append-outer="closeImageInput"
                @click:append="removeChoiceImage" 
              ></v-text-field>
              <input
                type="file"
                style="display: none"
                ref="choiceImage"
                accept="choiceImage/*"
                @change="onChoiceImagePicked"
              >
              <v-img contain max-height="150" :src="choiceImageUrl" v-if="choiceImageUrl"/>
              <div v-else></div>
              <v-switch 
                label="Benar" 
                v-model="isChoiceCorrect" 
                v-show="choiceText || choiceImageName" 
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <span v-show="alert" class="ml-3 font-weight-bold red--text">{{ alertMessage }}</span>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
          <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  <!-- LIST -->
    <v-flex xs12>
      <v-card>
        <v-card-title class="title">
          Pilihan Jawaban
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm4 v-for="i in 5" :key="`5${i}`">
                <!-- <v-btn color="primary" large v-if="!answerChoices[i - 1]" @click="openChoiceForm(null, i)">Tambah Pilihan #{{ i }}</v-btn> -->
                <v-card dark color="grey darken-2">
                  <v-card-title class="font-weight-bold subheading">Pilihan Jawaban #{{ i }}</v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <!-- <span v-if="answerChoices[i - 1].choice_text">
                      {{ (answerChoices[i - 1].choice_text).length > 50 ? answerChoices[i - 1].choice_text.substr(0, 50).concat(' ...') : answerChoices[i - 1].choice_text }}
                    </span> -->
                    <v-card class="scroll" height="200" v-show="answerChoices[i - 1].choice_text || answerChoices[i - 1].choice_image_id">
                      <v-card-text>
                        <v-layout wrap>
                          <v-flex xs12>
                            <span 
                              v-if="answerChoices[i - 1].choice_text" 
                              v-html="answerChoices[i - 1].choice_text"
                              class="text-body"
                            ></span>
                            <div v-else></div>
                          </v-flex>
                          <v-flex xs12>
                            <v-img contain max-height="150" 
                              :src="$imageURL.concat(answerChoices[i - 1].choice_image_name)" 
                              v-if="answerChoices[i - 1].choice_image_id != null" 
                              :class="answerChoices[i - 1].choice_text ? 'mt-4' : 'mt-0'" 
                            />
                            <div v-else></div>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                    <div v-show="answerChoices[i - 1].correct_choice != null">
                      <v-divider dark class="my-3"></v-divider>
                      <v-icon :color="answerChoices[i - 1].correct_choice == 1 ? 'green' : 'red'">{{ (answerChoices[i - 1].correct_choice == 1) ? 'check' : 'close' }}</v-icon>
                      <span>&nbsp;{{ (answerChoices[i - 1].correct_choice == 1) ? 'Benar' : 'Salah' }}</span>
                    </div>
                  </v-card-text>
                  <v-divider dark></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn v-if="answerChoices[i - 1].correct_choice != null" color="success" @click="openChoiceForm(answerChoices[i - 1], i, 'Edit')" dark>Ubah</v-btn>
                    <v-btn v-else color="primary" @click="openChoiceForm({correct_choice: false}, i, 'Tambah')" dark>Tambah</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions, mapMutations } from 'vuex'
import SuccessDialog from '../SuccessDialog'

export default {
  props: {
    choiceReset: {
      type: Boolean,
      default: false
    }
  },

  components: {
    SuccessDialog
  },

  data: () => ({
    answerChoices: [{}, {}, {}, {}, {}],

    dialog: false,
    alert: false,
    formTitle: '',
    alertMessage: '',

    choiceNumber: null,
    choiceImage: null,
    choiceImageName: null,
    choiceImageUrl: null,
    choiceImageFile: null,
    textInput: false,
    imageInput: false,
    choiceText: null,
    isChoiceCorrect: false,
    imageId: null,

    success: false,
    successDialog: false,
    action: ''
  }),

  computed: {
    ...mapGetters({
      choiceActive: 'answerChoice/getActive',
      choicesByQuestion: 'question/getAnswerChoices',
      imageActive: 'image/getActive'
    }),

    newChoiceData() {
      const data = {
        index: this.choiceNumber,
        choice_text: this.choiceText,
        choice_image_id: this.imageId,
        choice_image_name: this.choiceImageName,
        correct_choice: this.isChoiceCorrect
      }

      return data
    },
  },

  methods: {
    ...mapActions({
      storeChoice: 'answerChoice/store',
      updateChoice: 'answerChoice/update',
      fetchOneImage: 'image/fetchOne',
      storeImage: 'image/store',
      destroyImage: 'image/destroy'
    }),

    ...mapMutations({
      setActiveChoice: 'answerChoice/setActive',
      pushNewChoice: 'answerChoice/pushNewData',
      setActiveImage: 'image/setActive',
    }),

    openChoiceForm (item, itemNumber, action) {
      this.dialog = true
      this.choiceNumber = itemNumber
      this.formTitle = action
      this.setActiveChoice(item)
      this.$emit('setChoiceResetFalse')
    },
    
    // CHOICE IMAGE UPLOAD MANAGEMENT
    pickChoiceImage () {
      this.$refs.choiceImage.click ()
    },
		
		onChoiceImagePicked (e) {
      const files = e.target.files
      
			if(files[0] !== undefined) {
        this.choiceImageName = files[0].name
        
				if(this.choiceImageName.lastIndexOf('.') <= 0) {
					return
        }
        
        const fr = new FileReader ()
        
        fr.readAsDataURL(files[0])
        
				fr.addEventListener('load', () => {
					this.choiceImageUrl = fr.result
					this.choiceImageFile = files[0] // this is an image file that can be sent to server...
				})
			} else {
				this.removeChoiceImage()
      }
    },

    removeChoiceImage() {
      this.choiceImageName = null
      this.choiceImageFile = null
      this.choiceImageUrl = null
    },

    // Choices Input Mode Toggler
    openTextInput() {
      this.textInput = true
    },

    closeTextInput() {
      this.choiceText = null
      this.textInput = false
    },

    openImageInput() {
      this.imageInput = true
    },

    closeImageInput() {
      this.imageInput = false
      this.removeChoiceImage()
    },

    choiceInputReset() {
      this.closeTextInput()
      this.closeImageInput()
      this.setActiveChoice({})
      this.isChoiceCorrect = false
      this.imageId = null
      this.alert = false
    },

    close() {
      this.dialog = false
      this.choiceInputReset()
    },

    closeSuccessDialog() {
      this.successDialog = false
      this.success = false
    },

    save() {
      if (!this.choiceText && !this.choiceImageName) {
        this.alert = true
        this.alertMessage = 'Silakan isi salah satu kolom!'
      } else {
        if (this.choiceActive.id != null) {
          // Update
          if (this.choiceImageName == null) {
            if (this.choiceActive.choice_image_id != null) {
              this.destroyImage(this.choiceActive.choice_image_id)
                .then(res => {
                  this.choiceActive.choice_image_id = null
                  this.choiceActive.choice_image_name = null
                  this.updateChoiceHandler()
                  this.close()
                })
                .catch(err => {
                  console.log(err)
                })
            } else {
              this.updateChoiceHandler()
              this.close()
            } 
          } else {
            if (this.choiceImageName != this.choiceActive.choice_image_name) {
              const formData = new FormData();

              formData.append('file_name', this.$refs.choiceImage.files[0])

              this.storeImage(formData)
                .then(res => {
                  this.setActiveImage(res)
                  this.choiceActive.choice_image_id = this.imageActive.id
                  this.choiceActive.choice_image_name = this.imageActive.file_name
                  this.updateChoiceHandler()
                  this.close()
                })
                .catch(err => {
                  console.log(err)
                })
            } else {
              this.updateChoiceHandler()
              this.close()
            }
          }
        } else {
          // New
          if (this.choiceImageName != null) {
            const formData = new FormData();

            formData.append('file_name', this.$refs.choiceImage.files[0])

            this.storeImage(formData)
              .then(res => {
                this.setActiveImage(res)
                this.imageId = this.imageActive.id
                this.choiceImageName = this.imageActive.file_name
                this.storeChoiceHandler()
                this.close()
              })
              .catch(err => {
                console.log(err)
              })
          } else {
            this.storeChoiceHandler()
            this.close()
          }
        }
      }
    },

    updateChoiceHandler() {
      this.successDialog = true
      this.choiceActive.choice_text = this.choiceText
      this.choiceActive.correct_choice = this.isChoiceCorrect

      this.updateChoice(this.choiceActive)
        .then(res => {
          this.success = true
          this.action = 'diubah'
          this.setActiveChoice(res)
        })
        .catch(err => {
          console.log(err)
        })
    },

    storeChoiceHandler() {
      this.answerChoices[this.choiceNumber - 1] = this.newChoiceData
      this.pushNewChoice(this.newChoiceData)
    },
  },

  watch: {
    choiceText() {
      if (this.choiceText)
        this.alert = false
    },

    choiceImageName() {
      if (this.choiceImageName)
        this.alert = false
    },

    isChoiceCorrect() {
      if (this.isChoiceCorrect) {
        for (let i = 0; i < this.answerChoices.length; i++) {
          if (this.answerChoices[i].correct_choice && this.choiceNumber != i + 1) {
            this.alert = true
            this.alertMessage = 'Pilihan '.concat(i + 1).concat(' sudah diset benar, silakan ganti terlebih dahulu!')
            this.isChoiceCorrect = false
          }
        }
      }
    },

    choiceActive() {
      if (this.choiceActive != null) {
        this.choiceText = this.choiceActive.choice_text
        this.isChoiceCorrect = this.choiceActive.correct_choice

        if (this.choiceActive.choice_image_id) {
          this.imageId = this.choiceActive.choice_image_id
          this.choiceImageName = this.choiceActive.choice_image_name
          this.choiceImageUrl = this.$imageURL.concat(this.choiceImageName)
        } 
      } 
    },

    choicesByQuestion() {
      if (this.choicesByQuestion) {
        this.answerChoices = this.choicesByQuestion
      } else {
        this.answerChoices = [{}, {}, {}, {}, {}]
      }
    },

    choiceReset() {
      if (this.choiceReset)
        this.answerChoices = [{}, {}, {}, {}, {}]
    }
  }
}
</script>

<style>

</style>
