<template>
  <v-dialog v-model="dialog" max-width="800" scrollable>
    <v-card>
      <v-card-title>
        <span class="headline">Detail Soal</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <!-- QUESTION DETAIL -->
            <v-flex xs12>
              <v-container grid-list-md class="py-0 my-0">
                <v-layout wrap>
                  <v-flex sm4>
                    <v-text-field label="Id" v-model="questionActive.id" readonly></v-text-field>
                  </v-flex>
                  <v-flex sm4>
                    <v-text-field label="Jenjang" v-model="questionLevel" readonly></v-text-field>
                  </v-flex>
                  <v-flex sm4>
                    <v-text-field label="Kategori" v-model="category" readonly></v-text-field>
                  </v-flex>
                  <!-- <v-flex sm12>
                    <v-textarea
                      label="Pertanyaan"
                      auto-grow
                      v-model="questionActive.question"
                      outline
                      readonly
                    ></v-textarea>
                  </v-flex>
                  <v-flex sm12>
                    <p class="caption">Gambar</p>
                    <v-img contain max-height="150" :src="questionImageUrl" v-if="questionActive.question_image_id != null"></v-img>
                    <span v-else class="font-italic title">Tidak ada gambar</span>
                  </v-flex>
                  <v-flex sm12>
                    <v-textarea
                      label="Petunjuk"
                      auto-grow
                      v-model="questionHint"
                      class="mt-4"
                      outline
                      readonly
                    ></v-textarea>
                  </v-flex> -->
                </v-layout>
              </v-container>
            </v-flex>
            <!-- QUESTION CONTENT -->
            <v-flex xs12>
              <v-container grid-list-md class="py-0 my-0">
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-card color="grey lighten-2">
                      <v-card-title>
                        <span class="title">Soal</span>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <v-layout wrap>
                          <v-flex xs12>
                            <span v-html="questionActive.question" class="text-body"></span>
                            <v-img contain max-height="150" :src="questionImageUrl" v-if="questionActive.question_image_id != null" class="mt-3"></v-img>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-expansion-panel light class="my-4">
                              <v-expansion-panel-content>
                                <template v-slot:header>
                                  <div class="title">Petunjuk</div>
                                </template>
                                <v-divider></v-divider>
                                <v-card>
                                  <v-card-text>
                                    <v-card color="grey lighten-2">
                                      <v-card-text>
                                        <div v-if="questionActive.hint">
                                          <span v-html="questionActive.hint" class="text-body"></span>
                                        </div>
                                        <p v-else class="font-italic">Tidak ada petunjuk.</p>
                                      </v-card-text>
                                    </v-card>
                                  </v-card-text>
                                </v-card>
                              </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-flex>
                          <v-flex xs12 sm6> 
                            <v-expansion-panel light class="my-4">
                              <v-expansion-panel-content>
                                <template v-slot:header>
                                  <div class="title">Wacana</div>
                                </template>
                                <v-divider></v-divider>
                                <v-card>
                                  <v-card-text>
                                    <v-card color="grey lighten-2">
                                      <v-card-text>
                                        <div v-if="questionActive.discourse_id">
                                          <p class="subheading font-weight-bold">{{ questionActive.discourse.title }}</p>
                                          <span v-if="discourseActive.body" v-html="questionActive.discourse.body" class="text-body"></span>
                                          <div v-else></div>
                                          <v-img contain max-height="150" :src="discourseImageUrl" class="mt-3" v-if="discourseImageUrl"></v-img>
                                          <div v-else></div>
                                        </div>
                                        <p v-else class="font-italic">Tidak ada wacana.</p>
                                      </v-card-text>
                                    </v-card>
                                  </v-card-text>
                                </v-card>
                              </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <!-- <v-flex xs12 sm6>
                    
                  </v-flex> -->
                </v-layout>
              </v-container>
            </v-flex>
            <!-- ANSWER CHOICES -->
            <v-flex xs12>
              <v-card class="mt-4">
                <v-card-title>
                  <span class="title">Pilihan Jawaban</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-container>
                    <v-layout row wrap>
                      <v-flex xs12 sm6 v-for="(answer_choice, index) in questionActive.answer_choices" v-bind:key="(answer_choice, index)">
                        <v-card color="grey darken-2" class="mb-4" dark>
                          <v-card-title class="font-weight-bold subheading">Pilihan Jawaban #{{ index + 1 }}</v-card-title>
                          <v-card-text>
                            <v-card height="175" class="scroll">
                              <v-card-text>
                                <v-layout wrap>
                                  <v-flex xs12>
                                    <span v-if="answer_choice.choice_text" v-html="answer_choice.choice_text" class="text-body"></span>
                                    <div v-else></div>
                                    <v-img contain max-height="150" 
                                      :src="$imageURL.concat(answer_choice.choice_image_name)" 
                                      v-if="answer_choice.choice_image_id" 
                                      :class="answer_choice.choice_text ? 'mt-4' : 'mt-0'" 
                                    />
                                    <div v-else></div>
                                  </v-flex>
                                </v-layout>
                              </v-card-text>
                            </v-card>
                          </v-card-text>
                          <v-divider light mt4></v-divider>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-icon :color="answer_choice.correct_choice == 1 ? 'green' : 'red'">{{ (answer_choice.correct_choice == 1) ? 'check' : 'close' }}</v-icon>
                            <span>&nbsp;{{ (answer_choice.correct_choice == 1) ? 'Benar' : 'Salah' }}</span>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat  @click.native="close">Tutup</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex';

  export default {
    data: () => ({
      questionImageUrl: null,
      discourseImageUrl: null,
      questionLevel: null,
      questionHint: null,
      category: null,
      discourseId: null,
      dialog: false
    }),

    computed: {
      ...mapGetters({
        questionActive: 'question/getActive',
        discourseActive: 'questionDiscourse/getActive'
      }),
    },

    methods: {
      ...mapActions({
        fetchOneDiscourse: 'questionDiscourse/fetchOne'
      }),

      ...mapMutations({
        setActiveDiscourse: 'questionDiscourse/setActive'
      }),

      close() {
        this.dialog = false;
        this.questionImageUrl = null,
        this.discourseImageUrl = null,
        this.questionLevel = null,
        this.questionHint = null,
        this.category = null,
        this.setActiveDiscourse({})
        this.$emit('closeDetailDialog');
      },
    },

    watch: {
      dialog(val) {
        val || this.close();
      },

      questionActive() {
        if (this.questionActive.id != null) {
          this.dialog = true
          this.category = this.questionActive.category.category
          this.questionLevel = (this.questionActive.level == 1) ? 'S1' : 'S2'
          this.questionHint = (this.questionActive.hint == null) ? 'Tidak ada petunjuk' : this.questionActive.hint
          this.discourseId = this.questionActive.discourse_id

          if (this.questionActive.question_image_id)
            this.questionImageUrl = this.$imageURL.concat(this.questionActive.image.file_name)
        }
      },

      discourseId() {
        if (this.discourseId) {
          this.fetchOneDiscourse(this.discourseId)
            .then((res) => {
              this.setActiveDiscourse(res)
            })
            .catch(err => {
              console.log(err)
            })
        }
      },

      discourseActive() {
        if (this.discourseActive.image)
          this.discourseImageUrl = this.$imageURL.concat(this.discourseActive.image.file_name)
      }
    },
  }
</script>