<template>
  <v-dialog v-model="dialog" max-width="960" persistent id="questionDialog" scrollable>
    <!-- <v-btn color="primary" slot="activator" @click="setAnswerInputTrue">Tambah Baru</v-btn> -->
    <v-btn color="primary" slot="activator">Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      model="Soal"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"
    ></success-dialog>
    <preview-dialog
      :model="'Soal'"
      :dialog="previewDialog"
      :body="questionActive.question"
      :image="questionImageUrl"
      v-on:closePreviewDialog="previewDialog = false"
    ></preview-dialog>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <!-- QUESTION FORM -->
            <v-flex xs12 sm6 md6>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex sm12>
                    <v-autocomplete 
                      :items="categoryData" 
                      item-value="id" 
                      item-text="category" 
                      label="Kategori" 
                      box
                      v-model.number="questionActive.category_id" 
                      :error-messages="errors.collect('category')" 
                      v-validate="'required'" 
                      data-vv-name="category" 
                      required 
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex sm12>
                    <v-radio-group 
                      label="Jenjang"
                      v-model="questionActive.level" 
                      row
                      class="mt-0"
                      :error-messages="errors.collect('level')" 
                      v-validate="'required'" 
                      data-vv-name="level" 
                      required
                    >
                      <v-radio label="S1" color="blue darken-1" :value="1"></v-radio>
                      <v-radio label="S2" color="blue darken-1" :value="2"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex sm12>
                    <v-textarea
                      v-model="questionActive.question"
                      clearable
                      box
                      rows="5"
                      label="Teks Soal" 
                      class="mt-3"
                      :error-messages="errors.collect('question')" 
                      v-validate="'required'" 
                      data-vv-name="question" 
                      required
                    ></v-textarea>
                  </v-flex>
                  <v-flex sm12>
                    <v-text-field 
                      label="Gambar Soal" 
                      @click='pickQuestionImage' 
                      v-model='questionImageName'
                      box
                      prepend-inner-icon='attach_file'
                      :append-icon="this.questionImageUrl ? 'close' : ''"
                      @click:append="removeQuestionImage"
                    ></v-text-field>
                    <input
                      type="file"
                      style="display: none"
                      ref="questionImage"
                      accept="image/png,image/jpg,image/jpeg"
                      @change="onQuestionImagePicked"
                    >
                  </v-flex>
                  <v-flex xs12>
                    <v-img contain max-height="150" :src="questionImageUrl" v-if="questionImageUrl"/>
                    <div v-else></div>
                  </v-flex>
                  <v-flex sm12>
                    <v-textarea label="Petunjuk" box auto-grow rows="3" v-model="questionActive.hint" :class="(this.questionImageUrl) ? 'mt-4' : ''"></v-textarea>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
            <!-- DISCOURSE -->
            <v-flex xs12 sm6 md6>
              <v-card>
                <v-card-text>
                  <v-container grid-list-sm class="pt-0">
                    <v-layout wrap>
                      <v-flex sm12>
                        <v-autocomplete 
                          :items="discourseData" 
                          item-value="id" 
                          item-text="title" 
                          :loading="discourseLoading"
                          label="Wacana" 
                          box
                          v-model.number="discourseId"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex sm12>
                        <div v-if="discourseActive">
                          <!-- <span>{{ discourseActive.body }}</span> -->
                          <span v-html="discourseActive.body" class="text-body"></span>
                          <v-img contain max-height="150" :src="$imageURL.concat(discourseActive.image.file_name)" v-if="discourseActive.image != null" class="mt-4" />
                          <div v-else></div>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-flex>
            <!-- ANSWER CHOICES FORM -->
            <!-- <answer-choices-form :answerInput="answerInput"></answer-choices-form> -->
            <answer-choice-form :choiceReset="choiceReset" v-on:setChoiceResetFalse="setChoiceResetFalse"></answer-choice-form>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <span v-show="alert" class="red--text font-weight-bold ml-4">{{ alertMessage }}</span>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="amber darken-3" flat @click.native="previewDialog = true">Pratinjau</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapActions, mapMutations } from 'vuex';
import SuccessDialog from '../SuccessDialog'
import PreviewDialog from '../PreviewDialog'
import AnswerChoiceForm from './AnswerChoiceForm'

export default {
  $_veeValidate: {
    validator: 'new'
  },

  components: {
    SuccessDialog,
    PreviewDialog,
    AnswerChoiceForm
  },

  data: () => ({
    dictionary: {
      custom: {
        category: {
          required: 'Silakan pilih kategori!',
        },
        level: {
          required: 'Silakan pilih jenjang soal!',
        },
        question: {
          required: 'Silakan isi teks soal!',
        },
      }
    },
    questionImageName: null,
    questionImageUrl: null,
    questionImageFile: null,

    discourseId: null,
    discourseLoading: false,

    alert: false,
    alertMessage: '',
    dialog: false,
    previewDialog: false,
    choiceReset: false,
    successDialog: false,
    success: false,
    action: ''
  }),

  computed: {
    ...mapGetters({
      questionActive: 'question/getActive',
      categoryData: 'questionCategory/getData',
      discourseData: 'questionDiscourse/getData',
      discourseActive: 'questionDiscourse/getActive',
      newChoicesData: 'answerChoice/getNewData',
      imageActive: 'image/getActive'
    }),

    formTitle() {
      return this.questionActive.id == null ? 'Tambah Soal' : 'Edit Soal'
    },

    discourseBody() {
      return this.questionActive.discourse_id == null ? '' : this.discourseActive.body
    },
  },

  methods: {
    ...mapActions({
      fetchQuestions: 'question/fetchAll',
      storeQuestion: 'question/store',
      updateQuestion: 'question/update',
      fetchOneDiscourse: 'questionDiscourse/fetchOne',
      fetchAnswerChoices: 'question/fetchAnswerChoices',
      storeAnswerChoices: 'question/storeAnswerChoices',
      fetchOneImage: 'image/fetchOne',
      storeImage: 'image/store',
      destroyImage: 'image/destroy'
    }),

    ...mapMutations({
      setActiveQuestion: 'question/setActive',
      setActiveDiscourse: 'questionDiscourse/setActive',
      setAnswerChoices: 'question/setAnswerChoices',
      setActiveImage: 'image/setActive',
      pushNewChoices: 'answerChoice/pushNewData',
      // setActiveChoice: 'answerChoice/setActive',
    }),

    setChoiceResetFalse() {
      this.choiceReset = false
    },

    // Question Image Management
    pickQuestionImage () {
      this.$refs.questionImage.click ()
    },
		
		onQuestionImagePicked (e) {
      const files = e.target.files
      
			if(files[0] !== undefined) {
        this.questionImageName = files[0].name
        
				if(this.questionImageName.lastIndexOf('.') <= 0) {
					return
        }
        
        const fr = new FileReader ()
        
        fr.readAsDataURL(files[0])
        
				fr.addEventListener('load', () => {
					this.questionImageUrl = fr.result
          this.questionImageFile = files[0] // this is an image file that can be sent to server...
        })
			} else {
				this.removeQuestionImage()
      }
    },

    removeQuestionImage() {
      this.questionImageName = null
      this.questionImageFile = null
      this.questionImageUrl = null
    },
    
    //  HTTP Request Event Handler 
    save() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            if (!this.newChoicesData[0].correct_choice && 
            !this.newChoicesData[1].correct_choice && 
            !this.newChoicesData[2].correct_choice && 
            !this.newChoicesData[3].correct_choice && 
            !this.newChoicesData[4].correct_choice) {
              this.alert = true
              this.alertMessage = 'Silakan isi pilihan jawaban dengan lengkap dan tentukan pilihan benar.'
            } else {
              if (this.questionActive.id != null) {
                // Update
                if (this.questionImageName == null) {
                  if (this.questionActive.question_image_id != null) {
                    this.destroyImage(this.questionActive.question_image_id)
                      .then(res => {
                        this.questionActive.question_image_id = null
                        this.updateQuestionHandler()
                        this.close()
                      })
                      .catch(err =>{
                        console.log(err)
                      })
                  } else {
                    this.updateQuestionHandler()
                    this.close()
                  }
                } else {
                  const formData = new FormData();

                  formData.append('file_name', this.$refs.questionImage.files[0])

                  this.storeImage(formData)
                    .then(res => {
                      this.setActiveImage(res)
                      this.questionActive.question_image_id = this.imageActive.id
                      this.updateQuestionHandler()
                      this.close()
                    })
                    .catch(err => {
                      console.log(err)
                    })
                }
              } else {
                // New
                if (this.questionImageName != null) {
                  const formData = new FormData();

                  formData.append('file_name', this.$refs.questionImage.files[0])

                  this.storeImage(formData)
                    .then(res => {
                      this.setActiveImage(res)
                      this.questionActive.question_image_id = this.imageActive.id
                      this.storeQuestionHandler()
                      this.clearInput()
                    })
                    .catch(err => {
                      console.log(err)
                    })
                } else {
                  this.storeQuestionHandler()
                  this.clearInput()
                }
              }
            }
          } else {
            this.alert = true
            this.alertMessage = 'Silakan lengkapi kolom yang dibutuhkan!'
          }
        })
    },

    updateQuestionHandler() {
      this.successDialog = true
      if (this.discourseId != null)
        this.questionActive.discourse_id = this.discourseId

      this.updateQuestion(this.questionActive)
        .then(res => {
          this.success = true
          this.action = 'diubah'
        })
        .catch(err => {
          console.log(err)
        });
    },

    storeQuestionHandler() {
      this.successDialog = true
      if (this.discourseId != null)
        this.questionActive.discourse_id = this.discourseId

      this.storeQuestion(this.questionActive)
        .then(res => {
          this.storeAnswerChoicesHandler(res)
          this.success = true
          this.action = 'ditambah'
        })
        .then(() => {
          this.fetchQuestions()
        })
        .catch(err => {
          console.log(err)
        });
    },

    storeAnswerChoicesHandler(item) {
      const questionData = {
        id: item.id,
        answer_choices: this.newChoicesData
      }

      this.storeAnswerChoices(questionData)
    },

    clearInput() {
      this.$validator.reset()
      this.setActiveQuestion({})
      this.setActiveDiscourse({})
      this.discourseId = ''
      this.removeQuestionImage()
      this.setActiveImage({})
      this.setActiveDiscourse({})
      this.choiceForm = false
      this.setAnswerChoices(null)
      this.alert = false
      this.alertMessage = ''
      this.choiceReset = true
    },

    close() {
      this.clearInput()
      this.dialog = false
      this.$emit('closeEditDialog')
    },

    closeSuccessDialog() {
      this.successDialog = false
      this.success = false

      for (let i = 1; i <= 5; i++) {
        this.pushNewChoices({ correct_choice: null, index: i })
      }
    },
  },

  watch: {
    questionActive() {
      if (this.questionActive.id != null) {
        this.dialog = true
        
        if (this.questionActive.question_image_id != null) {
          this.questionImageName = this.questionActive.image.file_name
          this.questionImageUrl = this.$imageURL.concat(this.questionImageName)
        }

        if (this.questionActive.discourse_id != null) {
          if (this.discourseLoading) 
            return

          this.discourseLoading = true

          this.fetchOneDiscourse(this.questionActive.discourse_id)
            .then((res) => {
              this.setActiveDiscourse(res)
              this.discourseId = this.questionActive.discourse_id
            })
            .catch(err => {
              console.log(err)
            })
            .finally(() => (this.discourseLoading = false))
        }

        this.fetchAnswerChoices(this.questionActive.id)
          .then((res) => {
            this.setAnswerChoices(res)
            for (let i = 1; i <= 5; i++) {
              this.pushNewChoices(res[i - 1])
            }
          })
          .catch(err => {
            console.log(err)
          })
      }
    },

    discourseId() {
      if (this.discourseLoading) 
        return

      this.discourseLoading = true

      if (this.discourseId != null) {
        this.fetchOneDiscourse(this.discourseId)
          .then((res) => {
            this.setActiveDiscourse(res)
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.discourseLoading = false))
      }
    },

    // choicesByQuestion() {
    //   if (this.choicesByQuestion) {
    //     this.answerChoices = this.choicesByQuestion
    //   } else {
    //     this.choiceReset()
    //   }
    // },
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },
}
</script>

<style>

</style>
