<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>      
      <v-card>
        <v-card-title>
          <span class="title mr-2">Soal</span>
          <question-form            
            v-on:closeEditDialog="closeEditDialog"  
          ></question-form>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
            clearable
          ></v-text-field>
        </v-card-title>
        <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :edit="true"
          :destroy="true"
          :items="questionData"
          v-on:showEditDialog="showEditDialog"
          v-on:destroyHandler="destroyQuestionHandler"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex'

  import DataTable from '../../DataTable'
  import QuestionForm from './Form'

	export default {
    name: 'Question',

    components: {
      DataTable,
      QuestionForm
    },

    data: () => ({
      breadrumbItems: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'dashboard'
        },
        {
          text: 'Soal',
          disabled: true
        },
      ],
      headers: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'Pertanyaan', value: 'question' },
        { text: 'Kategori', value: 'category' },
        { text: 'Jenjang', value: 'level' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],      
      search: '',
      progress: true,
    }),

    computed: {
      ...mapGetters({
        questionData: 'question/getData',
        questionActive: 'question/getActive',
      }),
    },

    methods: {
      ...mapActions({
        fetchQuestions: 'question/fetchAll',  
        fetchOneQuestion: 'question/fetchOne',
        destroyQuestion: 'question/destroy',
        fetchCategories: 'questionCategory/fetchAll',
        fetchDiscourses: 'questionDiscourse/fetchAll'
      }),

      ...mapMutations({
        setActiveQuestion: 'question/setActive',
      }),

      fetchQuestionsHandler() {
        this.fetchQuestions()
          .then((res) => {
            this.progress = false
          })
          .catch(err => {
            console.log(err)
          });
      },

      fetchCategoriesHandler() {
        this.fetchCategories()
          .then((res) => {
            this.progress = false
          })
          .catch(err => {
            console.log(err)
          });
      },

      fetchDiscoursesHandler() {
        this.fetchDiscourses()
          .then((res) => {
            this.progress = false
          })
          .catch(err => {
            console.log(err)
          });
      },

      showEditDialog(item) {
        this.fetchOneQuestion(item.id)
          .then((res) => {
            this.setActiveQuestion(res)
          })
          .catch(err => {
            console.log(err)
          })
      },

      closeEditDialog() {
        this.setActiveQuestion({})
      },

      destroyQuestionHandler(id) {
        this.destroyQuestion(id)
          .catch(err => {
            console.log(err)
          });
      },
    },

    mounted() {
      this.fetchQuestionsHandler()
      this.fetchCategoriesHandler()
      this.fetchDiscoursesHandler()
    }
  }
</script>