<template>
  <!-- <div v-show="dataIsComplete">Selamat datang peserta Ujian Antara UAJY!</div> -->
  <v-layout row wrap v-show="dataIsComplete">
    <v-flex md12 sm12 xs12>
      <h1 class="font-weight-regular pb-3">Beranda</h1>
    </v-flex>

    <!-- AFTER EXAM -->
    <v-flex xs12 v-if="score">
      <v-layout row wrap>
        <v-flex xs12 class="mb-2">
          <v-card v-if="acceptedIn" color="success" dark>
          <!-- <v-card color="success" dark> -->
            <v-card-text class="text-xs-center">
              <div class="mb-2"><v-icon x-large>emoji_events</v-icon></div>
              <span class="subheading" v-html="acceptedMessage"></span>
            </v-card-text>
          </v-card>
          <v-card v-else-if="participant.participant.status_khusus === 1" color="#f8c101" dark>
          <!-- <v-card color="#f8c101" dark> -->
            <v-card-text class="text-xs-center">
              <div class="mb-2"><v-icon x-large>warning</v-icon></div>
              <span class="title">
                  Silahkan Menghubungi Koordinator Instrumen Tes dan Evaluasi
              </span>
            </v-card-text>
          </v-card>
          <v-card v-else  :color="participant.participant.level === 1 ? 'error': '#f8c101'" dark>
          <!-- <v-card  :color="participant.participant.level === 1 ? 'error': '#f8c101'" dark> -->
            <v-card-text class="text-xs-center">
              <div class="my-2">
                <v-icon x-large v-if="participant.participant.level === 1">sentiment_very_dissatisfied</v-icon>
                <v-icon x-large v-if="participant.participant.level === 2">warning</v-icon>
              </div>
              <span class="subheading" v-html="rejectedMessage"></span>
              <!-- <p class="title">Maaf, anda belum berhasil.</p> -->
              <!-- <p class="subheading">Tetap semangat, silakan mencoba di lain waktu.</p> -->
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6>
          <v-card height="350">
            <v-card-title class="title">
              Data Diri
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="py-4 my-4">
              <v-container fill-height grid-list-md>
                <v-layout row wrap justify-center align-center>
                  <v-flex xs12>
                    <v-text-field
                      label="Nama Lengkap"
                      :value="participant.participant.name"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      :label="participant.participant.type == 1 ? 'No. Pendaftaran' : 'No. Pendaftaran (Sementara)'"
                      :value="participant.username"
                      readonly
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6>
          <v-card height="350" class="scroll">
            <v-card-title>
              <span class="title mr-2">Hasil Jawaban</span>
            </v-card-title>
            <v-divider></v-divider>
            <data-table
              :headers="headers"
              :progress="progress"
              :items="answerSummaries"
              :hideActions="true"
            ></data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <!-- END AFTER EXAM -->

    <!-- BEFORE EXAM -->
    <v-flex v-else>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card class="mb-2" v-if="participantDetail">
            <v-card-title class="title">
              Data Diri
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-text-field
                label="Nama Lengkap"
                :value="participantDetail.name"
                readonly
              ></v-text-field>
              <v-text-field
                :label="participantDetail.type == 1 ? 'No. Pendaftaran' : 'No. Pendaftaran (Sementara)'"
                :value="participant.username"
                readonly
              ></v-text-field>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex md6 sm12 xs12 text-xs-center>
          <v-card height="300">
            <v-layout align-center justify-center row fill-height>
              <v-card-text>
                <h1>Simulasi</h1>
                <p class="subheading mt-2">Simulasi ujian agar terbiasa dengan sistem.</p>
                <v-btn large color="success" class="mt-3" @click="$router.push({ name: 'exam.simulation' })">Mulai Simulasi</v-btn>
              </v-card-text>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex md6 sm12 xs12 text-xs-center>
          <v-card height="300">
            <v-layout align-center justify-center row fill-height>
              <v-card-text>
                <h1>Ujian</h1>
                <p class="subheading mt-2">Mulai mengerjakan ujian apabila sudah siap.</p>
                <v-btn large color="success" class="mt-3" @click="$router.push({ name: 'exam.index' })">Mulai Ujian</v-btn>
              </v-card-text>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <!-- END BEFORE EXAM -->

  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DataTable from '../DataTable'
//import participant from '../../stores/participant'

export default {
  components: {
    DataTable
  },

  data: () => ({
    headers: [
      { text: 'Kategori', value: 'category_name' },
      { text: 'Jumlah Soal', value: 'questions_total', align: 'right' },
      { text: 'Jumlah Benar', value: 'correct_answers', align: 'right' },
    ],      
    dataIsComplete: false,
    score: null,
    acceptedIn: null,
    progress: false,
    answerSummaries: [],
    participantDetail: null
  }),

  computed: {
    ...mapGetters({
      participant: 'loggedUser/getParticipant',
    }),

    selectedProgramIndex() {
      let selectedPrograms = this.participant.participant.study_programs

      return selectedPrograms.findIndex(e => e.id === this.acceptedIn.id) + 1
    },
    rejectedMessage() {
      let message = ''
      if(this.participant.participant.level === 1)
      {
        message = '<p class="title">Maaf, Anda Belum Berhasil.</p><p class="subheading">Tetap Semangat, Silakan Mencoba Di Lain Waktu.</p>'
      }else{
        message = 
          '<p class="title">Anda Diwajibkan Mengikuti Wawancara Dengan Kaprodi Sesuai Jadwal Dalam Brosur</p>'
      }

      return message
    },
    acceptedMessage() {
      let message = ''
      if(this.participant.participant.level === 1)
      {
        message = 
          '<p>Selamat, Anda Diterima Di Pilihan '
          .concat(this.selectedProgramIndex)
          .concat(': </p><p class="title">Program Studi ')
          .concat(this.acceptedIn.name)
          .concat('</p>')

        if(this.acceptedIn.class_type === 2){
            message+='<p>Selanjutnya, Silakan Mengikuti Ujian TOEFL.</p>'
        }
        //this.acceptedIn.class_type == 1 ? message : message.concat('<p>Selanjutnya, Silakan Mengikuti Ujian TOEFL.</p>')
      }else{
        message = 
          '<p class="title">Selamat Anda Lolos TKB ('+this.acceptedIn.name+') </p><p>(Silakan Melengkapi Persyaratan Administrasi)</p>'
      }

      return message
    }
  },

  methods: {
    ...mapActions({
      showSummaries: 'examDetail/showSummaries',
      storeSummaries: 'examDetail/storeSummaries'
    }),
  },

  watch: {
    participant() {
      if (this.participant) {
        this.participantDetail = this.participant.participant

        if (this.participant.participant.name == 'anonim') {
          this.dataIsComplete = false
          this.$router.push({ name: 'data-completion' })
        } else {
          this.dataIsComplete = true
          
          // if (this.participant.participant.exam_detail) {
            this.score = this.participant.participant.exam_detail.total_score
            this.acceptedIn = this.participant.participant.exam_detail.study_program
          // }
        }
      }
    },

    score() {
      if (this.score) {
        this.progress = true

        this.showSummaries(this.participant.participant.exam_detail.id)
          .then(res => {
            this.progress = false
            this.answerSummaries = res
            if(res.length === 0){
              this.storeSummaries(this.participant.participant.exam_detail.id)
            }
          })
          .catch(err => {
            // eslint-disable-next-line
            console.log(err)
          })
      }
    }
  },
}
</script>

<style>

</style>