<template>
  <v-layout align-center justify-center>
    <data-confirmation
      :isFinish="finish"
      :programs="selectedInText"
      :name="name"
      v-on:reviewData="closeFinishDialog"
      v-on:updateParticipantHandler="updateParticipantHandler"
    ></data-confirmation>
    <v-flex xs12 sm6 v-if="!dataIsComplete">
      <!-- <div>Silakan lengkapi data diri</div> -->
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>
            <v-avatar size="35px" tile>
              <img
                src="../../assets/uajy.png"
                alt="UAJY"
              >
            </v-avatar>
            <span class="ml-3 font-weight-regular">Tes Antara UAJY</span>
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 class="pb-4">
                <span class="title">Silakan lengkapi data di bawah ini:</span>
              </v-flex>
              <v-divider></v-divider>
              <v-flex xs12>
                <v-text-field
                  label="Nama Lengkap"
                  v-model="name"
                  box
                  :error-messages="errors.collect('name')" 
                  v-validate="'required'" 
                  data-vv-name="name" 
                  required
                  clearable
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-card color="grey lighten-2">
                  <v-card-title class="title">
                    Pilihan Program Studi
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md text-xs-center>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-autocomplete 
                            label="Pilihan 1" 
                            :items="allPrograms" 
                            item-value="id"
                            item-text="name"
                            :readonly="participant.participant.level === 2 && participant.participant.study_programs.length > 0"
                            :loading="progress"
                            :error-messages="sameChoiceRule[0]"
                            v-model.number="selectedPrograms[0]"
                            box
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 v-if="participant.participant.level !== 2">
                          <v-btn large :disabled="!button2" class="mb-4" @click="input2 = true" v-show="!input2" color="primary" light>Tambah Pilihan 2</v-btn>
                          <v-autocomplete 
                            label="Pilihan 2"
                            v-show="input2"
                            :items="allPrograms" 
                            item-value="id"
                            item-text="name"
                            :error-messages="sameChoiceRule[1]"
                            :loading="progress"
                            v-model.number="selectedPrograms[1]"
                            append-outer-icon="remove_circle"
                            @click:append-outer="removeChoice(1)"
                            box
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 v-if="participant.participant.level !== 2">
                          <v-btn large :disabled="!button3" class="mb-4" @click="input3 = true" v-show="!input3" color="primary" light>Tambah Pilihan 3</v-btn>
                          <v-autocomplete 
                            label="Pilihan 3" 
                            v-show="input3"
                            :items="allPrograms" 
                            item-value="id"
                            item-text="name"
                            :loading="progress"
                            :error-messages="sameChoiceRule[2]"
                            v-model.number="selectedPrograms[2]"
                            append-outer-icon="remove_circle"
                            @click:append-outer="removeChoice(2)"
                            box
                          ></v-autocomplete>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions >
                    <div class="ml-2 mt-3">
                      <p v-if="participant.participant.level !== 2">- Minimal memilih 1.</p> 
                      <p v-if="participant.participant.level !== 2">- Pastikan pilihan sudah benar, karena tidak dapat diubah lagi.</p>
                      <p v-if="participant.participant.level === 2">- Pilihan sudah tidak dapat diubah.</p>
                    </div>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <span class="red--text font-weight-bold ml-4" v-show="alert">{{ alertMessage }}</span>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-3" flat @click.native="cancel">Batal</v-btn>
          <v-btn color="blue darken-3" :disabled="disableSave" flat @click.native="save">Simpan dan Lanjutkan</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12 sm8 md4 v-else>
      <v-card>
        <v-card-text class="text-xs-center">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapMutations, mapActions } from 'vuex'
import Auth from '../../Auth'
import DataConfirmation from './DataConfirmation'

export default {
  components: {
    DataConfirmation
  },

  $_veeValidate: {
    validator: 'new'
  },

  data:() => ({
    dictionary: {
      custom: {
        name: {
          required: 'Silakan isi kolom nama!',
        },
      }
    },
    dataIsComplete: true,
    allPrograms: [],
    selectedPrograms: [null, null, null],
    finalChoices: [],
    progress: false,
    input2: false,
    button2: false,
    input3: false,
    button3: false,
    name: null,
    alertMessage: null,
    alert: false,
    sameChoiceRule: [null, null, null],
    finish: false,
    selectedInText: [],
    disableSave:false
  }),

  computed: {
    ...mapGetters({
      participant: 'loggedUser/getParticipant',
      programData: 'studyProgram/getData'
    }),
  },

  methods: {
    ...mapActions({
      fetchPrograms: 'studyProgram/fetchAllByLevel',
      updateParticipant: 'participant/update',
      addStudyPrograms: 'participant/addStudyPrograms',
      GetParticipant: 'participant/fetchOne'
    }),

    ...mapMutations({
      setLogin: 'loggedUser/setLogin'
    }),

    fetchProgramsHandler() {
      this.progress = true

      this.fetchPrograms(this.participant.participant.level)
        .then(() => {
          this.progress = false
          this.allPrograms = this.programData
          if(this.participant.participant.level === 2){
            try{
              this.selectedPrograms[0] = this.participant.participant.study_programs[0].id
            }catch{
              this.selectedPrograms[0] = null
            }
          }
        })
    },

    removeChoice(index) {
      if (index == 1) {
        this.input2 = false
        this.selectedPrograms[1] = null
        this.button3 = false
        this.input3 = false
        this.selectedPrograms[2] = null

        if (this.sameChoiceRule[0] && this.sameChoiceRule[1])
          this.sameChoiceRule = [null, null, null]
      } else {
        this.input3 = false
        this.selectedPrograms[2] = null
        this.sameChoiceRule[2] = null

        if (this.sameChoiceRule[0])
          this.sameChoiceRule[0] = null
        else
          this.sameChoiceRule[1] = null
      }
    },

    cancel() {
      this.$validator.reset()
      this.selectedPrograms = [null, null, null]
      this.allPrograms = []
      this.progress = false
      this.input2 = false
      this.button2 = false
      this.input3 = false
      this.button3 = false
      this.name = null
      this.alert = false
      this.alertMessage = null
      Auth.clearJwt()
      this.$router.push({ name: 'login' })
      this.setLogin(false)
    },

    save() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            if(this.participant.participant.level === 2){
              try{
                this.selectedPrograms[0] = this.participant.participant.study_programs[0].id
              }catch{
                this.selectedPrograms[0] = null
              }
            }
            if (!this.selectedPrograms[0]) {
              this.alert = true
              this.alertMessage = 'Silakan pilih minimal 1 program studi!'
            } else if (this.selectedPrograms[1] && (this.selectedPrograms[0] == this.selectedPrograms[1] || 
                this.selectedPrograms[0] == this.selectedPrograms[2] || 
                this.selectedPrograms[1] == this.selectedPrograms[2])
              ) {
              this.alert = true
              this.alertMessage = 'Pastikan tidak memilih program studi yang sama lebih dari satu kali!'
            } else {
              this.allPrograms.forEach(program => {
                if (this.selectedPrograms.includes(program.id)) {
                  this.selectedInText[this.selectedPrograms.findIndex(e => e == program.id)] = program.name
                }
              })

              this.finish = true
            }
          } else {
            this.alert = true
            this.alertMessage = 'Silakan lengkapi kolom yang dibutuhkan!'
          }
        })
    },

    closeFinishDialog() {
      this.finish = false
      this.selectedInText = []
    },

    updateParticipantHandler() {      
      
      this.closeFinishDialog()
      this.disableSave = true
      let newName = {
        id: this.participant.participant.id,
        name: this.name
      }

      let newPrograms = {
        id: this.participant.participant.id,
        programs: this.finalChoices
      }

      for (let i = 0; i < this.selectedPrograms.length; i++) {
        if (this.selectedPrograms[i])
          this.finalChoices.push(this.selectedPrograms[i])
      }

      this.GetParticipant(newName.id).then((RefreshedUser)=>{
        if (RefreshedUser.name != 'anonim' && RefreshedUser.study_programs.length > 0) {          
          this.alert = true
          this.alertMessage = 'Data Dengan Nomor Pendaftaran ' + RefreshedUser.reg_id + ' Sudah Ada. Silahkan Hubungi Bagian Instrumen Tes dan Evaluasi.'
          // setTimeout(()=>this.$router.push({ name: 'participant-dashboard' }), 4000)
        } else {
          this.dataIsComplete = true
          this.updateParticipant(newName)
          .then(() => {
            this.addStudyPrograms(newPrograms)
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => {
            this.$router.push({ name: 'participant-dashboard' })
          })
        }        
      })
      
    }
  },

  watch: {
    participant() {
      if (this.participant) {
        if (this.participant.participant.name != 'anonim') {
          this.$router.push({ name: 'participant-dashboard' })
          this.dataIsComplete = true
        } else {
          this.dataIsComplete = false
          this.fetchProgramsHandler()
        }
      }
    },

    selectedPrograms() {
      if (this.selectedPrograms) {
        this.alert = false

        if (this.selectedPrograms[0]) {
          this.button2 = true

          if (this.selectedPrograms[0] == this.selectedPrograms[1] || this.selectedPrograms[0] == this.selectedPrograms[2])
            this.sameChoiceRule[0] = 'Program studi yang sama telah dipilih!'
          else 
            this.sameChoiceRule[0] = null
        } else {
          this.alert = false
          this.button2 = false
          this.input2 = false
          this.selectedPrograms[0] = null
          this.selectedPrograms[1] = null
        }

        if (this.selectedPrograms[1]) {
          this.button3 = true

          if (this.selectedPrograms[1] == this.selectedPrograms[0] || this.selectedPrograms[1] == this.selectedPrograms[2])
            this.sameChoiceRule[1] = 'Program studi yang sama telah dipilih!'
          else
            this.sameChoiceRule[1] = null
        } else {
          this.alert = false
          this.button3 = false
          this.input3 = false
          this.selectedPrograms[1] = null
          this.selectedPrograms[2] = null
        }

        if (this.selectedPrograms[2]) {
          if (this.selectedPrograms[2] == this.selectedPrograms[0] || this.selectedPrograms[2] == this.selectedPrograms[1])
            this.sameChoiceRule[2] = 'Program studi yang sama telah dipilih!'
          else
            this.sameChoiceRule[2] = null
        } else {
          this.alert = false
          this.selectedPrograms[2] = null
        }
      }
    },

    name() {
      if (this.name) {
        this.alert = false
      }
    },
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
    this.finalChoices = []
  }
}
</script>

<style>

</style>