<template>
  <v-dialog
    v-model="dialog"
    max-width="450"
    persistent
  >
    <v-card>
      <v-card-title class="title">
        Konfirmasi Data Peserta
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <!-- <div>
          <p class="mb-1 pb-1">Anda telah menjawab pertanyaan terakhir.</p>
          <p class="mb-1 pb-1">Apakah ingin menyelesaikan ujian?</p>
        </div> -->
        <h4>Nama:</h4>
        <p>{{ name }}</p>
        <h4 class="mt-2">Pilihan Program Studi:</h4>
        <ol>
          <li v-for="(program, index) in programs" v-bind:key="index">{{ program }}</li>
        </ol>
        <v-divider class="my-3"></v-divider>
        <h3 class="my-1">Apakah data yang dimasukkan sudah benar?</h3>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" flat @click="cancel">Belum</v-btn>
        <v-btn color="primary" flat @click="save">Ya</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    isFinish: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: null
    },
    programs: Array
  },

  data: () => ({
    dialog: false
  }),

  methods: {
    cancel() {
      this.$emit('reviewData')
    },

    save() {
      this.$emit('updateParticipantHandler')
    }
  },
  
  watch: {
    isFinish() {
      if (this.isFinish)
        this.dialog = true
      else
        this.dialog = false
    }
  }
}
</script>

<style>

</style>