<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8>
      <v-card>
        <v-card-title>
          <span class="headline">Detail Peserta</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm12>
                <v-text-field
                  label="Nama Lengkap"
                  :value="userData.participant.name"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex sm6>
                <v-text-field
                  label="No. Pendaftaran"
                  :value="userData.username"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex sm6>
                <v-text-field
                  label="Jenjang Studi"
                  :value="userData.participant.level == 1 ? 'S1' : 'S2'"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex sm10>
                <v-text-field
                  label="Tanggal Ujian"
                  :value="userData.participant.exam_date"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="Sesi"
                  :value="userData.participant.exam_session"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex sm12>
                <v-card dark color="grey darken-2">
                  <v-card-title class="title">
                    Pilihan Program Studi
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout row wrap>
                        <!-- <v-flex xs12 v-if="programs.length <= 0">
                          <span class="subheading">Peserta belum memilih program studi.</span>
                        </v-flex> -->
                        <v-flex xs12 v-for="(program, index) in userData.participant.study_programs" :key="index">
                          <v-text-field
                            :label="'Pilihan '.concat(index + 1) "
                            :value="program.name"
                            readonly
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    dataIsComplete: false
  }),

  computed: {
    ...mapGetters({
      userData: 'loggedUser/getParticipant',
      loggedData: 'loggedUser/getData',
    }),
  },

  methods: {
    ...mapActions({
      fetchUser: 'loggedUser/fetchOne'
    })
  },

  watch: {
    userData() {
      if (this.userData) {
        if (this.userData.participant.name == 'anonim') {
          this.dataIsComplete = false
          this.$router.push({ name: 'data-completion' })
        } else {
          this.dataIsComplete = true
        }
      }
    },
  },

  mounted() {
    this.fetchUser(this.loggedData.id)
  }
}
</script>

<style>

</style>