<template>
  <v-dialog v-model="dialog" max-width="600px" persistent scrollable>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      model="Program studi"
      :error="error"
      :errorMessage="errorMessage"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Cut-off</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-text-field
                label="Nama Program Studi"
                outline
                readonly
                v-model="programActive.name"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field
                label="Nilai Cut-off"
                box
                type="number"
                v-model="programActive.cut_off_points"
                :error-messages="errors.collect('points')"
                v-validate="'required|max:5'"
                data-vv-name="points"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 align-self-center>
              <v-radio-group 
                v-model="programActive.level"
                label="Jenjang Studi"
                class="mt-0"
                :error-messages="errors.collect('level')" 
                v-validate="'required'" 
                data-vv-name="level" 
                required
              >
                <v-radio label="S1" color="blue darken-1" :value="1"></v-radio>
                <v-radio label="S2" color="blue darken-1" :value="2"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex xs12 sm6 align-self-center>
              <v-radio-group 
                v-model="programActive.class_type" 
                label="Jenis Kelas"
                class="mt-0"
                :error-messages="errors.collect('class')" 
                v-validate="'required'" 
                data-vv-name="class" 
                required
              >
                <v-radio label="Reguler" color="blue darken-1" :value="1"></v-radio>
                <v-radio label="Internasional" color="blue darken-1" :value="2"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex sm12>
              <v-card color="grey darken-2" dark>
                <v-card-title class="title">
                  Bobot Kategori Soal(%)
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text v-if="category.length > 0">
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 v-for="(category, index) in programActive.question_categories" :key="index">
                        <v-text-field
                          :label="category.category"
                          v-model="weight[index]"
                          color="amber"
                          type="number"
                          box
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-text v-else class="text-xs-center">
                  <div v-if="!addingCategories">
                    <v-btn dark @click="addCategoriesToProgram" v-if="!categoriesAdded">Muat Kategori</v-btn>
                    <p v-else class="my-2 text-xs-left">Kategori berhasil ditambahkan.<br> Silakan tutup dan buka kembali form edit.</p>
                  </div>
                  <v-progress-circular
                    indeterminate
                    color="amber"
                    v-else
                  ></v-progress-circular>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <span class="red--text font-weight-bold ml-3" v-show="alert">{{ alertMessage }}</span>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import SuccessDialog from '../SuccessDialog'

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    components: {
      SuccessDialog,
    },

    data: () => ({
      dictionary: {
        custom: {
          points: {
            required: 'Nilai cut-off hanya dalam bentuk angka desimal dan tidak boleh kosong.',
            max: 'Nilai cut-off dalam format desimal 2 digit dengan maksimal 2 angka di belakang koma.',
          },
          level: {
            required: 'Silakan tentukan jenjang program.',
          },
          class: {
            required: 'Silakan tentukan jenis kelas program.',
          },
        }
      },
      dialog: false,
      successDialog: false,
      success: false,
      action: '',
      category: [],
      weight: [],
      error: false,
      errorMessage: '',
      alertMessage: '',
      alert: false,
      addingCategories: false,
      categoriesAdded: false,
    }),

    computed: {
      ...mapGetters({
        programActive: 'studyProgram/getActive',
        categoryData: 'questionCategory/getData'
      }),

      getTotalWeight() {
        let total = 0

        this.weight.forEach((weight) => {
          total += parseFloat(weight)
        })

        return total
      },

      weightPayload() {
        let data = {
          id: this.programActive.id,
          action: 'update',
          category: this.category,
          weight: this.weight
        }

        return data
      }
    },

    methods: {
      ...mapActions({
        storeProgram: 'studyProgram/store',
        updateProgram: 'studyProgram/update',
        updateCategory: 'studyProgram/resolveQuestionCategory',
        addCategoryToProgram: 'studyProgram/resolveQuestionCategory'
      }),

      close() {
        this.$validator.reset()
        this.dialog = false
        this.category = []
        this.weight = []
        this.alert = false
        this.addingCategories = false
        this.categoriesAdded = false
        this.$emit('closeEditDialog')
      },

      save() {
        this.$validator.validateAll()
          .then(res => {
            if (res) {
              if (this.category.length > 0 && this.getTotalWeight != 100) {
                this.alert = true
                this.alertMessage = 'Total bobot keseluruhan harus sama dengan 100%'
              } else {
                this.successDialog = true

                this.updateProgram(this.programActive)
                  .then(() => {
                    this.updateCategoryHandler()
                  })
                  .then(() => {
                    this.close()
                  })
                  .then(() => {
                    this.success = true
                    this.action = 'diubah'
                  })
                  .catch(() => {
                    this.error = true
                    this.errorMessage = 'Silakan coba kembali.'
                  })
              }
            }
          });
      },

      updateCategoryHandler() {
        this.updateCategory(this.weightPayload)
          .catch(() => {
            this.error = true
            this.errorMessage = 'Terjadi kesalahan, silakan coba kembali.'
          })
      },

      addCategoriesToProgram() {
        this.addingCategories = true

        this.addCategoriesHandler()
          .then(() => {
            this.addingCategories = false
            this.categoriesAdded = true
          })
      },

      async addCategoriesHandler() {
        this.categoryData.forEach(category => {
          let data = {
            id: this.programActive.id,
            action: 'new',
            category: category.id
          }

          this.addCategoryToProgram(data)
        })
      },

      closeSuccessDialog() {
        this.successDialog = false
        this.success = false
        this.error = false
      },
    },

    watch: {
      programActive() {
        if (this.programActive.id) {
          this.dialog = true

          this.programActive.question_categories.forEach(category => {
            this.category.push(category.id)
            this.weight.push(category.pivot.weight)
          })
        }
      }
    },

    mounted() {
      this.$validator.localize('en', this.dictionary)
    },
  }
</script>