<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>
      <v-alert v-model="warningAlert" type="warning" dismissible outline>
        Selalu pastikan bobot kategori, jenjang, dan jenis kelas program studi telah ditentukan dengan benar.
      </v-alert>
    </v-flex>
    <v-flex xs12>      
      <v-card>
        <v-card-title>
          <span class="title mr-2">Cut-off Program Studi</span>
          <program-form            
            v-on:closeEditDialog="closeEditDialog"  
          ></program-form>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
            clearable
          ></v-text-field>
        </v-card-title>
        <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :onlyOneAction="true"
          :edit="true"
          :items="programData"
          v-on:showEditDialog="showEditDialog"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex';

	import DataTable from '../../DataTable';
  import ProgramForm from './Form';

	export default {
    name: 'StudyProgram',

    components: {
      DataTable,
      ProgramForm,
    },

    data: () => ({
      breadrumbItems: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'dashboard'
        },
        {
          text: 'Cut-off Program Studi',
          disabled: true
        },
      ],
      headers: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'Nama Program Studi', value: 'name' },
        { text: 'Kode Program', value: 'program_code', },
        { text: 'Jenjang Program', value: 'level_in_text', },
        { text: 'Jenis Kelas', value: 'class_in_text', },
        { text: 'Nilai Cut-off', value: 'cut_off_points' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ], 
      readyToBeStored: [],     
      programs: [],
      search: '',
      warningAlert: true,
      progress: true
    }),

    computed: {
      ...mapGetters({
        programData: 'studyProgram/getData',
        programActive: 'studyProgram/getActive',
        KSIData: 'studyProgram/getKSIData'
      }),
    },

    methods: {
      ...mapActions({
        fetchPrograms: 'studyProgram/fetchAll', 
        fetchOneProgram: 'studyProgram/fetchOne',
        fetchCategories: 'questionCategory/fetchAll',
        fetchFromKSI: 'studyProgram/fetchFromKSI',
        storeProgram: 'studyProgram/store'
      }),

      ...mapMutations({
        setActiveProgram: 'studyProgram/setActive'
      }),

      fetchProgramsHandler() {
        this.fetchPrograms()
          .then(() => {
            this.fetchCategoriesHandler()
          })
          .catch(err => {
            console.log(err);
          });
      },

      fetchCategoriesHandler() {
        this.fetchCategories()
          .then(() => {
            this.fetchFromKSIHandler()
          })
          .catch(err => {
            console.log(err)
          })
      },

      fetchFromKSIHandler() {
        this.fetchFromKSI()
          .then(() => {
            this.KSIData.forEach(program => {
              if (!this.programData.some(e => e.program_code === program.id_prodi)) {
                if (program.id_prodi != '00')
                  this.readyToBeStored.push(program)
              }
            })
          })
          .then(() => {
            let rawData = this.readyToBeStored.slice(0, 30)
            let i = 0

            if (rawData.length > 0) {
              rawData.forEach(data => {
                let payload = {
                  name: data.nm_prodi,
                  program_code: data.id_prodi,
                }

                this.storeProgram(payload)
                  .then(() => {
                    i += 1

                    if (i == rawData.length) {
                      this.fetchPrograms()
                        .then(() => {
                          this.programs = this.programData.slice()
                          this.progress = false
                        })
                    }
                  })
              })
            } else {
              this.programs = this.programData.slice()
              this.progress = false
            }
          })
      },

      showEditDialog(item) {
        this.fetchOneProgram(item.id)
          .then(res => {
            this.setActiveProgram(res)
          })
      },

      closeEditDialog() {
        this.setActiveProgram({});
      },
    },

    mounted() {
      this.fetchProgramsHandler();
      // this.fetchFromKSI()
        // .then(() => {
        //   console.log(this.KSIData)
        // })
    }
  }
</script>