<template>
  <v-dialog v-model="dialog" max-width="800" scrollable>
    <v-card>
      <v-card-title>
        <span class="headline">Detail Ujian</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-text-field label="Jadwal" :value="schedule" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm3>
              <v-text-field label="Kode Paket" :value="packet" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm3>
              <v-text-field label="Jenjang" :value="level == 1 ? 'S1' : 'S2'" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm8>
              <v-text-field label="Nama Peserta" :value="name" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field label="Jenis Peserta" :value="participantType" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field label="Tahun Masuk" :value="entryYear" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field label="No. Peserta" :value="userId" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field label="No. Peserta Lama" :value="oldUserId" readonly></v-text-field>
            </v-flex>
            
            <v-flex xs12 sm6>
              <v-text-field label="Nilai Akhir" outline :value="!score ? '-' : score" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field
                label="Diterima di Program Studi"
                outline
                :value="!acceptedIn ? '-' : acceptedIn"
                readonly
                clearable
                @click:clear="GantiPilihan(-1)"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 class="text-right" style="margin-top: -1.8em; margin-left:-0.5em">
              <v-btn outline color="primary" @click="CekScore" :loading="scores.loading">Detail Nilai Program Studi</v-btn>
            </v-flex>
              <template v-for="item in [0,1,2]">
                <template v-if="scores.items[item] !== undefined">
                  <v-flex :key="item + '-ax'" xs2 v-show="acceptedId != scores.items[item].id" sm12 :style="item==0 ? 'text-align:right;margin-bottom:-4em;margin-top:1em':'text-align:right;margin-top:-2.22em; margin-bottom:-1.3em;'">
                    <v-btn style="z-index:99;margin-right:1em" rounded small class="" color="secondary" @click="GantiPilihan(item)" :loading="scores.loading">Ganti Pilihan</v-btn>
                  </v-flex>
                  <v-flex :key="item + '-ay'" xs12 sm6 :style="item==0 ? '':'margin-top: -2.82em'">
                    <v-text-field label="Nilai Akhir / Cut Off" outline :value="scores.items[item].score + ' / ' + scores.items[item].cut_off" readonly></v-text-field>
                  </v-flex>
                  <v-flex :key="item + '-az'" xs12 sm6 :style="item==0 ? '':'margin-top: -2.82em'">
                    <v-text-field
                      :label="'Pilihan ' + (item+1)"
                      outline
                      :value="scores.items[item].name"
                      readonly
                    ></v-text-field>
                  </v-flex>     
                </template>                
            </template>            

            <v-flex xs12 v-show="score">
              <v-card>
                <v-card-title>
                  <span class="title mr-2">Hasil Jawaban</span>
                </v-card-title>
                <v-divider></v-divider>
                <data-table :headers="headers" :progress="progress" :items="answerSummaries"></data-table>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Tutup</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import DataTable from "../../DataTable";

export default {
  components: {
    DataTable
  },

  data: () => ({
    headers: [
      { text: "Kategori", value: "category_name" },
      { text: "Jumlah Soal", value: "questions_total", align: "right" },
      { text: "Jumlah Benar", value: "correct_answers", align: "right" }
    ],
    scores: {show: false, loading:false, items: [{score: 0, cut_off: 0, name: ''}]},
    dialog: false,
    schedule: null,
    packet: null,
    level: null,
    entryYear: null,
    name: null,
    participantType: null,
    userId: null,
    oldUserId: null,
    score: null,
    acceptedIn: null,
    acceptedId: null,
    progress: false,
    answerSummaries: []
  }),

  computed: {
    ...mapGetters({
      examDetail: "examDetail/getDetail"
    })
  },

  methods: {
    ...mapActions({
      showSummaries: "examDetail/showSummaries",
      CalculateScores: "examDetail/fetchScores",
      Update: "examDetail/update"
    }),

    CekScore() {
      this.scores.loading = true;
      this.CalculateScores(this.examDetail.id).then((data) => {
         this.scores.items = data
         this.scores.show = true
         this.scores.loading = false;
      });
     
    },

    GantiPilihan(index) {
      this.scores.loading = true;
      let selected = null
      if (index !== -1) selected = this.scores.items[index]
      else {
        selected = {
          id: null,
          name: '-',
          score: this.score
        }
      }
      let payload = {id: this.examDetail.id, accepted_in: selected.id, total_score: selected.score}
      this.Update(payload).then(() => {
        this.examDetail.study_program = {id: selected.id, name: selected.name}
         this.examDetail.total_score = selected.score
         this.score = this.examDetail.total_score
         this.acceptedIn = this.examDetail.study_program
          ? this.examDetail.study_program.name
          : null;
        this.acceptedId = this.examDetail.study_program
          ? this.examDetail.study_program.id
          : -1;

        for (let index = 0; index < this.examDetail.tries.length; index++) {
          const element = this.examDetail.tries[index];
          if (
            this.examDetail.study_program &&
            element.id === this.examDetail.study_program.id
          ) {
            this.acceptedIn =
              this.acceptedIn + " (Pilihan " + (index + 1) + ")";
            break;
          }
        }

         this.scores.loading = false;
      });
     
    },

    close() {
      this.dialog = false;
      this.schedule = null;
      this.packet = null;
      this.level = null;
      this.entryYear = null;
      this.name = null;
      this.participantType = null;
      this.userId = null;
      this.oldUserId = null;
      this.score = null;
      this.acceptedIn = null;
      this.answerSummaries = [];
      this.progress = false;
      this.$emit("closeDetailDialog");
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },

    examDetail() {
      if (this.examDetail.id) {
        this.dialog = true;
        this.scores.show = false;
        this.scores.loading = false;
        this.scores.items = []
        this.schedule = this.examDetail.schedule.summary;
        this.packet = this.examDetail.question_packet.packet_code;
        this.level = this.examDetail.level;
        this.entryYear = this.examDetail.participant.year_of_entry;
        this.name = this.examDetail.participant.name;
        this.userId = this.examDetail.participant.reg_id;
        this.participantType =
          this.examDetail.participant.type == 1 ? "Reguler" : "OTS";
        this.oldUserId = this.examDetail.participant.old_reg_id
          ? this.examDetail.participant.old_reg_id
          : "0";
        this.score = this.examDetail.total_score;
        this.acceptedIn = this.examDetail.study_program
          ? this.examDetail.study_program.name
          : null;
        this.acceptedId = this.examDetail.study_program
          ? this.examDetail.study_program.id
          : -1;

        for (let index = 0; index < this.examDetail.tries.length; index++) {
          const element = this.examDetail.tries[index];
          if (
            this.examDetail.study_program &&
            element.id === this.examDetail.study_program.id
          ) {
            this.acceptedIn =
              this.acceptedIn + " (Pilihan " + (index + 1) + ")";
            break;
          }
        }
      }
    },

    score() {
      if (this.score) {
        this.progress = true;

        this.showSummaries(this.examDetail.id).then(res => {
          this.progress = false;
          this.answerSummaries = res;
        });
      }
    }
  }
};
</script>

<style>
</style>