<template>
  <v-dialog v-model="dialog" :max-width="isEdit ? '600' : '960'" persistent scrollable>
    <v-btn color="primary" slot="activator" @click="clearParticipantsArray">Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      :error="error"
      :errorMessage="errorMessage"
      model="Detail Ujian"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <participant-detail v-on:closeDetailDialog="closeDetailDialog"></participant-detail>
    <v-card>
      <v-card-title fixed>
        <span class="headline">{{ formTitle }}</span>
        <v-spacer></v-spacer>
        <v-alert v-model="warningAlert" type="warning" dismissible outline>
          Pastikan bobot kategori prodi telah terisi sebelum menambah detail ujian.
        </v-alert>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 v-show="isEdit">
              <v-text-field
                label="No. Peserta"
                v-model="username"
                box
                :error-messages="errors.collect('username')" 
                v-validate="'required'" 
                data-vv-name="username" 
                required 
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-autocomplete 
                :items="scheduleData" 
                item-value="id" 
                item-text="summary" 
                label="Jadwal" 
                box
                v-model.number="examActive.schedule_id" 
                :error-messages="errors.collect('schedule')" 
                v-validate="'required'" 
                data-vv-name="schedule" 
                required 
              >
              <template v-slot:item="{ item }" >
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <div v-on="on" class="ma-2" :style="isEdit ? 'white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:400px;':'white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:700px;'">
                      {{'('+item.id + ')&nbsp;&nbsp;&nbsp;' + item.summary + '&nbsp;&nbsp;&nbsp;' +item.note}}                    
                    </div>
                  </template>
                  <span>{{item.note}}</span>
                </v-tooltip>                
              </template>
              <template v-slot:selection="{ item }" >
                <div :style="isEdit ? 'white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:400px;':'white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:700px;'">
                  {{'('+item.id + ')&nbsp;&nbsp;&nbsp;' + item.summary + '&nbsp;&nbsp;&nbsp;' +item.note}}
                </div>
              </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6 align-self-center v-show="!isEdit">
              <span class="caption">Jenjang</span>
              <v-radio-group 
                v-model="level" 
                row
                class="mt-0"
                :error-messages="errors.collect('level')" 
                v-validate="'required'" 
                data-vv-name="level" 
                required
              >
                <v-radio label="S1" color="blue darken-1" :value="1"></v-radio>
                <v-radio label="S2" color="blue darken-1" :value="2"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex xs12 sm6 > 
              <v-autocomplete
                :items="packetData" 
                item-value="id" 
                item-text="packet_code" 
                label="Paket Soal"
                :disabled="level == null"
                :loading="progress2"
                box
                v-model.number="packetId" 
                :error-messages="errors.collect('packet')" 
                v-validate="'required'" 
                data-vv-name="packet" 
                required 
              ></v-autocomplete>
            </v-flex>
            <!-- <v-flex xs12 sm6 v-show="isEdit">
              <v-autocomplete
                :items="packetData" 
                item-value="id" 
                item-text="packet_code" 
                label="Paket Soal"
                :disabled="level == null"
                :loading="progress2"
                box
                v-model.number="examActive.packet_id" 
                :error-messages="errors.collect('packet')" 
                v-validate="'required'" 
                data-vv-name="packet" 
                required 
              ></v-autocomplete>
            </v-flex> -->
            <v-flex xs12 v-show="isEdit">
              <v-card color="grey lighten-3" class="pt-2">
                <v-card-text>
                  <v-layout wrap>
                    <v-flex xs12 sm8>
                      <v-text-field
                        prepend-icon="access_time"
                        v-model="examActive.idv_cut_off_time"
                        label="Jam Selesai per Cut-off"
                        readonly
                        :disabled="!examActive.idv_cut_off_time"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-btn block color="amber" :disabled="!examActive.idv_cut_off_time" @click="examActive.idv_cut_off_time = null">Reset</v-btn>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 v-show="isEdit">
              <v-card color="grey lighten-3" class="pt-2">
                <v-card-text>
                  <v-layout wrap>
                    <v-flex xs12 sm8>
                      <v-text-field
                        prepend-icon="score"
                        v-model="examActive.total_score"
                        label="Nilai Akhir"
                        readonly
                        :disabled="!examActive.total_score"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-btn block color="amber" :disabled="!examActive.total_score" @click="resetResult">Reset</v-btn>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
            <!-- PARTICIPANTS -->
            <v-flex sm12 v-show="!isEdit">
              <v-tabs
                centered
                color="grey lighten-3"
                slider-color="grey darken-3"
                fixed-tabs
              >
                <v-tab href="#tab-1">Daftar Peserta di Basis Data</v-tab>
                <v-tab href="#tab-2">Peserta yang ditambahkan</v-tab>

                <!-- PARTICIPANTS IN DB -->
                <v-tab-item value="tab-1">
                  <v-card color="grey lighten-3">
                    <v-card-title>
                      <span class="title mr-2">Daftar Peserta di Basis Data</span>
                      <v-btn color="success" :disabled="selectedParticipantsInDB.length == 0" @click="addMultipleParticipants">Tambah Banyak</v-btn>
                      <v-spacer></v-spacer>
                      <v-text-field
                        append-icon="search"
                        label="Cari/Filter"
                        single-line
                        hide-details
                        v-model="search"
                        clearable
                      ></v-text-field>
                    </v-card-title>
                    <data-table
                      :search="search"
                      :headers="headers"
                      :progress="progress"
                      :detail="true"
                      :select="true"
                      :items="participantsInDB"
                      :enableSelect="true"
                      :resetSelected="resetSelected"
                      class="elevation-1"
                      v-on:showDetailDialog="showDetailDialog"
                      v-on:addToList="addToList"
                      v-on:setSelected="setSelectedInDB"
                    ></data-table>
                  </v-card>
                </v-tab-item>

                <!-- PARTICIPANTS ADDED -->
                <v-tab-item value="tab-2">
                  <v-card color="grey lighten-3">
                    <v-card-title>
                      <span class="title mr-2">Peserta yang ditambahkan</span>
                      <v-btn color="error" :disabled="selectedAddedParticipants.length == 0" @click="removeMultipleParticipants">Batalkan Banyak</v-btn>
                      <v-spacer></v-spacer>
                      <v-text-field
                        append-icon="search"
                        label="Cari/Filter"
                        single-line
                        hide-details
                        v-model="search2"
                        clearable
                      ></v-text-field>
                    </v-card-title>
                    <data-table
                      :search="search2"
                      :headers="headers"
                      :detail="true"
                      :remove="true"
                      :items="addedParticipants"
                      :enableSelect="true"
                      :resetSelected="resetSelected"
                      class="elevation-1"
                      v-on:showDetailDialog="showDetailDialog"
                      v-on:removeFromList="removeFromList"
                      v-on:setSelected="setSelectedAdded"
                    ></data-table>
                  </v-card>
                </v-tab-item>
              </v-tabs>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <span class="red--text font-weight-bold ml-4" v-show="alert">{{ alertMessage }}</span>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import DataTable from '../../DataTable'
  import ParticipantDetail from '../participant/Detail'
  import SuccessDialog from '../SuccessDialog'

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    components: {
      DataTable,
      ParticipantDetail,
      SuccessDialog,
    },

    data: () => ({
      packetId: null,
      dictionary: {
        custom: {
          schedule: {
            required: 'Silakan pilih jadwal yang tersedia!',
          },
          level: {
            required: 'Silakan pilih jenjang ujian!',
          },
          packet: {
            required: 'Silakan pilih paket soal!',
          },
          username: {
            required: 'No. Peserta tidak boleh kosong!',
          },
        }
      },
      headers: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'Nama Lengkap', value: 'name' },
        { text: 'No. Peserta', value: 'username' },
        { text: 'Jadwal Ujian', value: 'exam_schedule' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],
      tempHeaders: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'Nama Lengkap', value: 'name' },
        { text: 'No. Peserta', value: 'username' },
        { text: 'Jadwal Ujian', value: 'exam_schedule' },
        { text: 'Program studi', value: 'program_name' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],
      warningAlert: true,
      isEdit: false,
      username: null,
      // idvCutOff: null,
      // totalScore: null,
      participantsInDB: [],
      selectedParticipantsInDB: [],
      addedParticipants: [],
      selectedAddedParticipants: [],
      addedParticipantsID: [],
      level: null,
      search: '',
      search2: '',
      selected: [],
      resetSelected: false,
      progress: false,
      progress2: false,
      alertMessage: '',
      alert: false,
      dialog: false,

      successDialog: false,
      success: false,
      error: false,
      errorMessage: '',
      action: '',
    }),

    computed: {
      ...mapGetters({
        examActive: 'examDetail/getActive',
        packetData: 'questionPacket/getData',
        scheduleData: 'examSchedule/getData',
        participantData: 'participant/getData',
        participantDetail: 'participant/getDetail'
      }),

      formTitle() {
        return this.examActive.id == null ? 'Tambah Detail Ujian' : 'Edit Detail Ujian'
      },

      newExamData() {
        let data = {
          level: this.level,
          schedule_id: this.examActive.schedule_id,
          packet_id: this.examActive.packet_id,
          participants: this.addedParticipantsID
        }

        return data
      }
    },

    methods: {
      ...mapActions({
        fetchParticipants: 'participant/fetchAllByLevel', 
        fetchOneParticipant: 'participant/fetchOne',
        fetchPackets: 'questionPacket/fetchAllBylevel',
        storeExam: 'examDetail/store',
        updateExam: 'examDetail/update',
        updateParticipant: 'participant/update'
      }),

      ...mapMutations({
        setDetailParticipant: 'participant/setDetail',
      }),

      closeDetailDialog() {
        this.setDetailParticipant({})
      },

      close() {
        this.$validator.reset()
        this.warningAlert = true
        this.dialog = false
        this.username = null
        // this.idvCutOff = null
        // this.totalScore = null
        this.isEdit = false
        this.alert = false
        this.alertMessage = ''
        this.search = ''
        this.search2 = ''
        this.resetSelected = true
        this.level = null
        this.fetchParticipantsHandler()
        this.$emit('closeEditDialog')
      },

      fetchParticipantsHandler() {
        this.progress = true

        this.fetchParticipants(this.level)
          .then(() => {
            this.progress = false
            if(this.level === 2){

              this.participantsInDB = this.participantData.filter(row => {
                return row.study_program_id == this.packetData.filter(row => {
                  return row.id == this.packetId
                })[0].study_program_id
              })
              this.headers = this.tempHeaders
            }else{
              this.participantsInDB = this.participantData
              var temp = this.headers.filter(row => {
                return row.value !== 'program_name'
              })
              this.headers = temp
            }
          })
          .catch(err => {
            console.log(err)
          });
      },

      fetchPacketsHandler() {
        this.progress2 = true

        this.fetchPackets(this.level)
          .then(() => {
            this.progress2 = false
          })
          .catch(err => {
            console.log(err)
          });
      },

      showDetailDialog(item) {
        this.fetchOneParticipant(item.id)
          .then(res => {
            this.setDetailParticipant(res)
          })
          .catch(err => {
            console.log(err)
          });
      },

      setSelectedInDB(items) {
        this.alert = false
        this.selectedParticipantsInDB = items
      },

      setSelectedAdded(items) {
        this.selectedAddedParticipants = items
      },

      addMultipleParticipants() {
        this.selectedParticipantsInDB.forEach(participant => {
          this.addedParticipants.push(participant)
          this.addedParticipantsID.push(participant.id)
          this.participantsInDB.splice(this.participantsInDB.findIndex(e => e.id == participant.id), 1)
        })
      },

      removeMultipleParticipants() {
        this.selectedAddedParticipants.forEach(participant => {
          this.addedParticipants.splice(this.addedParticipants.findIndex(e => e.id == participant.id), 1)
          this.addedParticipantsID.splice(this.addedParticipantsID.indexOf(participant.id), 1)
          this.participantsInDB.push(participant)
        })
      },

      addToList(item) {
        this.addedParticipants.push(item)
        this.addedParticipantsID.push(item.id)
        this.participantsInDB.splice(this.participantsInDB.findIndex(e => e.id == item.id), 1)
      },

      removeFromList(item) {
        this.addedParticipants.splice(this.addedParticipants.findIndex(e => e.id == item.id), 1)
        this.addedParticipantsID.splice(this.addedParticipantsID.indexOf(item.id), 1)
        this.participantsInDB.push(item)
      },

      resetResult(){
        // this.totalScore = null
        this.examActive.total_score = null
        this.examActive.accepted_in = null
      },

      save() {
        this.$validator.validateAll()
          .then(res => {
            // if (res) {
              if (this.examActive.id != null) {
                // Update
                this.successDialog = true

                if (this.username != this.examActive.user.username)
                  this.updateParticipantHandler()

                this.updateExam(this.examActive)
                  .then(() => {
                    this.success = true
                    this.action = 'diubah'
                    this.close()
                  })
                  .catch(() => {
                    this.error = true
                    this.errorMessage = 'Update Detail Ujian gagal, silakan coba kembali.'
                  })
              } else {
                // New
                 if (this.addedParticipants.length == 0) {
                  this.alert = true
                  this.alertMessage =  'Silakan tentukan peserta yang akan ditambahkan detail ujiannya!'
                } else {
                  this.successDialog = true

                  this.storeExam(this.newExamData)
                    .then(() => {
                      this.success = true
                      this.action = 'ditambah'
                      this.close()
                    })
                    .catch(() => {
                      this.error = true
                      this.errorMessage = 'Penambahan Detail Ujian gagal, silakan coba kembali.'
                    })
                }
              }
            // } 
            // else {
            //   this.alert = true
            //   this.alertMessage = 'Silakan lengkapi kolom yang dibutuhkan!'
            // }
          })
      },

      updateParticipantHandler() {
        let payload = {
          id: this.examActive.participant.id,
          reg_id: this.username,
          old_reg_id: this.examActive.user.username
        }

        this.updateParticipant(payload)
          .catch(err => {
            console.log(err)
          })
      },

      closeSuccessDialog() {
        this.successDialog = false
        this.success = false
        this.error = false
        this.errorMessage = ''
      },

      clearParticipantsArray() {
        this.addedParticipants = []
        this.addedParticipantsID = []
        this.packetId = -1
      }
    },

    watch: {
      dialog() {
        if (this.dialog) {
          this.resetSelected = false
        }
      },

      level() {
        if (this.level) {
          this.clearParticipantsArray()
          this.fetchPacketsHandler()
          if(this.level === 1){
            this.fetchParticipantsHandler()
          }else{
            this.participantsInDB = []
          }
        }
      },
      packetId(){
        if(this.packetId != null && !this.isEdit){
          this.examActive.packet_id = this.packetId
          if(this.level === 2){
            this.fetchParticipantsHandler()
          }
        }else if(this.packetId != this.examActive.packet_id){
          this.packetId = this.examActive.packet_id
        }
      },
      examActive() {
        if (this.examActive.id != null) {
          this.dialog = true
          this.warningAlert = false
          this.isEdit = true
          this.level = this.examActive.level
          this.username = this.examActive.participant.reg_id
          // this.idvCutOff = this.examActive.idv_cut_off_time
          // this.totalScore = this.examActive.total_score
        }
      }
    },

    mounted() {
      this.$validator.localize('en', this.dictionary)
      this.fetchParticipantsHandler()
    },
  }
</script>