<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>
      <v-alert v-model="successAlert" type="success" dismissible outline>
        Data berhasil terupload.
      </v-alert>
    </v-flex>
    <v-flex xs12>
      <v-alert v-model="errorAlert" type="error" dismissible outline>
        Data gagal terupload.
      </v-alert>
    </v-flex>
    <v-flex xs12>      
      <v-card>
        <v-card-title>
          <span class="title mr-2">Detail Ujian</span>
          <exam-detail-form v-on:closeEditDialog="closeEditDialog"></exam-detail-form>
          <exam-detail-show v-on:closeDetailDialog="closeDetailDialog"></exam-detail-show>
          <v-btn color="warning" :disabled="selectedDetails.length == 0 || loading" :loading="loading" @click="batchUpload">Upload Banyak</v-btn>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
            clearable
          ></v-text-field>
        </v-card-title>
        <!-- <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :edit="true"
          :detail="true"
          :upload="true"
          :items="examData"
          v-on:showEditDialog="showEditDialog"
          v-on:showDetailDialog="showDetailDialog"
          v-on:uploadToKSI="uploadToKSI"
        ></data-table> -->
        <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :edit="true"
          :detail="true"
          :upload="true"
          :items="examData"
          :enableSelect="true"
          :resetSelected="resetSelected"
          v-on:showEditDialog="showEditDialog"
          v-on:showDetailDialog="showDetailDialog"
          v-on:setSelected="setSelected"
          v-on:uploadToKSI="uploadToKSI"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex'

	import DataTable from '../../DataTable'
  import ExamDetailForm from './Form'
  import ExamDetailShow from './Detail'

	export default {
    name: 'ExamDetail',

    components: {
      DataTable,
      ExamDetailForm,
      ExamDetailShow
    },

    data: () => ({
      breadrumbItems: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'dashboard'
        },
        {
          text: 'Detail Ujian',
          disabled: true
        },
      ],
      headers: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'No. Peserta', value: 'reg_id' },
        { text: 'Nama', value: 'name' },
        { text: 'Kode Paket', value: 'packet_code' },
        { text: 'Jadwal', value: 'schedule' },
        { text: 'Nilai Akhir', value: 'total_score' },
        { text: 'Diterima di', value: 'accepted_in' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],      
      search: '',
      loading: false,
      progress: true,
      resetSelected: false,
      selectedDetails: [],
      readyToUpload: [],
      successAlert: false,
      errorAlert: false
    }),

    computed: {
      ...mapGetters({
        examData: 'examDetail/getData',
        examActive: 'examDetail/getActive',
        programData: 'studyProgram/getData'
      }),
    },

    methods: {
      ...mapActions({
        fetchExams: 'examDetail/fetchAll',
        fetchOneExam: 'examDetail/fetchOne',
        fetchSchedules: 'examSchedule/fetchAll',
        fetchPrograms: 'studyProgram/fetchAll',
        uploadDetails: 'examDetail/uploadToKSI'
      }),

      ...mapMutations({
        setActiveExam: 'examDetail/setActive',
        setDetailExam: 'examDetail/setDetail'
      }),

      fetchExamsHandler() {
        this.fetchExams()
          .then((res) => {
            this.fetchSchedules()
            this.fetchPrograms()
          })
          .finally(() => {
            this.progress = false
          })
      },

      showDetailDialog(item) {
        this.fetchOneExam(item.id)
          .then((res) => {
            this.setDetailExam(res)
          })
      },

      showEditDialog(item) {
        this.fetchOneExam(item.id)
          .then((res) => {
            this.setActiveExam(res)
          })
      },

      closeEditDialog() {
        this.setActiveExam({})
      },

      closeDetailDialog() {
        this.setDetailExam({})
      },

      setSelected(items) {
        this.selectedDetails = items
      },

      async sanitizeSelectedDetails() {
        this.selectedDetails.forEach(e => {
          if (e.total_score != "-") {
            let payload = {
              //kd_calon: e.username,
              kd_calon: e.reg_id,
              total_nilai: e.total_score,
              id_prodi: e.accepted_in === "-" 
                ? "00" 
                : this.programData[this.programData.findIndex(program => program.name === e.accepted_in)].program_code
            }

            this.readyToUpload.push(payload)
          }
        })
      },

      uploadToKSI(item) {
        let payload = {
          //kd_calon: item.username,
          kd_calon: item.reg_id,
          total_nilai: item.total_score,
          id_prodi: item.accepted_in === "-" 
            ? "00" 
            : this.programData[this.programData.findIndex(program => program.name === item.accepted_in)].program_code
        }

        this.readyToUpload.push(payload)
        this.uploadToKSIHandler()
      },

      batchUpload() {
        this.loading = true
        this.resetSelected = false

        this.sanitizeSelectedDetails()
          .then(() => {
            if (this.readyToUpload.length > 0) {
              this.uploadToKSIHandler()
            } else {
              this.errorAlert = true
              this.successAlert = false
              this.readyToUpload = []
              this.resetSelected = true
              this.loading = false
            }
          })
      },

      uploadToKSIHandler() {
        this.uploadDetails(this.readyToUpload)
          .then(res => {
            this.successAlert = true
            this.errorAlert = false
            this.readyToUpload = []
            this.resetSelected = true
            this.loading = false
          })
          .catch(() => {
            this.errorAlert = true
            this.successAlert = false
            this.readyToUpload = []
            this.resetSelected = true
            this.loading = false
          })
      }
    },

    mounted() {
      this.fetchExamsHandler()
    }
  }
</script>