<template>
  <v-data-table
    v-model="selected"
    :select-all="enableSelect"
    :headers="headers"
    :items="filteredItems"
    :search="search"
    rows-per-page-text="Baris per halaman"
    :rows-per-page-items="[5, 10, 25, 50]"
    :pagination.sync="initialSort"
    :loading="progress"
    :no-data-text="noDataText"
    :hide-actions="hideActions"
    :expand="expand"
  >
    <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
    <template slot="items" slot-scope="props" X>
      <tr @click="props.expanded = !props.expanded">
        <td v-show="enableSelect">
          <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
        </td>
        <td
          v-for="item in props.item"
          :class="{ 'text-xs-right': typeof item == 'number' }"
          v-html="filterFormat(item)"
          class="text-body"
          v-bind:key="item.index"
        ></td>
        <!-- <td
        v-for="item in props.item"
        :class="{ 'text-xs-right': typeof item == 'number' }"
        v-bind:key="item.index"
        >{{ item }}</td>-->
        <td :class="onlyOneAction ? '' : 'px-0'">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-show="detail"
                icon
                class="mx-0"
                @click="showItemDetail(props.item)"
                v-on="on"
              >
                <v-icon color="info">remove_red_eye</v-icon>
              </v-btn>
            </template>
            <span>Lihat detail item ini</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn v-show="edit" icon class="mx-0" @click="editItem(props.item)" v-on="on">
                <v-icon color="success">edit</v-icon>
              </v-btn>
            </template>
            <span>Edit item Ini</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-show="destroy"
                icon
                class="mx-0"
                @click="deleteItem(props.item)"
                v-if="trash"
                v-on="on"
              >
                <v-icon color="error">delete</v-icon>
              </v-btn>
            </template>
            <span>Hapus item ini</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn v-show="select" icon class="mx-0" @click="addItemToList(props.item)" v-on="on">
                <v-icon color="success">add</v-icon>
              </v-btn>
            </template>
            <span>Tambah ke daftar</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-show="remove"
                icon
                class="mx-0"
                @click="removeItemFromList(props.item)"
                v-on="on"
              >
                <v-icon color="error">close</v-icon>
              </v-btn>
            </template>
            <span>Hapus dari daftar</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                :disabled="props.item.total_score === '-'"
                v-show="upload"
                icon
                class="mx-0"
                @click="uploadItem(props.item)"
                v-on="on"
              >
                <v-icon color="warning">backup</v-icon>
              </v-btn>
            </template>
            <span>Unggah ke Server KSI</span>
          </v-tooltip>
        </td>
      </tr>
    </template>
    <template v-if="expand" v-slot:expand="props">
      <td></td>
      <td></td>
      <td>
        <v-chip label color="success" text-color="white">Klik generate, tunggu 1 menit baru download ..</v-chip>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <v-btn @click="downloadItem(props.item)">Download Document</v-btn>
        <v-btn @click="generateItem(props.item)">Generate Document</v-btn>
      </td>
    </template>
    <v-alert
      slot="no-results"
      :value="true"
      color="error"
      icon="warning"
    >Pencarian anda untuk "{{ search }}" tidak menemukan hasil/telah diubah atau dihapus.</v-alert>
  </v-data-table>
</template>

<script>

export default {
  name: "DataTable",

  data: () => ({
    initialSort: { sortBy: "updated_at", descending: true },
    selected: []
  }),

  props: {
    noDataText: {
      type: String,
      default: "Belum ada data"
    },
    progress: Boolean,
    search: String,
    detail: Boolean,
    edit: Boolean,
    destroy: Boolean,
    expand: Boolean,
    select: Boolean,
    remove: Boolean,
    upload: Boolean,
    onlyOneAction: Boolean,
    trash: {
      type: Boolean,
      default: true
    },
    headers: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    enableSelect: {
      type: Boolean,
      default: false
    },
    resetSelected: {
      type: Boolean,
      default: false
    },
    hideActions: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    filteredItems() {
      return this.items.map(item => {
        let filtered = {};
        this.headers.forEach(header => {
          if (header.value != "index" && header.value != "actions")
            filtered[header.value] = item[header.value];
        });
        return filtered;
      });
    }
  },

  methods: {
    showItemDetail(item) {
      this.$emit("showDetailDialog", item);
    },

    editItem(item) {
      this.$emit("showEditDialog", item);
    },

    downloadItem(item) {
      this.$emit("downloadHandler", item.id);
    },

    deleteItem(item) {
      confirm("Apakah anda ingin menghapus data ini?") &&
        this.$emit("destroyHandler", item.id);
    },

    generateItem(item) {
      confirm("Apakah anda ingin generate dari data ini?") &&
        this.$emit("generateHandler", item.id);
    },

    addItemToList(item) {
      this.$emit("addToList", item);
    },

    removeItemFromList(item) {
      this.$emit("removeFromList", item);
    },

    uploadItem(item) {
      this.$emit("uploadToKSI", item);
    },

    filterFormat(value) {
      if (typeof value == "number" && value >= 1000) {
        let val = (value / 1).toFixed(0).replace(".", "");
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      } else {
        return value.toString().length > 140
          ? value
              .toString()
              .substr(0, 140)
              .concat("...")
          : value;
      }
    }
  },

  watch: {
    selected() {
      if (this.selected.length > 0) {
        this.$emit("setSelected", this.selected);
      } else {
        this.$emit("setSelected", []);
      }
    },

    resetSelected() {
      if (this.resetSelected) {
        this.selected = [];
        this.$emit("setSelected", []);
      }
    }
  }
};
</script>