<template>
  <v-dialog v-model="dialog" max-width="600px" persistent>
    <v-btn color="primary" slot="activator">Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      :error="error"
      :errorMessage="errorMessage"
      model="Kategori"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field
                label="Nama Kategori"
                box
                v-model="categoryActive.category"
                :counter="30"
                :error-messages="errors.collect('category')"
                v-validate="'required|max:30'"
                data-vv-name="category"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions } from 'vuex'
  import SuccessDialog from '../SuccessDialog'

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    components: {
      SuccessDialog,
    },

    data: () => ({
      dictionary: {
        custom: {
          category: {
            required: 'Nama kategori tidak boleh kosong.',
            max: 'Nama kategori tidak boleh lebih dari 25 karakter.',
          }
        }
      },
      dialog: false,
      successDialog: false,
      success: false,
      action: '',
      error: false,
      errorMessage: '',
      alert: false,
      alertMessage: ''
    }),

    computed: {
      ...mapGetters({
        categoryData: 'questionCategory/getData',
        categoryActive: 'questionCategory/getActive',
        programData: 'studyProgram/getData'
      }),

      formTitle() {
        return this.categoryActive.id == null ? 'Tambah Kategori' : 'Edit Kategori'
      }
    },

    methods: {
      ...mapActions({
        fetchCategories: 'questionCategory/fetchAll',
        storeCategory: 'questionCategory/store',
        updateCategory: 'questionCategory/update',
        fetchPrograms: 'studyProgram/fetchAll',
        addCategoryToProgram: 'studyProgram/resolveQuestionCategory'
      }),
      
      close() {
        this.$validator.reset()
        this.dialog = false
        this.$emit('closeEditDialog')
      },

      save() {
        this.$validator.validateAll()
          .then(res => {
            if (res) {    
              if (this.categoryActive.id != null) {
                // Update
                this.successDialog = true
                this.updateCategory(this.categoryActive)
                  .then(res => {
                    this.success = true
                    this.action = 'diubah'
                  })
                  .catch(err => {
                    this.error = true
                    this.errorMessage = 'Kemungkinan terdapat duplikasi data pada basis data. Silakan cek kembali.'
                  })
              } else {
                // New
                this.successDialog = true
                this.storeCategory(this.categoryActive)
                  .then(res => {
                    this.programData.forEach(program => {
                      let data = {
                        id: program.id,
                        action: 'new',
                        category: res.id
                      }
                      this.addCategoryToProgram(data)
                    })

                    this.success = true
                    this.action = 'ditambah'
                  })
                  .catch(err => {
                    // console.log(err)
                    this.error = true
                    this.errorMessage = 'Kemungkinan terdapat duplikasi data pada basis data. Silakan cek kembali.'
                  })
                  .finally(() => this.fetchCategories())
              }

              this.close()
            }
          });
      },

      closeSuccessDialog() {
        this.successDialog = false
        this.success = false
        this.error = false
      },
    },

    watch: {
      categoryActive() {
        if (this.categoryActive.id != null)
          this.dialog = true
      }
    },

    mounted() {
      this.$validator.localize('en', this.dictionary)
      this.fetchPrograms()
    },
  }
</script>