<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadrumbItems" divider=">" class="pt-2"></v-breadcrumbs>
    <v-flex xs12>      
      <v-card>
        <v-card-title>
          <span class="title mr-2">Kategori Soal</span>
          <category-form            
            v-on:closeEditDialog="closeEditDialog"  
          ></category-form>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Cari/Filter"
            single-line
            hide-details
            v-model="search"
            clearable
          ></v-text-field>
        </v-card-title>
        <data-table
          :search="search"
          :headers="headers"
          :progress="progress"
          :edit="true"
          :items="categoryData"
          :onlyOneAction="true"
          v-on:showEditDialog="showEditDialog"
        ></data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions, mapMutations } from 'vuex';

	import DataTable from '../../DataTable';
  import CategoryForm from './Form';

	export default {
    name: 'QuestionCategory',

    components: {
      DataTable,
      CategoryForm,
    },

    data: () => ({
      breadrumbItems: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'dashboard'
        },
        {
          text: 'Kategori Soal',
          disabled: true
        },
      ],
      headers: [
        { text: 'Id', value: 'id', align: 'right' },
        { text: 'Nama Kategori', value: 'category' },
        { text: 'Aksi', value: 'actions', sortable: false },
      ],      
      search: '',
      progress: true
    }),

    computed: {
      ...mapGetters({
        categoryData: 'questionCategory/getData',
        categoryActive: 'questionCategory/getActive',
        programData: 'studyProgram/getData'
      }),
    },

    methods: {
      ...mapActions({
        fetchCategories: 'questionCategory/fetchAll',  
        fetchPrograms: 'studyProgram/fetchAll',
        removeFromProgram: 'studyProgram/resolveQuestionCategory'
      }),

      ...mapMutations({
        setActiveCategory: 'questionCategory/setActive'
      }),

      fetchCategoriesHandler() {
        this.fetchCategories()
          .then((res) => {
            this.progress = false
          })
          .catch(err => {
            console.log(err);
          });
      },

      showEditDialog(item) {
        this.setActiveCategory(item);
      },

      closeEditDialog() {
        this.setActiveCategory({});
      },
    },

    mounted() {
      this.fetchCategoriesHandler();
    }
  }
</script>