<template>
  <v-app id="inspire">

<!-- NAVIGATION -->

  <v-navigation-drawer
    v-model="drawer"
    fixed
    app
    clipped
    v-if="!isLogin && dataIsComplete && !'exam.index'.includes($route.name) && !'exam.simulation'.includes($route.name)"
  >
    <admin-navigation v-if="isAdmin"></admin-navigation>
    <participant-navigation v-else></participant-navigation>
  </v-navigation-drawer>
    
<!-- TOOLBAR -->

    <v-toolbar
      app
      color="blue darken-3"
      dark
      fixed
      clipped-left
      v-if="!isLogin && dataIsComplete && !'exam.index'.includes($route.name) && !'exam.simulation'.includes($route.name)"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>
        <v-avatar size="35px" tile>
          <img
            src="./assets/uajy.png"
            alt="UAJY"
          >
        </v-avatar>
        <span class="ml-3 font-weight-regular">Tes Antara UAJY</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-menu offset-y> 
          <v-btn flat slot="activator">
            Halo, {{ usernameDisplay }}
            <v-icon dark class="ml-1">arrow_drop_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile router :to="isAdmin ? { name: 'admin-account' } : { name: 'participant-account' }">
              <v-list-tile-title v-text="isAdmin ? 'Edit data akun' : 'Detail data diri'"></v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="logout">
              <v-list-tile-content>Keluar</v-list-tile-content>
              <v-list-tile-action>
                <v-icon>exit_to_app</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>

<!-- CONTENT -->

    <v-content>
      <v-container grid-list-md fluid :fill-height="isLogin || 'admin-account'.includes($route.name)">
        <div v-if="'admin-landing'.includes($route.name)">
          <span>Selamat datang di panel admin Tes Antara UAJY.</span>
        </div>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
/* eslint-disable */
import Auth from './Auth'
import KSIAuth from './KSIAuth'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import AdminNavigation from './components/admin/AdminNavigation'
import ParticipantNavigation from './components/participant/ParticipantNavigation'

export default {
  name: 'App',

  components: {
    AdminNavigation,
    ParticipantNavigation
  },
  
  data: () => ({
    drawer: null,
    isAdmin: false,
    isLogin: true,
    dataIsComplete: false,
    participantName: null
  }),

  computed: {
    ...mapGetters({
      userData: 'loggedUser/getData',
      loginStatus: 'loggedUser/getLogin',
      participant: 'loggedUser/getParticipant'
    }),

    usernameDisplay() {
      return this.isAdmin ? this.userData.username : this.participantName
    },

    getEndTimeDistance() {
      let now = new Date(this.getCurrentTime)
      let examEnd = new Date(this.participant.participant.exam_detail.schedule.end_time)
      let timeDistance = (examEnd - now) / 1000

      return timeDistance
    },

    getCurrentTime() {
      let dt = new Date()

      let dd = String(dt.getDate()).padStart(2, '0')
      let mm = String(dt.getMonth() + 1).padStart(2, '0')
      let yyyy = dt.getFullYear()
      let hr = String(dt.getHours()).padStart(2, '0')
      let min = String(dt.getMinutes()).padStart(2, '0')
      let sec = String(dt.getSeconds()).padStart(2, '0')
      
      return yyyy + '-' + mm + '-' + dd + ' ' + hr + ':' + min + ':' + sec
    },

  },

  methods: {
    ...mapMutations({
      setLogin: 'loggedUser/setLogin'
    }),

    ...mapActions({
      fetchParticipant: 'loggedUser/fetchOne',
      deactivateParticipant: 'participant/updateLogout'
    }),

    logout(isActive = true) {
      if (this.userData.role.id == 2) {
        let data = {
          id: this.participant.participant.id,
          status: 0
        }

        this.deactivateParticipant(data)
      }

      Auth.clearJwt()
      KSIAuth.clearJwt()
      this.$router.push({ name: 'login', params: { isActiveStatus: !isActive ? false : true } })
      this.isAdmin = false
      this.isLogin = true
      this.setLogin(false)
    },
  },

  watch: {
    userData() {
      if (this.userData.id) {
        this.fetchParticipant(this.userData.id)

        if (this.userData.role.id == 1 || this.userData.role.id == 3) {
          this.isLogin = false
          this.isAdmin = true
          this.dataIsComplete = true
        }
      }
    },

    participant() {
      if (this.participant.participant) {
        if (this.participant.participant.name === 'anonim') {
          this.dataIsComplete = false
        } else {
          this.isLogin = false
          let fullName = this.participant.participant.name.concat(' ')
          this.participantName = fullName.substr(0, fullName.indexOf(' '))
          this.dataIsComplete = true
        }

        if (this.participant.participant.status == 0 || this.getEndTimeDistance < 0) {
          this.logout(false)
        }

        let schedule = this.participant.participant.exam_detail.schedule
        if (schedule === undefined || (schedule !== undefined && schedule.status === 0)) {
          this.logout(false)
        }

      }
    }
  },

  mounted() {
    Auth.refetchToken()
    KSIAuth.refetchToken()
  }
}
</script>

<style>
  .scroll {
    overflow-y: auto;
  }

  .text-body {
    white-space: pre-wrap;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
  }
</style>