<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm6 md4>
      <v-card class="elevation-1">
        <v-toolbar dark color="primary" v-show="!loading">
          <v-toolbar-title>
            <v-avatar size="35px" tile>
              <img
                src="./assets/uajy.png"
                alt="UAJY"
              >
            </v-avatar>
            <span class="ml-3 font-weight-regular">Tes Antara UAJY</span>
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text v-if="loading == false">
          <v-form @keyup.native.enter="login">
            <v-text-field 
              prepend-icon="person" 
              name="login" 
              label="ID/No. Peserta" 
              type="text" 
              autocomplete="off" 
              :error-messages="errors.collect('username')"
              v-validate="'required'"
              data-vv-name="username"
              v-model="username">
            </v-text-field>
            <v-text-field 
              id="password" 
              prepend-icon="lock" 
              name="Kata sandi" 
              label="Kata Sandi" 
              type="password" 
              :error-messages="errors.collect('password')"
              v-validate="'required'"
              data-vv-name="password"
              v-model="password">
            </v-text-field>
          </v-form>
          <v-alert
            type="error"
            v-show="loginError"
          >
            {{ errorMessage }}
          </v-alert>
        </v-card-text>
        <v-card-text v-else class="text-xs-center">
          <v-progress-circular
            indeterminate
            color="primary"
            v-show="loading"
          ></v-progress-circular>
        </v-card-text>
        <v-card-actions v-show="!loading">
          <v-btn color="primary" @click="login" block>Masuk</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Auth from './Auth'
import KSIAuth from './KSIAuth'
import { mapGetters } from 'vuex'

export default {
  $_veeValidate: {
    validator: 'new'
  },
  
  props: {
    isActiveStatus: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    dictionary: {
      custom: {
        username: {
          required: 'Silakan isi Kolom ID/No. Peserta.',
        },
        password: {
          required: 'Silakan isi Kolom Kata Sandi.',
        },
      }
    },
    username: '',
    password: '',
    loginError: false,
    loading: false,
    errorMessage: ''
  }),

  computed: {
    ...mapGetters({
      loggedUser: 'loggedUser/getData',
      userStatus: 'loggedUser/getUserStatus'
    })
  },

  methods: {
    login() {
      this.$validator.validateAll()
        .then(res => {
          if (res) {
            this.loading = true

            Auth.authenticate(this.username, this.password)
              .then(() => {
                if(this.userStatus === 0){
                  this.loginError = true
                  this.errorMessage = 'Jadwal sudah tidak aktif.'
                  this.loading = false
                  return
                }
                if (this.loggedUser.role.id == 1 || this.loggedUser.role.id == 3) {
                  KSIAuth.authenticate('04.15.897', 'Sajoe250206!')
                  this.$router.push({ name: 'admin-dashboard' })
                }
                  else {
                  this.$router.push({ name: 'data-completion' })
                }
                
                this.loading = false
                this.$validator.reset()
              })
              .catch(() => {
                this.loginError = true
                this.errorMessage = 'Login gagal, silakan cek data diri kembali.'
                this.loading = false
              })
          }
        })
    }
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)

    if (!this.isActiveStatus) {
      this.loginError = true
      this.errorMessage = 'Akun sudah di-nonaktifkan'
    }
  },

  beforeMount() {
    if (Auth.getJwt() && KSIAuth.getJwt()) {
      Auth.refetchToken()
      KSIAuth.refetchToken()
      if (this.loggedUser.role.id == 1){
        this.$router.push({ name: 'admin-dashboard' })
      }
      else if (this.loggedUser.role.id == 2 && this.userStatus === 1){
        this.$router.push({ name: 'data-completion' })
      }
      else if (this.loggedUser.role.id == 3){
        this.$router.push({ name: 'admin-dashboard' })
      }
      //this.loggedUser.role.id == 1 ? this.$router.push({ name: 'admin-dashboard' }) : this.$router.push({ name: 'data-completion' })
    }
  },
}
</script>