<template>
<v-expansion-panel dark class="my-3" :value="0">
  <v-expansion-panel-content>
    <template v-slot:header>
      <div class="title">Wacana</div>
    </template>
    <v-divider></v-divider>
    <v-card>
      <v-card-text>
        <v-card color="grey darken-2">
          <v-card-text>
            <div v-if="discourse">
              <p class="subheading font-weight-bold">{{ discourse.title }}</p>
              <span v-if="discourse.body" v-html="discourse.body" class="text-body"></span>
              <div v-else></div>
              <v-img contain max-height="150" :src="$imageURL.concat(discourse.image.file_name)" class="mt-3" v-if="discourse.image"></v-img>
              <div v-else></div>
            </div>
            <p v-else class="font-italic">Tidak ada wacana.</p>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
  </v-expansion-panel-content>
</v-expansion-panel>
<!-- <v-card color="grey lighten-2" class="mt-2">
  <v-card-title class="title">
    Wacana
  </v-card-title>
  <v-divider></v-divider>
  <v-card-text>
    <v-card>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12>
            <p class="subheading font-weight-bold">{{ discourse.title }}</p>
            <span v-html="discourse.body" class="text-body"></span>
            <v-img contain max-height="150" :src="$imageURL.concat(discourse.image.file_name)" v-if="discourse.image != null" class="mt-4" />
            <div v-else></div>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-card-text>
</v-card> -->
</template>

<script>
/* eslint-disable */
export default {
  props: {
    discourse: {
      type: Object,
      default: null
    }
  },
}
</script>

<style>

</style>
