<template>
  <v-dialog
    v-model="dialog"
    max-width="450"
    persistent
  >
    <v-card v-if="!finishLoading">
      <v-card-title class="title">
        Selesaikan Ujian?
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="py-4 subheading">
        <div v-if="isLastQuestion">
          <p class="mb-1 pb-1">Anda berada di pertanyaan terakhir.</p>
          <p class="mb-1 pb-1">Apakah ingin menyelesaikan ujian?</p>
        </div>
        <div v-else>
          <p class="my-1 py-1">Apakah anda yakin untuk menyelesaikan ujian?</p>
          <p class="my-1 py-1">Pastikan untuk meninjau kembali jawaban anda sebelum selesai.</p>
        </div>
        <div v-if="unansweredQuestionsTotal > 0">
          <p><strong>Total pertanyaan yang belum terjawab: {{ unansweredQuestionsTotal }}</strong></p>
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" flat @click="continueExam">Lanjut Ujian</v-btn>
        <v-btn color="success" flat @click="finishExam">Selesai</v-btn>
      </v-card-actions>
    </v-card>
    <v-card v-else>
      <v-card-text class="text-xs-center">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    isFinish: {
      type: Boolean,
      default: false
    },

    isLastQuestion: {
      type: Boolean,
      default: false
    },

    finishLoading: {
      type: Boolean,
      default: false,
    },

    unansweredQuestionsTotal: Number
  },

  data: () => ({
    dialog: false
  }),

  methods: {
    continueExam() {
      this.$emit('continueExam')
    },

    finishExam() {
      this.$emit('finishExam')
    }
  },
  
  watch: {
    isFinish() {
      if (this.isFinish) {
        this.dialog = true
      } else {
        this.dialog = false
      }
    }
  }
}
</script>

<style>

</style>