<template>
  <v-dialog max-width="960" v-model="dialog" persistent>
    <v-btn light large block color="amber" slot="activator">Tata Cara Menjawab</v-btn>
    <v-card>
      <v-card-title>
        <span class="title">Tata Cara Menjawab Soal</span>
        <v-spacer></v-spacer>
        <v-btn class="my-0 py-0" flat icon @click="dialog = false"><v-icon>close</v-icon></v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="py-4 px-4">
        <span v-html="guideText"></span>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props:{
    text: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    dialog: true
  }),

  computed: {
    guideText() {
      let firstP = 'Soal Ujian ini terdiri dari 5 Subtes (130 soal) : Subtes Verbal (30 Soal), Subtes Kuantitatif (30 Soal), Subtes Penalaran (30 Soal), Subtes Structure and Written Expression (20 Soal), Subtes Reading Comprehension (20 Soal).'
      if(this.text === 'M.Hum' || this.text === "Magister Hukum"){
        firstP = 'Soal Ujian ini terdiri dari 5 Subtes (100 soal) : Subtes Verbal (45 Soal), Subtes Penyelesaian Kalimat (10 Soal), Subtes Kuantitatif (20 Soal), Subtes Penalaran Logis (5 Soal), Subtes Pemahaman Wacana (20 Soal).'
      }else if(this.text === 'M.Inf'|| this.text === "Magister Informatika"){
        firstP = 'Soal Ujian ini terdiri dari 5 Subtes (60 soal) : Subtes Verbal (10 Soal), Subtes Logika (15 Soal), Subtes Algoritma dan Pemrograman (10 Soal), Subtes Kuantitatif (15 Soal), Subtes Analitikal (10 Soal).'
      }else if(this.text === 'M.Ars'|| this.text === "Magister Arsitektur"){
        firstP = 'Soal Ujian ini terdiri dari 4 Subtes (100 soal) : Subtes Verbal (30 Soal), Subtes Penalaran (20 Soal), Subtes Kuantitatif (40 Soal), Subtes Wacana (10 Soal).'
      }else if(this.text === 'M.TS'|| this.text === "Magister Teknik Sipil"){
        firstP = 'Soal Ujian ini terdiri dari 4 Subtes (100 soal) : Subtes Verbal (30 Soal), Subtes Penalaran (20 Soal), Subtes Kuantitatif (40 Soal), Subtes Wacana (10 Soal).'
      }else if(this.text === 'M.TI'|| this.text === "Magister Teknik Industri"){
        firstP = 'Soal Ujian ini terdiri dari 4 Subtes (100 soal) : Subtes Verbal (20 Soal), Subtes Logika (20 Soal), Subtes Kuantitatif (20 Soal), Subtes Kompetensi Teknik Industri (40 Soal).'
      }else if(this.text === 'M.IKom'|| this.text === "Magister Ilmu Komunikasi"){
        firstP = 'Soal Ujian ini terdiri dari 5 Subtes (100 soal) : Subtes Verbal (45 Soal), Subtes Penyelesaian Kalimat (10 Soal), Subtes Kuantitatif (20 Soal), Subtes Penalaran Logis (5 Soal), Subtes Pemahaman Wacana (20 Soal).'
      }else if(this.text === 'M.Man'|| this.text === "Magister Manajemen"){
        firstP = 'Soal Ujian ini terdiri dari 5 Subtes (100 soal) : Subtes Verbal (45 Soal), Subtes Penyelesaian Kalimat (10 Soal), Subtes Kuantitatif (20 Soal), Subtes Penalaran Logis (5 Soal), Subtes Pemahaman Wacana (20 Soal).'
      }
      let msg = 
        '<ol>' + 
        '<li class="mb-2">' + firstP +'</li>' +
        '<li class="mb-2">Beberapa jenis soal memiliki <b>PETUNJUK</b> dan atau <b>WACANA</b> yang terletak di bagian kiri. Silakan dibaca dengan saksama sebelum menjawab soal.</li>' +
        '<li class="mb-2">Jawablah soal dengan cara mengklik pada lingkaran pada label pilihan jawaban lalu tekan tombol <b>"Berikutnya"</b> atau <b>"Sebelumnya"</b> untuk berpindah ke soal selanjutnya atau sebelumnya sesuai konteks yang dipilih.</li>' +
        '<li class="mb-2">Apabila tombol <b>"Berikutnya"</b> atau <b>"Sebelumnya"</b> diklik tanpa memilih jawaban, soal tidak akan terjawab dan langsung berpindah ke soal selanjutnya atau sebelumnya sesuai konteks yang dipilih.</li>' +
        '<li class="mb-2">Soal yang sudah terjawab akan terlihat di bagian <b>"Navigasi Soal"</b> dan ditandai dngan warna <b>HIJAU</b>.</li>' +
        '<li class="mb-2">Tombol <b>"<"</b> dan <b>">"</b> pada <b>"Navigasi Soal"</b> memiliki fungsi yang sama dengan tombol <b>"Berikutnya"</b> dan <b>"Sebelumnya"</b> di bagian bawah soal yang ditekan tanpa menjawab soal (jadi hanya untuk berpindah dari soal satu ke soal selanjutnya atau sebelumnya sesuai konteks yang dipilih).</li>' +
        '<li class="mb-2">Anda bisa melihat semua soal yang sudah dan belum dijawab pada bagian <b>"Navigasi Soal"</b></li>' +
        '<li class="mb-2">Perhatikan <b>INDIKATOR WAKTU</b> pengerjaan di bagian kanan atas. Jika waktu sudah habis, maka ujian akan selesai secara otomatis dan langsung menghitung nilai akhir.</li>' +
        '<li class="mb-2">Jika sudah selesai mengerjakan soal, silakan klik tombol <b>"Selesai"</b> berwarna <b>HIJAU</b> yang terletak tepat di bawah <b>INDIKATOR WAKTU</b>.</li>' +
        '</ol>'

      return msg
    }
  }
}
</script>

<style>
  
</style>