<template>
  <!-- <v-dialog
    v-model="dialog"
    max-width="600"
    persistent
  >
    <v-card>
      <v-card-title class="title">
        Petunjuk
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <span v-html="hint" class="text-body"></span>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="secondary"
          flat="flat"
          @click="close"
        >
          Tutup
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog> -->
  <v-expansion-panel dark :value="0" class="mt-3">
    <v-expansion-panel-content>
      <template v-slot:header>
        <div class="title">Petunjuk Soal</div>
      </template>
      <v-divider></v-divider>
      <v-card>
        <v-card-text>
          <v-card color="grey darken-2">
            <v-card-text>
              <div v-if="hint">
                <span v-html="hint" class="text-body"></span>
              </div>
              <p v-else class="font-italic">Tidak ada petunjuk.</p>
            </v-card-text>
          </v-card>
        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
  <!-- <v-card color="grey lighten-2">
    <v-card-title class="title">
      Petunjuk
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-card>
        <v-card-text>
          <span v-html="hint" class="text-body"></span>
        </v-card-text>
      </v-card>
    </v-card-text>
  </v-card> -->
</template>

<script>
/* eslint-disable */
export default {
  props: {
    hint: {
      type: String,
      default: null
    }
  }
}
</script>

<style>

</style>
