<template>
  <v-layout v-show="dataIsComplete" align-center justify-center>

    <!-- <hint-dialog v-on:closeHintDialog="closeHintDialog" :hint="hint"></hint-dialog> -->
    <finish-dialog 
      v-on:finishExam="finishExam" 
      v-on:continueExam="continueExam" 
      :isFinish="finish" 
      :isLastQuestion="lastQuestion" 
      :finishLoading="finishLoading"
      :unansweredQuestionsTotal="unansweredQuestionsTotal"
    ></finish-dialog>

    <v-flex v-if="!examLoading">
      <v-flex v-if="isExamSet">
        <!-- IS TIME -->
        <v-flex v-if="isTime">

          <!-- TOOLBAR -->
          <v-flex xs12>
            <v-toolbar
              color="blue darken-3"
              dark
              fixed
              app
            >
              <v-toolbar-title>
                <v-avatar size="35px" tile>
                  <img
                    src="../../../assets/uajy.png"
                    alt="UAJY"
                  >
                </v-avatar>
                <span class="ml-3 font-weight-regular">Tes Antara UAJY</span>
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items class="pt-1 pr-3">
                <v-layout align-center justify-center fill-height>
                  <span class="title font-weight-regular">Sisa waktu:&nbsp;</span>
                  <span class="title font-weight-regular">
                    <vue-countdown v-on:time-expire="handleTimeExpire" :seconds="timeLimit" :start="startExam" message="00:00:00"></vue-countdown>
                  </span>
                  <vue-countdown v-on:time-expire="handleTimeExpire" :seconds="endTimeDistance" :start="startEndingCountdown" message="00:00:00" v-show="false"></vue-countdown>
                </v-layout>
              </v-toolbar-items>
            </v-toolbar>
          </v-flex>
          <!-- END TOOLBAR -->

          <!-- QUESTION SECTION -->
          <v-flex v-if="question && !questionLoading">
            <v-container grid-list-md fluid class="px-0 py-0">
              <v-layout row wrap>

                <!-- HINT DISCOURSE -->
                <v-flex xs12 sm3 v-if="question">
                  <div class="sticky py-0 px-0 my-0 mx-0">
                    <!-- <v-card color="grey lighten-2">
                      <v-card-text>
                        <v-btn large block color="amber" :disabled="!question.hint" @click="showHintDialog">Tampilkan Petunjuk</v-btn>
                      </v-card-text>
                    </v-card> -->
                    <!-- <hint-card :hint="hint" v-if="hint"></hint-card>
                    <v-card color="grey lighten-2" v-else>
                      <v-card-title class="title">
                        Petunjuk
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text class="subheading">Tidak ada petunjuk.</v-card-text>
                    </v-card>
                    <discourse-card :discourse="discourse" v-if="discourse"></discourse-card>
                    <v-card color="grey lighten-2" class="mt-2" v-else>
                      <v-card-title class="title">
                        Wacana
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text class="subheading">Tidak ada wacana.</v-card-text>
                    </v-card> -->
                    <v-card dark>
                      <v-card-text class="text-xs-center">
                        <guide-dialog :text="getStudyProgram()"></guide-dialog>
                      </v-card-text>
                    </v-card>
                    <hint-card :hint="hint"></hint-card>
                    <discourse-card :discourse="discourse"></discourse-card>
                  </div>
                </v-flex>
                <!-- END HINT DISCOURSE -->

                <!-- QUESTION -->
                <v-flex xs12 sm6>
                  <v-card color="grey lighten-2">

                    <!-- QUESTION NUMBER -->
                    <v-card-title>
                      <span class="title">Soal {{ questionIndex }}.</span>
                      <v-spacer></v-spacer>
                      <span class="title">Kategori: {{ question.category }}</span>
                    </v-card-title>
                    <!-- END QUESTION NUMBER -->

                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container class="py-0 px-0">
                        <v-layout row wrap>

                          <!-- QUESTION TEXT -->
                          <v-flex xs12>
                            <v-card>
                              <v-card-text>
                                <v-layout wrap>
                                  <v-flex xs12>
                                    <p class="subheading"><span v-html="question.question" class="text-body"></span></p>
                                  </v-flex>
                                  <v-flex xs12 sm6>
                                    <v-img contain max-height="150" :src="$imageURL.concat(question.image.file_name)" v-if="question.image"></v-img>
                                    <div v-else></div>
                                  </v-flex>
                                </v-layout>
                              </v-card-text>
                            </v-card>
                          </v-flex>
                          <!-- END QUESTION TEXT -->

                          <!-- ANSWER CHOICES -->
                          <v-flex xs12>
                            <v-card>
                              <v-card-title class="title">
                                Pilihan Jawaban
                              </v-card-title>
                              <v-divider></v-divider>
                              <v-card-text class="py-0 my-0">
                                <v-radio-group v-model="selectedChoice" row  class="py-0 my-0">

                                  <v-container grid-list-md>
                                    <v-layout row wrap>
                                      <v-flex xs12 md6 v-for="(choice, index) in question.answer_choices" :key="index" >

                                        <v-card dark :color="selectedChoice == choice.index ? 'green darken-2' : 'grey darken-2'">
                                          <v-card-text>
                                            <v-layout row wrap>
                                              <v-flex xs12 class="pt-1 pb-2">
                                                <v-radio 
                                                  :label="index == 0 ? 'A' : index == 1 ? 'B' : index == 2 ? 'C' : index == 3 ? 'D' : 'E'" 
                                                  color="amber" 
                                                  class="font-weight-bold"
                                                  :value="choice.index"
                                                ></v-radio>
                                              </v-flex>
                                              <v-flex xs12>
                                                <v-card class="scroll" height="150" :color="selectedChoice == choice.index ? 'green darken-4' : ''">
                                                  <v-card-text>
                                                    <span v-html="choice.choice_text" v-if="choice.choice_text" class="body-1 text-body"></span>
                                                    <div v-else></div>
                                                    <v-img contain max-height="125" 
                                                      :src="$imageURL.concat(choice.choice_image_name)" 
                                                      v-if="choice.choice_image_id"
                                                      :class="choice.choice_text ? 'mt-3' : ''"
                                                    />
                                                    <div v-else></div>
                                                  </v-card-text>
                                                </v-card>
                                              </v-flex>
                                            </v-layout>
                                          </v-card-text>
                                        </v-card>

                                      </v-flex>
                                    </v-layout>
                                  </v-container>

                                </v-radio-group>
                              </v-card-text>
                            </v-card>
                          </v-flex>
                          <!-- END ANSWER CHOICES -->

                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-divider></v-divider>

                    <!-- ACTIONS -->
                    <v-card-actions>
                      <p v-show="alert" class="red--text font-weight-bold ml-4">Gagal menyimpan jawaban</p>
                      <v-spacer></v-spacer>
                      <v-btn color="secondary" @click="answer('prev')" :loading="storeAnswerLoadingPrev" :disabled="isFirstQuestion"><v-icon left>navigate_before</v-icon>Sebelumnya</v-btn>
                      <v-btn color="primary" @click="answer()" :loading="storeAnswerLoadingNext">Berikutnya<v-icon right>navigate_next</v-icon></v-btn>
                    </v-card-actions>
                    <!-- END ACTIONS -->

                  </v-card>
                </v-flex>
                <!-- END QUESTION -->

                <!-- QUESTION NAVIGATION -->
                <v-flex xs12 sm3 v-if="question">
                  <div class="py-0 px-0 my-0 mx-0 sticky">
                    <v-btn color="success" @click="finish = true" block large class="mt-0 pt-0 mb-3">Selesai Ujian</v-btn>
                    <v-toolbar class="elevation-1" color="grey lighten-2">
                      <v-toolbar-title class="title">Navigasi Soal</v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-toolbar-items>
                        <v-btn color="secondary" icon flat :disabled="isFirstQuestion" @click="prevQuestion"><v-icon>navigate_before</v-icon></v-btn>
                        <v-btn color="secondary" icon flat :disabled="isLastQuestion" @click="nextQuestion"><v-icon>navigate_next</v-icon></v-btn>
                      </v-toolbar-items>
                    </v-toolbar>
                    <v-card class="scroll" max-height="600">
                      <v-card-text>
                        <v-btn
                          v-for="(q, index) in questions"
                          :key="index"
                          icon
                          :outline="index == questions.findIndex(e => e.id == question.id)"
                          :color="index == questions.findIndex(e => e.id == question.id) || answeredQuestions.some(e => e.question_id == q.id) && answeredQuestions[answeredQuestions.findIndex(e => e.question_id == q.id)].choice_index != 0
                                    ? 'success'
                                    : null"
                          @click="setQuestion(index + 1)"
                        >{{ index + 1 }}</v-btn>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-flex>
                <!-- END QUESTION NAVIGATION -->

              </v-layout>
            </v-container>
          </v-flex>
          
          <v-flex xs12 v-else>
            <v-container>
              <v-layout align-center justify-center>
                <v-flex xs12 sm6 md4>
                  <v-card>
                    <v-card-text class="text-xs-center">
                      <v-progress-circular
                        indeterminate
                        color="primary"
                      ></v-progress-circular>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
          <!-- END QUESTION SECTION -->

        </v-flex>

        <!-- IS NOT THE TIME YET -->
        <v-flex v-else>
          <v-container>
            <v-layout align-center justify-center>
              <v-flex xs12 sm10 md8 text-xs-center>
                <v-card height="400">
                  <v-layout align-center justify-center row fill-height>
                    <v-card-text>
                      <p class="title">Ujian akan dimulai dalam: </p>
                      <!-- <span class="title font-weight-regular">Sisa waktu:&nbsp;</span> -->
                      <span class="title font-weight-regular">
                        <vue-countdown v-on:time-expire="startExamTime" :seconds="timeDistance" :start="startCountdown" message="00:00:00"></vue-countdown>
                      </span>
                      <!-- <p class="display-1">1:59:59</p> -->
                      <p class="subheading mt-2">Silakan mencoba fitur simulasi sambil menunggu.</p>
                      <v-btn large color="success" class="mt-3" @click="$router.push({ name: 'exam.simulation' })">Coba Simulasi</v-btn><br>
                      <v-btn large color="primary" class="mt-3" @click="$router.push('dashboard')">Kembali ke Beranda</v-btn>
                    </v-card-text>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-flex>

      <!-- IF EXAM NOT SET -->
      <v-flex v-else>
        <p class="subheading">Belum ada data ujian. Silakan menghubungi panitia ujian.</p>
        <v-btn color="primary" @click="$router.push('dashboard')">Kembali ke Beranda</v-btn>
      </v-flex>
    </v-flex>

    <!-- examLoading -->
    <v-flex xs12 sm6 md4 v-else>
      <v-card>
        <v-card-text class="text-xs-center">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-flex>
      
  </v-layout>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import VueCountdown from '@dmaksimovic/vue-countdown'
import HintCard from './HintCard'
import DiscourseCard from './DiscourseCard'
import FinishDialog from './FinishDialog'
import GuideDialog from './GuideDialog'

export default {
  components: {
    VueCountdown,
    HintCard,
    DiscourseCard,
    FinishDialog,
    GuideDialog
  },

  data: () => ({
    questions: [],
    question: null,
    questionIndex: 0,
    answeredQuestions: [],
    dataIsComplete: false,
    examLoading: true,
    questionLoading: false,
    storeAnswerLoadingPrev: false,
    storeAnswerLoadingNext: false,
    isExamSet: false,
    isTime: true,
    startExam: false,
    startCountdown: false,
    startEndingCountdown: false,
    timeLimit: 0,
    timeDistance: 0,
    endTimeDistance: 0,
    selectedChoice: 0,
    action: null,
    hint: null,
    discourse: null,
    finish: false,
    finishLoading: false,
    lastQuestion: false,
    alert: false
  }),

  computed: {
    ...mapGetters({
      participant: 'loggedUser/getParticipant',
      examSchedule: 'examSchedule/getActive',
      examDetail: 'examDetail/getActive'
    }),

    answerData() {
      let data = {
        exam_detail_id: this.participant.participant.exam_detail.id,
        question_id: this.question.id,
        choice_index: this.selectedChoice
      }

      return data
    },

    isFirstQuestion() {
      return this.questionIndex - 1 == 0 ? true : false
    },

    isLastQuestion() {
      return this.questionIndex == this.questions.length ? true : false
    },

    answeredQuestion() {
      return this.answeredQuestions[this.answeredQuestions.findIndex(e => e.question_id == this.question.id)]
    },

    isQuestionAnswered() {
      return this.answeredQuestions.some(e => e.question_id === this.question.id) ? true : false
    },

    unansweredQuestionsTotal() {
      return this.questions.length - this.answeredQuestions.length
    },

    getStartTimeDistance() {
      let now = new Date(this.getCurrentTime())
      let examStart = new Date(this.examSchedule.start_time)
      let timeDistance = (examStart - now) / 1000

      return timeDistance
    },

    getEndTimeDistance() {
      let now = new Date(this.getCurrentTime())
      let examEnd = new Date(this.examSchedule.end_time)
      let timeDistance = (examEnd - now) / 1000

      return timeDistance
    }
  },

  methods: {
    getStudyProgram(){
      return this.examDetail.question_packet.packet_code.split(' ')[0]
    },
    ...mapActions({
      fetchExamSchedule: 'examSchedule/fetchOne',
      fetchQuestions: 'questionPacket/showQuestions',
      fetchOneQuestion: 'question/fetchOne',
      fetchUserAnswers: 'examDetail/showAnswers',
      storeAnswer: 'examAnswer/store',
      updateAnswer: 'examAnswer/update',
      updateExamDetail: 'examDetail/finishExam',
      updateIdvCutOff: 'examDetail/update',
      fetchExamDetail: 'examDetail/fetchOne',
      // storeEmptyAnswers: 'examDetail/storeEmptyAnswers'
      storeSummaries: 'examDetail/storeSummaries',
      deleteSummaries: 'examDetail/deleteSummaries'
    }),

    ...mapMutations({
      setActivePacket: 'questionPacket/setActive',
      setActiveSchedule: 'examSchedule/setActive',
      setActiveExamDetail: 'examDetail/setActive'
    }),

    getCurrentTime(isCutOff = false) {
      let dt = new Date()

      if (isCutOff)
        dt.setMinutes(dt.getMinutes() + this.examSchedule.cut_off)

      let dd = String(dt.getDate()).padStart(2, '0')
      let mm = String(dt.getMonth() + 1).padStart(2, '0')
      let yyyy = dt.getFullYear()
      let hr = String(dt.getHours()).padStart(2, '0')
      let min = String(dt.getMinutes()).padStart(2, '0')
      let sec = String(dt.getSeconds()).padStart(2, '0')
      
      return yyyy + '-' + mm + '-' + dd + ' ' + hr + ':' + min + ':' + sec
    },

    fetchScheduleHandler(item) {
      this.fetchExamSchedule(item)
        .then(res => {
          this.setActiveSchedule(res)
        })
        .then(() => {
          // console.log(this.getStartTimeDistance)
          if (this.getEndTimeDistance > 0) {
             if (this.getStartTimeDistance > 0) {
              this.isTime = false
              this.startCountdown = true
              this.timeDistance = this.getStartTimeDistance
              this.examLoading = false
            } else {
              this.startEndingCountdown = true
              this.endTimeDistance = this.getEndTimeDistance
              this.setCutOffTime()
            }
          } else {
            this.$router.push('dashboard')
          }
        })
    },

    fetchQuestionsHandler(item) {
      this.fetchQuestions(item)
        .then(res => {
          this.questions = res
          this.isExamSet = true
          this.startExam = true
          this.questionLoading = false
          this.setQuestion(1)
        })
    },

    setCutOffTime() {
      if (this.participant.participant.exam_detail.idv_cut_off_time) {
        this.setTimeLimit()
      } else {
        let scheduleData = {
          id: this.participant.participant.exam_detail.id,
          idv_cut_off_time: this.getCurrentTime(true)
        }

        this.updateIdvCutOff(scheduleData)
          .then(() => {
            this.setTimeLimit()
          })
      }
    },

    setTimeLimit() {
      this.fetchExamDetail(this.participant.participant.exam_detail.id)
        .then(res => {
          this.setActiveExamDetail(res)
        })
        .then(() => {
          this.examLoading = false
          let startTime = new Date(this.getCurrentTime())
          let endTime = new Date(this.examDetail.idv_cut_off_time)
          let timeLimit = (endTime - startTime) / 1000
          this.timeLimit = timeLimit
          // console.log(timeLimit)
        })
    },
    
    setQuestion(index) {
      this.selectedChoice = 0
      this.alert = false
      this.questionIndex = index
      this.question = this.questions[index - 1]
      this.question.discourse ? this.discourse = this.question.discourse : this.discourse = null
      this.question.hint ? this.hint = this.question.hint : this.hint = null
      
      this.fetchUserAnswers(this.participant.participant.exam_detail.id)
        .then(res => {
          this.answeredQuestions = res
          // res.forEach(e => {
          //   if (e.choice_index != 0)
          //     this.answeredQuestions.push(e)
          // })

          if (this.isQuestionAnswered)
            this.selectedChoice = this.answeredQuestion.choice_index
        })

      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    },

    prevQuestion() {
      if (this.isFirstQuestion)
        return
      else
        this.setQuestion(this.questionIndex - 1)
    },

    nextQuestion() {
      if (this.isLastQuestion)
        return
      else
        this.setQuestion(this.questionIndex + 1)
    },

    startExamTime() {
      this.isTime = true
      this.examLoading = true
      this.startCountdown = false
      this.setCutOffTime()
    },

    handleTimeExpire() {
      this.startExam = false
      this.finishExamHandler()
    },

    finishExam() {
      this.finishLoading = true
      // let gonnaStore = []
      // let gonnaUpdate = []
      // console.log(this.questions)
      // console.log(this.answeredQuestions)
      
      // if (this.questions.length != this.answeredQuestions.length) {
      //   for (let i = 0; i < this.questions.length; i++) {
      //     if (!this.answeredQuestions.some(e => e.question_id == this.questions[i].id)) {
      //       this.setQuestion(i + 1)
      //       console.log(i)
            // this.storeAnswerHandler(true)
            // this.answerData.is_correct = 0
            // gonnaStore.push(this.answerData)
            // this.setQuestion(this.questionIndex)
          // } else {
          //    if (this.answeredQuestions[this.answeredQuestions.findIndex(e => e.question_id === this.questions[i].id)].choice_index == 0) {
          //     this.setQuestion(i + 1)
          //     this.updateAnswerHandler(true)
              // this.answerData.id = this.answeredQuestion.id
              // gonnaUpdate.push(this.answerData)
      //       }
      //     }
      //   }
      // }

      // if (gonnaStore.length > 0) {
      //   let payload = {
      //     id: this.participant.participant.exam_detail.id,
      //     answers: gonnaStore
      //   }
      //   console.log('storing empty answer')

        // this.storeEmptyAnswers(payload)
        //   .then(res => {
        //     console.log(res)
        //     this.finishExamHandler()
        //   })
      // } else {
      //   this.finishExamHandler()
      // }

      this.finishExamHandler()
      // }

      // if (gonnaUpdate.length > 0) {

      // }    
    },

    finishExamHandler() {
      this.updateExamDetail(this.participant.participant.exam_detail)
        .then(() => {
          this.deleteSummaries(this.participant.participant.exam_detail.id)
        })
        .then(() => {
          this.storeSummaries(this.participant.participant.exam_detail.id)
        })
        .then(() => {
          this.finishLoading = false
          this.$router.push('dashboard')
        })
        .catch(() => {
          // console.log(err)
        })
    },

    continueExam() {
      this.finish = false
      this.lastQuestion = false
    },

    answer(action = 'next') {
      this.action = action

      if (this.selectedChoice == 0) {
        action == 'next' ? this.nextQuestion() : this.prevQuestion()
      } else {
        action == 'next' ? this.storeAnswerLoadingNext = true : this.storeAnswerLoadingPrev = true
        
        this.isQuestionAnswered ? this.updateAnswerHandler() : this.storeAnswerHandler()
      }
    },

    storeAnswerHandler(bulkStore = false) {
      this.storeAnswer(this.answerData)
        .then(() => {
          this.action == 'next' ? this.storeAnswerLoadingNext = false : this.storeAnswerLoadingPrev = false

          if (this.isLastQuestion && !bulkStore) {
            this.finish = true
            this.lastQuestion = true
            this.setQuestion(this.questionIndex)
          } else if (!bulkStore) {
            this.action == 'next' ? this.nextQuestion() : this.prevQuestion()
          } else {
            this.setQuestion(this.questionIndex)
          }
        })
        .catch(() => {
          // console.log(err)
          this.alert = true
          this.storeAnswerLoadingPrev = false
          this.storeAnswerLoadingNext = false
        })
    },

    updateAnswerHandler(bulkStore = false) {
      this.answerData.id = this.answeredQuestion.id
      
      this.updateAnswer(this.answerData)
        .then(() => {
          this.action == 'next' ? this.storeAnswerLoadingNext = false : this.storeAnswerLoadingPrev = false

          if (this.isLastQuestion && !bulkStore) {
            this.finish = true
            this.lastQuestion = true
            this.setQuestion(this.questionIndex)
          } else if (!bulkStore) {
            this.action == 'next' ? this.nextQuestion() : this.prevQuestion()
          } else {
            this.setQuestion(this.questionIndex)
          }
        })
        .catch(() => {
          // console.log(err)
          this.alert = true
          this.storeAnswerLoadingPrev = false
          this.storeAnswerLoadingNext = false
        })
    },

    // showHintDialog() {
    //   this.hint = this.question.hint
    // },

    // closeHintDialog() {
    //   this.hint = null
    // },
  },

  watch: {
    timeLimit() {
      if (this.timeLimit <= 0)
        this.finishExam()
    },
    
    participant() {
      if (this.participant) {
        if (this.participant.participant.name == 'anonim') {
          this.dataIsComplete = false
          this.$router.push({ name: 'data-completion' })
        } else {
          this.dataIsComplete = true
          
          if (this.participant.participant.exam_detail) {
            this.fetchQuestionsHandler(this.participant.participant.exam_detail.packet_id)
            this.fetchScheduleHandler(this.participant.participant.exam_detail.schedule_id)

            if (this.participant.participant.exam_detail.total_score)
              this.$router.push('dashboard')
          } else {
            this.examLoading = false
          }
        }
      }
    },
  }
}
</script>

<style>

</style>