<template>
  <v-dialog v-model="dialog" max-width="600px" persistent>
    <v-btn color="primary" slot="activator" >Tambah Baru</v-btn>
    <success-dialog
      :dialog="successDialog"
      :success="success"
      model="Jadwal Ujian"
      :error="error"
      :errorMessage="errorMessage"
      :action="action"
      v-on:closeSuccessDialog="closeSuccessDialog"  
    ></success-dialog>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm12>
              <v-switch v-model="status" :label="!status? 'Status Tidak Aktif' : 'Status Aktif'"></v-switch>
            </v-flex>
            <v-flex xs12 sm8>
              <v-menu
                v-model="dateMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="examDate"
                    label="Tanggal Mulai Ujian"
                    prepend-icon="event"
                    readonly
                    :error-messages="errors.collect('date')"
                    v-validate="'required'"
                    data-vv-name="date"
                    required
                    box
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker :min="today" v-model="examDate" @input="dateMenu = false" no-title></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm4>
              <v-menu
                ref="start_time_menu"
                v-model="startTimeMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="startTime"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="startTime"
                    label="Jam Mulai"
                    prepend-icon="access_time"
                    readonly
                    box
                    :error-messages="errors.collect('startTime')"
                    v-validate="'required'"
                    data-vv-name="startTime"
                    required
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="startTimeMenu"
                  v-model="startTime"
                  full-width
                  format="24hr"
                  @click:minute="$refs.start_time_menu.save(startTime)"
                ></v-time-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm8>
              <v-menu
                v-model="dateMenu2"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="examDateEnd"
                    label="Tanggal Selesai Ujian"
                    prepend-icon="event"
                    readonly
                    :error-messages="errors.collect('date')"
                    v-validate="'required'"
                    data-vv-name="date"
                    required
                    box
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker :min="today" v-model="examDateEnd" @input="dateMenu2 = false" no-title></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm4>
              <v-menu
                ref="end_time_menu"
                v-model="endTimeMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="endTime"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="endTime"
                    label="Jam Selesai"
                    prepend-icon="access_time"
                    readonly
                    box
                    :error-messages="errors.collect('endTime')"
                    v-validate="'required'"
                    data-vv-name="endTime"
                    required
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="endTimeMenu"
                  v-model="endTime"
                  full-width
                  format="24hr"
                  @click:minute="$refs.end_time_menu.save(endTime)"
                ></v-time-picker>
              </v-menu>
            </v-flex>
             <v-flex xs12 sm12>
              <v-text-field 
                type="number" 
                box 
                v-model="cutOff" 
                :error-messages="errors.collect('cutOff')"
                v-validate="'required'"
                data-vv-name="cutOff"
                required
                label="Cut-off (Menit)"
              >
              </v-text-field>
            </v-flex>
             <v-flex xs12 sm12>
                <v-textarea
                  box
                  label="Keterangan"
                  v-model="note"
                ></v-textarea>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <span class="red--text font-weight-bold ml-3" v-show="alert">{{ alertMessage }}</span>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-3" flat @click.native="close">Batal</v-btn>
        <v-btn color="blue darken-3" flat @click.native="save">Simpan</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  /* eslint-disable */
  import { mapGetters, mapActions } from 'vuex'
  import SuccessDialog from '../SuccessDialog'

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    components: {
      SuccessDialog,
    },

    data: () => ({
      dictionary: {
        custom: {
          date: {
            required: 'Tanggal Ujian tidak boleh kosong.',
          },
          startTime: {
            required: 'Jam Mulai tidak boleh kosong.',
          },
          endTime: {
            required: 'Jam Selesai tidak boleh kosong.',
          },
          cutOff: {
            required: 'Waktu Cut-off tidak boleh kosong'
          }
        }
      },
      status: true,
      note: null,
      dialog: false,
      dateMenu: false,
      dateMenu2: false,
      startTimeMenu: false,
      endTimeMenu: false,
      examDate: null,
      examDateEnd: null,
      startTime: null,
      endTime: null,
      cutOff: null,
      successDialog: false,
      success: false,
      error: false,
      errorMessage: '',
      action: '',
      alertMessage: '',
      alert: false,
    }),

    computed: {
      ...mapGetters({
        scheduleActive: 'examSchedule/getActive',
      }),
      
      formTitle() {
        return this.scheduleActive.id == null ? 'Tambah Jadwal' : 'Edit Jadwal'
      },
      
      today() {
        let today = new Date()
        let dd = String(today.getDate()).padStart(2, '0')
        let mm = String(today.getMonth() + 1).padStart(2, '0')
        let yyyy = today.getFullYear()

        today = yyyy + '-' + mm + '-' + dd

        return today
      },

      newScheduleData() {
        const data = {
          start_time: this.examDate.concat(' ').concat(this.startTime).concat(':00'),
          end_time: this.examDateEnd.concat(' ').concat(this.endTime).concat(':00'),
          summary: this.examDate.concat(' ').concat(this.startTime).concat(' - ').concat(this.examDateEnd).concat(' ').concat(this.endTime).concat(' WIB'),
          cut_off: this.cutOff,
          note : this.note,
          status : this.status
        }

        return data
      },

      isTimeRangeValid() {
        let startTime = new Date(this.examDate.concat('T').concat(this.startTime))
        let endTime = new Date(this.examDateEnd.concat('T').concat(this.endTime))
        let timeRange = (endTime - startTime) / 1000
        
        return timeRange < (this.cutOff * 60) ? false : true
      }
    },

    methods: {
      ...mapActions({
        storeSchedule: 'examSchedule/store',
        updateSchedule: 'examSchedule/update',
      }),
     
      close() {
        this.$validator.reset()
        this.dialog = false
        this.dateMenu = false
        this.dateMenu2 = false
        this.startTimeMenu = false
        this.endTimeMenu = false
        this.examDate = null
        this.examDateEnd = null
        this.startTime = null
        this.endTime = null
        this.cutOff = null
        this.alert = false
        this.status = true
        this.note = null
        this.$emit('closeEditDialog')
      },

      save() {
        this.$validator.validateAll()
          .then(res => {
            if (res) {
              if (this.isTimeRangeValid) {
                if (this.scheduleActive.id != null) {
                  // Update
                  let newData = this.newScheduleData
                  newData.id = this.scheduleActive.id

                  this.successDialog = true
                  
                  this.updateSchedule(newData)
                    .then(res => {
                      this.success = true
                      this.action = 'diubah'
                    })
                    .catch(err => {
                      this.error = true
                      this.errorMessage = err.data
                    })
                } else {
                  // New
                  this.successDialog = true

                  this.storeSchedule(this.newScheduleData)
                    .then(res => {
                      this.success = true
                      this.action = 'ditambah'
                    })
                    .catch(err => {
                      this.error = true
                      this.errorMessage = err.data
                    })
                }
                this.close()
              } else { 
                this.alert = true
                this.alertMessage = 'Cut-off pastikan tidak melebihi batas waktu awal.'
              }
            }
          });
      },

      closeSuccessDialog() {
        this.successDialog = false
        this.success = false
        this.error = false
      },
    },

    watch: {
      scheduleActive() {
        if (this.scheduleActive.id != null) {
          this.dialog = true
          this.examDate = this.scheduleActive.start_time.substring(0, 10)
          this.examDateEnd = this.scheduleActive.end_time.substring(0, 10)
          this.startTime = this.scheduleActive.start_time.substring(11, 16)
          this.endTime = this.scheduleActive.end_time.substring(11, 16)
          this.cutOff = this.scheduleActive.cut_off
          this.note = this.scheduleActive.note
          if(this.scheduleActive.status === "Tidak Aktif"){
            this.status = false
          }else{
            this.status = true
          }
        }
      },
    },

    mounted() {
      this.$validator.localize('en', this.dictionary)
    },
  }
</script>